.courselist-banner-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue-200);
  width: 1343px;
  height: 245.66px;
}
.what-we-do-container {
  position: relative;
  line-height: 41.04px;
}
.visit-the-challenge {
  position: relative;
  line-height: 26.11px;
}
.divsc-hatbpv,
.spansc-flqrdb {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.spansc-flqrdb {
  flex-direction: row;
  padding: var(--padding-0) 27.046527862548828px var(--padding-0)
    var(--padding-0);
  font-size: 16.79px;
  color: var(--color-gainsboro-500);
  font-family: var(--font-epilogue);
}
.divsc-hatbpv {
  position: absolute;
  top: 37.13px;
  left: 139.9px;
  flex-direction: column;
  padding: var(--padding-0) 358.1333312988281px 22.383333206176758px
    var(--padding-0);
  gap: 14.92px;
}
.courselist-banner,
.courselist-banner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1343px;
  height: 245.66px;
}
.courselist-banner-wrapper {
  top: 143.8px;
  font-size: 31.71px;
}
.group-child16 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-aliceblue-300);
  width: 1343px;
  height: 66.76px;
}
.home-competition3 {
  position: absolute;
  top: 22.51px;
  right: 515.75px;
  line-height: 26.11px;
  font-weight: 500;
  display: inline-block;
  width: 761.97px;
  height: 21.74px;
  opacity: 0.7;
}
.navigasi-login-child3,
.rectangle-parent9 {
  position: absolute;
  top: 76.98px;
  left: 0;
  width: 1343px;
  height: 66.76px;
}
.navigasi-login-child3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-darkslateblue-200);
}
.mask-group-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 44.72px;
  height: 44.72px;
  object-fit: cover;
}
.frontend-developer4,
.hi-ogunfuye-segun4 {
  position: absolute;
  left: 0;
  line-height: 150%;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.hi-ogunfuye-segun4 {
  top: 0;
  font-size: 11.85px;
  font-weight: 500;
}
.frontend-developer4 {
  top: 17.78px;
  font-size: 10.16px;
  opacity: 0.7;
}
.hi-ogunfuye-segun-parent1 {
  text-decoration: none;
  position: absolute;
  top: 4.49px;
  left: 44.78px;
  width: 116px;
  height: 32.78px;
  cursor: pointer;
}
.vector-icon17 {
  position: relative;
  width: 11.85px;
  height: 6.77px;
}
.icon4 {
  position: absolute;
  top: 10.09px;
  left: 175.16px;
  width: 20.58px;
  height: 19.67px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 7.29371452331543px 5.209795951843262px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.mask-group-parent1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: -2.8px;
  left: -9.33px;
  width: 195.74px;
  height: 44.72px;
}
.navigasi-login-inner7 {
  position: absolute;
  top: 22.38px;
  left: 1061.34px;
  width: 196.67px;
  height: 35.56px;
  cursor: pointer;
}
.group-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24.33px;
  height: 26.73px;
}
.collegal12,
.logo8 {
  position: absolute;
  top: 0;
  left: 28.64px;
}
.logo8 {
  text-decoration: none;
  top: 26.78px;
  left: 68.08px;
  width: 114.64px;
  height: 26.73px;
  cursor: pointer;
  color: inherit;
}
.competition6 {
  position: relative;
  line-height: 16.09px;
  font-weight: 500;
}
.products4 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: inherit;
}
.blog4 {
  position: relative;
  line-height: 16.09px;
  font-weight: 500;
  cursor: pointer;
}
.pricing4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nav-menu4,
.search4 {
  position: absolute;
  display: flex;
}
.nav-menu4 {
  top: 31.71px;
  left: 235.02px;
  width: 271.4px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22.38px;
  font-size: 12.59px;
  font-family: var(--font-dm-sans);
}
.search4 {
  border: 0;
  font-family: var(--font-arial);
  font-size: 13.06px;
  background-color: transparent;
  top: 0;
  left: 20.52px;
  color: var(--color-white);
  text-align: left;
  align-items: center;
  width: 356.27px;
  height: 26.11px;
}
.icon-search-icon4 {
  position: absolute;
  height: 57.14%;
  width: 3.96%;
  top: 21.43%;
  right: 96.04%;
  bottom: 21.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-wrapper3,
.search-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 376.79px;
  height: 26.11px;
}
.group-wrapper3 {
  top: 5.59px;
  left: 33.57px;
}
.navigasi-login-inner8 {
  position: absolute;
  top: 23.32px;
  left: 544.66px;
  border-radius: 14.66px;
  border: 0.9px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 425.28px;
  height: 37.31px;
  overflow: hidden;
}
.hamburger-iconsvg9 {
  position: relative;
  width: 17.72px;
  height: 16.79px;
  overflow: hidden;
  flex-shrink: 0;
}
.hamburger-iconsvg8 {
  position: absolute;
  top: calc(50% - 10.26px);
  left: 1284.24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent10,
.navigasi-login4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1343px;
}
.navigasi-login4 {
  height: 83.94px;
  font-size: 21.29px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.group-parent10 {
  height: 143.75px;
  color: var(--dark-blue);
  font-family: var(--font-poppins);
}
.about-us-icon {
  position: absolute;
  top: 121.24px;
  left: 1018.44px;
  width: 320.74px;
  height: 294.71px;
  object-fit: cover;
}
.a-place-to,
.collegal-is-a {
  position: absolute;
  top: 20.52px;
  left: 0;
  line-height: 29.84px;
  display: flex;
  align-items: center;
  width: 706.01px;
  height: 42.9px;
}
.a-place-to {
  top: 63.42px;
  width: 780.62px;
  height: 91.4px;
}
.we-connect-students {
  margin: 0;
}
.we-connect-students-container1 {
  line-break: anywhere;
  width: 100%;
}
.about-collegal,
.collegal-provides-all,
.we-connect-students-container {
  position: absolute;
  top: 154.82px;
  left: 0;
  line-height: 29.84px;
  display: flex;
  align-items: center;
  width: 786.21px;
}
.about-collegal,
.collegal-provides-all {
  top: 226.63px;
  width: 770.36px;
  height: 67.15px;
}
.about-collegal {
  top: -25.18px;
  left: -55.96px;
  font-size: 33.58px;
  letter-spacing: -0.84px;
  line-height: 37.31px;
  color: var(--color-gray-600);
  text-align: center;
  justify-content: center;
  width: 283.52px;
  height: 33.58px;
}
.p2 {
  position: absolute;
  top: 495.23px;
  left: 312.43px;
  width: 812.33px;
  height: 327.36px;
  font-size: 16.79px;
  color: var(--color-slategray-100);
  font-family: var(--font-epilogue);
}
.through-our-industry,
.what-we-do {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 37.31px;
  display: flex;
  align-items: center;
  width: 170.1px;
  height: 28.91px;
}
.through-our-industry {
  top: 6.53px;
  left: 7.44px;
  line-height: 29.84px;
  width: 745.78px;
  height: 46.63px;
}
.li {
  position: absolute;
  top: 0;
  left: 26.11px;
  width: 809.53px;
  height: 59.69px;
}
.every-day-we-container {
  position: absolute;
  top: 6.53px;
  left: 7.44px;
  line-height: 29.84px;
  display: flex;
  align-items: center;
  width: 743.67px;
  height: 76.48px;
}
.li1 {
  position: absolute;
  top: 70.88px;
  left: 26.11px;
  width: 809.53px;
  height: 89.53px;
}
.we-have-two-container {
  position: absolute;
  top: 6.53px;
  left: 7.44px;
  line-height: 29.84px;
  display: flex;
  align-items: center;
  width: 770px;
  height: 76.48px;
}
.li2 {
  position: absolute;
  top: 171.61px;
  left: 26.11px;
  width: 809.53px;
  height: 89.53px;
}
.our-values,
.ul3,
.what-we-do-parent {
  position: absolute;
  left: 0;
  width: 835.64px;
}
.ul3 {
  top: 63.4px;
  height: 261.14px;
  font-size: 16.79px;
  color: var(--color-slategray-100);
}
.our-values,
.what-we-do-parent {
  top: 3.73px;
  height: 324.54px;
}
.our-values {
  top: 0;
  line-height: 37.31px;
  display: flex;
  align-items: center;
  width: 153.24px;
  height: 28.91px;
}
.change-the-world1,
.our-mission-is-container,
.passionate-customer-focused {
  position: absolute;
  top: 6.53px;
  left: 33.56px;
  line-height: 29.84px;
  display: flex;
  align-items: center;
  width: 303.18px;
  height: 16.79px;
}
.our-mission-is-container,
.passionate-customer-focused {
  top: 47.56px;
  width: 489.17px;
}
.our-mission-is-container {
  top: 6.53px;
  left: 7.44px;
  width: 778.78px;
  height: 76.48px;
}
.li3 {
  position: absolute;
  top: 82.07px;
  left: 26.11px;
  width: 809.53px;
  height: 89.53px;
}
.our-values-parent,
.ul4 {
  position: absolute;
  left: 0;
  width: 835.64px;
}
.ul4 {
  top: 63.41px;
  height: 171.61px;
  font-size: 16.79px;
  color: var(--color-slategray-100);
}
.our-values-parent {
  top: 384.23px;
  height: 235.02px;
}
.meet-your-team-pinkpng-icon {
  position: absolute;
  top: 29.84px;
  left: 0;
  width: 175.34px;
  height: 172.54px;
  object-fit: cover;
}
.ceo-co-founder,
.segun-ogunfuye {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.segun-ogunfuye {
  top: 234.95px;
  line-height: 26.11px;
  font-weight: 600;
  width: 169.74px;
  height: 19.59px;
}
.ceo-co-founder {
  top: 264.87px;
  font-size: 16.79px;
  line-height: 29.84px;
  color: var(--color-slategray-100);
  width: 134.34px;
  height: 16.79px;
}
.divspace-y-4 {
  position: absolute;
  width: calc(100% - 567.07px);
  top: calc(50% - 144.1px);
  right: 567.07px;
  left: 0;
  height: 288.19px;
}
.divvp-preview {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.my-collegal-journey,
.ogunguye-segun {
  position: absolute;
  top: 93.2px;
  left: 69.98px;
  letter-spacing: -0.01em;
  line-height: 57.82px;
  font-weight: 900;
}
.ogunguye-segun {
  top: 136.1px;
  left: 63.45px;
  font-size: 46.48px;
  letter-spacing: -0.03em;
  line-height: 74.37px;
  color: #7f7d8b;
}
.play-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3.73px;
  width: 52.23px;
  height: 29.84px;
}
.divchaptersegment-module-chap1 {
  position: absolute;
  top: 14.92px;
  left: 0;
  border-radius: 93.26px;
  background-color: var(--color-gray-1700);
  width: 363.73px;
  height: 3.73px;
}
.divchaptersegment-module-chap {
  position: absolute;
  width: 100%;
  top: calc(50% - 16.79px);
  right: 0;
  left: 0;
  height: 33.58px;
  overflow: hidden;
}
.div105 {
  position: relative;
  line-height: 14.92px;
  z-index: 0;
}
.pseudo8 {
  position: absolute;
  margin: 0 !important;
  top: 18.65px;
  left: 12.61px;
  border-top: 2.8px solid var(--color-white);
  border-right: 2.8px solid var(--color-white);
  border-left: 2.8px solid var(--color-white);
  box-sizing: border-box;
  width: 5.6px;
  height: 2.8px;
  z-index: 1;
}
.divtimecode-module-timecode- {
  position: absolute;
  top: -26.11px;
  left: -15.87px;
  border-radius: 3.73px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: 1.8652777671813965px 7.489089012145996px 1.8652777671813965px
    3.730555534362793px;
  align-items: flex-start;
  justify-content: flex-start;
}
.divvp-progress {
  position: absolute;
  top: calc(50% - 1.86px);
  left: 11.19px;
  width: 363.73px;
  height: 3.73px;
}
.frame-icon6,
.frame-icon7,
.frame-icon8 {
  position: absolute;
  top: 5.6px;
  left: calc(50% + 153.89px);
  width: 18.65px;
  height: 18.65px;
}
.frame-icon7,
.frame-icon8 {
  left: calc(50% + 180px);
}
.frame-icon8 {
  left: calc(50% + 206.11px);
}
.divcontrolbar-module-progress {
  position: absolute;
  top: 0;
  left: 59.69px;
  border-radius: 3.73px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 460.72px;
  height: 29.84px;
}
.divcontrolbar-module-controlb {
  position: absolute;
  width: calc(100% - 14.92px);
  right: 7.46px;
  bottom: 7.47px;
  left: 7.46px;
  height: 29.84px;
}
.divvp-player-ui-overlays,
.divvp-video-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.divvp-player-ui-overlays {
  top: -0.07px;
  right: -0.03px;
  bottom: 0.07px;
  left: 0.03px;
  font-size: 9.33px;
  color: var(--color-black);
}
.divvp-video-wrapper {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.divplayer {
  position: absolute;
  top: calc(50% - 150.56px);
  left: calc(50% - 267.67px);
  width: 535.33px;
  height: 301.13px;
}
.bodyvp-center,
.iframelazyloaded {
  position: absolute;
  height: calc(100% - 0.16px);
  width: calc(100% - 0.03px);
  top: 0;
  right: 0.03px;
  bottom: 0.16px;
  left: 0;
  overflow: hidden;
}
.iframelazyloaded {
  height: calc(100% - 1.87px);
  width: calc(100% - 1.87px);
  top: 0.93px;
  right: 0.93px;
  bottom: 0.93px;
  left: 0.93px;
}
.divm-auto,
.divpy-16 {
  position: absolute;
  box-sizing: border-box;
}
.divm-auto {
  width: calc(100% - 298.42px);
  top: calc(50% - 151.63px);
  right: 0;
  left: 298.42px;
  background-color: var(--color-gray-1100);
  box-shadow: 0 9.32638931274414px 13.99px -2.8px rgba(0, 0, 0, 0.1),
    0 3.730555534362793px 5.6px -3.73px rgba(0, 0, 0, 0.1);
  border: 0.9px solid #f4f4f4;
  height: 303.27px;
  overflow: hidden;
  font-size: 36.14px;
  color: #0633eb;
  font-family: var(--font-arial);
}
.divpy-16 {
  top: 717.2px;
  left: 0;
  border-top: 1.9px solid var(--color-gainsboro-100);
  border-bottom: 1.9px solid var(--color-gainsboro-100);
  width: 835.64px;
  height: 426.37px;
  font-size: 18.65px;
}
.our-people-are,
.we-dont-only-container {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.our-people-are {
  top: 0;
  font-size: 27.98px;
  line-height: 37.31px;
  color: var(--color-gray-600);
  width: 549.09px;
  height: 28.91px;
}
.we-dont-only-container {
  top: 6.53px;
  line-height: 29.84px;
  width: 831.68px;
  height: 46.63px;
}
.p3 {
  position: absolute;
  top: 63.4px;
  left: 0;
  width: 835.64px;
  height: 59.69px;
}
.an-incredible-and,
.weve-built {
  font-family: var(--font-epilogue);
  color: var(--color-slategray-100);
}
.an-incredible-and {
  font-weight: 600;
  color: var(--color-indigo);
}
.weve-built-an-container {
  position: absolute;
  top: 6.53px;
  left: 0;
  line-height: 29.84px;
  display: flex;
  align-items: center;
  width: 834.09px;
  height: 46.63px;
}
.p4 {
  position: absolute;
  top: 145.47px;
  left: 0;
  width: 835.64px;
  height: 59.69px;
}
.our-values-are {
  font-weight: 600;
}
.grown-from-our-roots-and-incl {
  margin: 0;
  color: var(--color-indigo);
}
.as-a-founder-led-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 29.84px;
}
.p5 {
  position: absolute;
  top: 227.55px;
  left: 0;
  width: 835.64px;
  height: 59.69px;
}
.a-deep-commitment,
.making-positive-social-container {
  position: absolute;
  top: 6.53px;
  left: 33.56px;
  line-height: 29.84px;
  display: flex;
  align-items: center;
  width: 264.46px;
  height: 16.79px;
}
.making-positive-social-container {
  left: 7.44px;
  width: 740.88px;
  height: 46.63px;
}
.li4 {
  position: absolute;
  top: 41.04px;
  left: 26.11px;
  width: 809.53px;
  height: 59.69px;
}
.a-commitment-to,
.a-passionate-belief {
  position: absolute;
  top: 118.45px;
  left: 33.56px;
  line-height: 29.84px;
  display: flex;
  align-items: center;
  width: 371.43px;
  height: 16.79px;
}
.a-passionate-belief {
  top: 159.48px;
  width: 467.28px;
}
.our-people-are-what-truly-set-parent,
.ul5 {
  position: absolute;
  top: 309.62px;
  left: 0;
  width: 835.64px;
  height: 182.8px;
}
.our-people-are-what-truly-set-parent {
  top: 1197.51px;
  height: 492.42px;
  font-size: 16.79px;
  color: var(--color-slategray-100);
}
.become-a-solver,
.you-could-help {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.you-could-help {
  top: 0;
  font-size: 27.98px;
  line-height: 37.31px;
  color: var(--color-gray-600);
  width: 754.04px;
  height: 28.91px;
}
.become-a-solver {
  top: 69.93px;
  line-height: 29.84px;
  width: 240.37px;
  height: 16.79px;
}
.make-a-positive {
  margin: 0;
  font-weight: 600;
  color: var(--color-gray-600);
}
.make-a-positive-container {
  position: absolute;
  top: 6.53px;
  left: 7.44px;
  line-height: 29.84px;
  display: flex;
  align-items: center;
  width: 782.22px;
  height: 106.32px;
}
.li5 {
  position: absolute;
  top: 0;
  left: 26.11px;
  width: 809.53px;
  height: 119.38px;
}
.promote-yourself-and-container {
  position: absolute;
  top: 6.53px;
  left: 7.44px;
  line-height: 29.84px;
  display: flex;
  align-items: center;
  width: 797.19px;
  height: 136.17px;
}
.li6 {
  position: absolute;
  top: 130.57px;
  left: 26.11px;
  width: 809.53px;
  height: 149.22px;
}
.exercise-your-brain-container {
  position: absolute;
  top: 6.53px;
  left: 7.44px;
  line-height: 29.84px;
  display: flex;
  align-items: center;
  width: 785.79px;
  height: 106.32px;
}
.li7,
.ul6 {
  position: absolute;
  top: 290.98px;
  left: 26.11px;
  width: 809.53px;
  height: 119.38px;
}
.ul6 {
  top: 115.63px;
  left: 0;
  width: 835.64px;
  height: 410.36px;
}
.today-to-get {
  color: var(--color-slategray-100);
}
.visit-the-challenge-container {
  position: absolute;
  top: 554.9px;
  left: 0;
  line-height: 29.84px;
  display: flex;
  align-items: center;
  width: 398.06px;
  height: 16.79px;
  color: var(--color-indigo);
}
.you-could-help-solve-the-world-parent {
  position: absolute;
  top: -7007.75px;
  left: 8.39px;
  width: 835.64px;
  height: 571.69px;
}
.divmax-w-4xl,
.p6 {
  position: absolute;
  width: 835.64px;
}
.p6 {
  top: 8774.16px;
  left: 0;
  height: 29.84px;
  font-size: 16.79px;
  color: var(--color-slategray-100);
}
.divmax-w-4xl {
  top: 1137.82px;
  left: calc(50% - 394.51px);
  height: 2437.92px;
  font-size: 27.98px;
  color: var(--color-gray-600);
  font-family: var(--font-epilogue);
}
.mentorshipspng-icon {
  position: absolute;
  top: calc(50% - 107.19px);
  left: calc(50% - 44.31px);
  width: 88.6px;
  height: 88.13px;
  object-fit: cover;
}
.mentorships {
  position: absolute;
  top: 8.39px;
  left: 40.49px;
  line-height: 20.89px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89.36px;
  height: 18.65px;
}
.h3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffba00;
  width: 170.18px;
  height: 35.8px;
}
.book-sessions-with-container {
  position: absolute;
  top: 0;
  left: 18.65px;
  line-height: 15.67px;
  display: flex;
  align-items: center;
  width: 122.13px;
  height: 60.99px;
}
.divcontent,
.divplateform-item,
.p7 {
  position: absolute;
  left: 0;
  width: 170.18px;
}
.p7 {
  top: 45.13px;
  height: 81.32px;
  text-align: left;
  font-size: 11.19px;
  color: var(--color-darkslateblue-100);
}
.divcontent,
.divplateform-item {
  top: 125.44px;
  height: 126.45px;
}
.divplateform-item {
  top: 0;
  border-radius: 0 0 0 11.19px;
  background-color: #fff7e0;
  height: 231.17px;
}
.competepng-icon {
  top: calc(50% - 107.19px);
  left: calc(50% - 44.3px);
  width: 88.6px;
  height: 88.13px;
  object-fit: cover;
}
.compete,
.competepng-icon,
.h31 {
  position: absolute;
}
.compete {
  top: 8.39px;
  left: 52.41px;
  line-height: 20.89px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65.55px;
  height: 18.65px;
}
.h31 {
  top: 0;
  left: 0;
  background-color: var(--color-mediumseagreen-200);
  width: 170.18px;
  height: 35.8px;
}
.participate-in-various-container {
  position: absolute;
  top: 0;
  left: 18.65px;
  line-height: 15.67px;
  display: flex;
  align-items: center;
  width: 131.31px;
  height: 60.99px;
}
.divplateform-item1 {
  position: absolute;
  top: 0;
  left: 179.51px;
  background-color: #e3f6e9;
  width: 170.18px;
  height: 231.17px;
}
.h32,
.jobs {
  position: absolute;
}
.jobs {
  top: 8.39px;
  left: 67.8px;
  line-height: 20.89px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34.75px;
  height: 18.65px;
}
.h32 {
  top: 0;
  left: 0;
  background-color: var(--color-blueviolet-100);
  width: 170.18px;
  height: 35.8px;
}
.apply-to-a-container {
  position: absolute;
  top: 0;
  left: 18.65px;
  line-height: 15.67px;
  display: flex;
  align-items: center;
  width: 114.85px;
  height: 60.99px;
}
.divplateform-item2 {
  position: absolute;
  top: 0;
  left: 359.01px;
  border-radius: 0 0 11.19px 0;
  background-color: #ebe8fd;
  width: 170.18px;
  height: 231.17px;
}
.divplateform-item-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 529.19px;
  height: 231.17px;
}
.practicepng-icon {
  position: absolute;
  top: calc(50% - 107.35px);
  left: calc(50% - 44.05px);
  width: 88.6px;
  height: 89.07px;
  object-fit: cover;
}
.h33,
.practice {
  position: absolute;
}
.practice {
  top: 8.86px;
  left: 53.16px;
  line-height: 20.89px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63.42px;
  height: 18.65px;
}
.h33 {
  top: 0;
  left: 0;
  background-color: #e9407a;
  width: 170.18px;
  height: 35.8px;
}
.solve-easy-to {
  position: absolute;
  top: 0.1px;
  left: 13.99px;
  line-height: 15.67px;
  display: flex;
  align-items: center;
  width: 142.69px;
  height: 60.62px;
}
.divplateform-item3 {
  position: absolute;
  top: 0;
  left: 540px;
  border-radius: 0 0 11.19px 0;
  background-color: #fce8ef;
  width: 170.18px;
  height: 231.17px;
}
.group-parent11 {
  position: absolute;
  top: 801.17px;
  left: 317.1px;
  width: 710.18px;
  height: 231.17px;
  text-align: center;
}
.terms-privacy4 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 16.4px;
}
.tems-and-condition4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 49.19px;
}
.icon-11-4 {
  position: relative;
  width: 7.38px;
  height: 13.68px;
}
.linkedin-icon4,
.vector-icon18 {
  position: relative;
  width: 13.94px;
  height: 11.32px;
}
.linkedin-icon4 {
  width: 12.3px;
  height: 12.3px;
}
.btm4,
.social-icon4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-icon4 {
  justify-content: flex-start;
  gap: 26.23px;
}
.btm4 {
  position: absolute;
  top: 427.15px;
  left: 149.22px;
  width: 1045.49px;
  justify-content: space-between;
  font-size: 13.12px;
}
.logo-icon4 {
  width: 33.85px;
  height: 26.53px;
  overflow: hidden;
  flex-shrink: 0;
}
.collegal14,
.logo-icon4 {
  position: relative;
}
.logo9 {
  text-decoration: none;
  position: absolute;
  top: 95.13px;
  left: 149.22px;
  width: 145.59px;
  height: 30.78px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    1.0602876541164485e-13px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 8.39px;
  font-size: 25.62px;
  color: inherit;
}
.sign-in4 {
  color: var(--color-khaki-100);
}
.have-and-account-container4 {
  text-decoration: none;
  position: absolute;
  top: 128.7px;
  left: 149.22px;
  font-size: 15.96px;
  font-weight: 600;
  cursor: pointer;
  color: inherit;
}
.product12 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18.65px;
}
.blog-news8,
.compitition8,
.public-notebook8,
.publications8 {
  text-decoration: none;
  position: absolute;
  top: 43.83px;
  left: 0;
  color: inherit;
  cursor: pointer;
}
.blog-news8,
.public-notebook8,
.publications8 {
  top: 72.75px;
}
.blog-news8,
.public-notebook8 {
  top: 101.66px;
}
.blog-news8 {
  top: 130.57px;
}
.legal-notice8 {
  position: absolute;
  top: 159.48px;
  left: 0;
}
.about-us-row12,
.about-us-row13 {
  position: absolute;
  top: 95.13px;
  left: 704.14px;
  width: 125.91px;
  height: 178.13px;
  font-family: var(--font-montserrat);
}
.about-us-row13 {
  left: 906.53px;
}
.discussion4 {
  text-decoration: none;
  position: absolute;
  top: 159.48px;
  left: 0;
  color: inherit;
  cursor: pointer;
}
.about-us-row14 {
  position: absolute;
  top: 95.13px;
  left: 1108.91px;
  width: 125.91px;
  height: 178.13px;
  font-family: var(--font-montserrat);
}
.fotter4 {
  position: absolute;
  top: 3696.98px;
  left: 0;
  background-color: var(--color-darkslateblue-200);
  width: 1343px;
  height: 508.29px;
  overflow: hidden;
}
.about-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4205.27px;
  overflow: hidden;
  text-align: left;
  font-size: 14.92px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
