.divuser-avatar,
.e189247bcdjpg-icon {
  position: absolute;
  left: 0;
  border-radius: 36.63px;
  width: 73.26px;
  height: 73.26px;
}
.e189247bcdjpg-icon {
  top: 0;
  object-fit: cover;
}
.divuser-avatar {
  top: calc(50% - 36.63px);
  overflow: hidden;
}
.samade5099 {
  position: absolute;
  top: 31.28px;
  left: 169.31px;
  line-height: 17.3px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 103.52px;
  height: 15.85px;
}
.adeyemo-samuel,
.divj-between {
  position: absolute;
  top: 16.28px;
  left: 16.28px;
  width: 272.69px;
  height: 73.26px;
}
.adeyemo-samuel {
  top: 0.33px;
  left: -0.43px;
  line-height: 29.51px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 238.76px;
  height: 28.91px;
}
.indian-institute-of5 {
  margin: 0;
}
.indian-institute-of-container1 {
  line-break: anywhere;
  width: 100%;
}
.indian-institute-of-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 17.3px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 260.75px;
  height: 34.6px;
}
.divcontent4,
.porg {
  position: absolute;
  top: 34.6px;
  left: 0;
  width: 272.69px;
  height: 34.6px;
  font-size: 14.25px;
  color: var(--color-steelblue-500);
}
.divcontent4 {
  top: 107.86px;
  left: 16.28px;
  height: 79.37px;
  text-align: left;
  font-size: 24.42px;
  color: var(--color-darkslateblue-100);
}
.divfield {
  border-radius: 8.14px;
  background-color: var(--color-white);
  width: 305.25px;
  height: 203.5px;
  text-align: right;
  color: var(--color-darkslateblue-600);
}
.divfield,
.divhdng,
.portfolio {
  position: absolute;
  top: 0;
  left: 0;
}
.portfolio {
  line-height: 18.32px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 59.24px;
  height: 17.3px;
}
.divhdng {
  width: 100%;
  right: 0;
  background-color: var(--color-white);
  height: 28.49px;
}
.ang-tns-c168-1-icon {
  position: absolute;
  top: 36.63px;
  left: 0;
  border-radius: 17.81px;
  width: 35.61px;
  height: 35.61px;
}
.divfield1,
.divfield2 {
  position: absolute;
  top: 16.28px;
  left: 16.28px;
  width: 272.69px;
  height: 72.24px;
}
.divfield1 {
  top: 208.59px;
  left: 0;
  border-radius: 8.14px;
  background-color: var(--color-white);
  width: 305.25px;
  height: 109.89px;
  font-size: 14.25px;
}
.total-reg-iconpng {
  position: absolute;
  top: calc(50% - 12.69px);
  left: 0;
  width: 24.42px;
  height: 25.36px;
  object-fit: cover;
}
.div147,
.total-registrations {
  position: relative;
}
.div147 {
  font-size: 22.39px;
  line-height: 29.51px;
  font-weight: 500;
}
.divng-tns-c168-1 {
  position: absolute;
  top: calc(50% - 24.54px);
  left: 39.68px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) 1.017514944076538px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.05px;
}
.divalign-center {
  position: absolute;
  top: calc(50% - 24.42px);
  left: 16.28px;
  width: 147.08px;
  height: 48.84px;
}
.divfield3,
.divuser-profile {
  position: absolute;
  left: 0;
  width: 305.25px;
}
.divfield3 {
  top: 323.57px;
  border-radius: 8.14px;
  background-color: var(--color-white);
  height: 81.4px;
}
.divuser-profile {
  top: 0;
  height: 404.97px;
}
.divwidth-300 {
  position: relative;
  border-radius: 8.14px;
  width: 305.25px;
  height: 410.06px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.global-ranking {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14.25px;
  line-height: 18.32px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-100);
  text-align: left;
  display: flex;
  align-items: center;
  width: 103.31px;
  height: 17.3px;
}
.chevron-right,
.view-leaderboard {
  position: absolute;
  color: var(--color-darkslateblue-900);
  text-align: left;
}
.view-leaderboard {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: -0.51px;
  left: 0;
  font-size: 13.23px;
  line-height: 17.3px;
  font-weight: 500;
  font-family: var(--font-inter);
  display: inline-block;
}
.chevron-right {
  top: 0;
  left: 115.49px;
  font-size: 18.32px;
  line-height: 18.32px;
  font-family: var(--font-material-icons);
}
.divalign-center1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% - 14.25px);
  left: 383.09px;
  width: 133.8px;
  height: 18.32px;
}
.divhdng1 {
  position: absolute;
  width: calc(100% - 32.56px);
  top: 16.28px;
  right: 16.28px;
  left: 16.28px;
  background-color: var(--color-white);
  height: 28.49px;
}
.info-outline5 {
  position: relative;
  line-height: 18.32px;
}
.among-51-million {
  position: relative;
  font-size: 12.21px;
  line-height: 19.33px;
  font-weight: 500;
  font-family: var(--font-inter);
}
.ptop-percentile {
  position: absolute;
  top: 44.77px;
  left: 16.28px;
  border-radius: 8.14px;
  background-color: var(--color-lavender-300);
  display: flex;
  flex-direction: row;
  padding: 5.0875749588012695px 9.46287727355957px 5.0875749588012695px
    10.175149917602539px;
  align-items: center;
  justify-content: flex-start;
  gap: 5.09px;
}
.r-global-iconsvg1 {
  position: relative;
  width: 16.28px;
  height: 16.28px;
  overflow: hidden;
  flex-shrink: 0;
}
.divalign-center2,
.r-global-iconsvg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.r-global-iconsvg {
  align-items: flex-start;
  opacity: 0.7;
}
.divalign-center2 {
  padding: var(--padding-0) 0.5392816662788391px var(--padding-0)
    var(--padding-0);
  align-items: center;
  gap: 6.11px;
  z-index: 0;
}
.div148 {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.pseudo11 {
  position: absolute;
  margin: 0 !important;
  top: 44.77px;
  left: 5.09px;
  border-radius: 3.05px;
  background-color: var(--color-blueviolet-100);
  width: 78.89px;
  height: 3.05px;
  z-index: 2;
}
.divtab-rank {
  position: absolute;
  top: calc(50% - 20.73px);
  left: 0;
  border-right: 1px solid var(--color-gray-1000);
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 15.262723922729492px var(--padding-0)
    14.245209693908691px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4.07px;
  color: var(--color-blueviolet-100);
}
.r-eng-iconsvg1 {
  position: relative;
  width: 19.53px;
  height: 16.27px;
  overflow: hidden;
  flex-shrink: 0;
}
.r-eng-iconsvg {
  display: flex;
  flex-direction: row;
  padding: 0.004239646252244711px var(--padding-0) 0.004239516332745552px;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.7;
}
.management {
  position: relative;
  font-weight: 500;
}
.divalign-center3,
.divtab-rank1 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 0.3459533154964447px var(--padding-0)
    var(--padding-0);
  align-items: center;
  justify-content: flex-start;
  gap: 6.11px;
}
.divtab-rank1 {
  position: absolute;
  top: calc(50% - 20.73px);
  left: 95.17px;
  border-right: 1px solid var(--color-gray-1000);
  flex-direction: column;
  padding: var(--padding-0) 15.262723922729492px var(--padding-0)
    14.245209693908691px;
  align-items: flex-end;
  gap: 4.07px;
}
.r-quiz-iconsvg1 {
  position: relative;
  width: 15.46px;
  height: 16.27px;
  overflow: hidden;
  flex-shrink: 0;
}
.divalign-center4,
.r-quiz-iconsvg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.r-quiz-iconsvg {
  padding: 0.005355342291295528px var(--padding-0) 0.005355689208954573px;
  align-items: flex-start;
  opacity: 0.7;
}
.divalign-center4 {
  position: absolute;
  top: 0;
  left: 14.25px;
  align-items: center;
  gap: 7.12px;
}
.div150 {
  position: absolute;
  top: 20.35px;
  left: 39.29px;
}
.divtab-rank2 {
  position: absolute;
  top: calc(50% - 20.86px);
  left: 233.07px;
  width: 77.49px;
  height: 35.61px;
}
.divrank-tab {
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  width: 516.9px;
  height: 51.89px;
}
.div151,
.divrank-tab,
.top {
  position: absolute;
  top: 0;
  left: 0;
}
.div151 {
  font-weight: 500;
}
.div152,
.divvalue {
  position: absolute;
  top: 5.09px;
  left: 26.18px;
  font-size: 14.25px;
}
.divvalue {
  top: 17.3px;
  left: 0;
  width: 126.17px;
  height: 24.42px;
  font-size: 20.35px;
}
.global-ranking1 {
  font-weight: 600;
  color: var(--color-darkslateblue-600);
}
.in-global-ranking-container {
  position: relative;
  text-transform: capitalize;
}
.divtext {
  position: absolute;
  top: 44.77px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 24.420360565185547px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 12.21px;
}
.divpercentile {
  position: absolute;
  top: 15.26px;
  left: 18.32px;
  width: 126.17px;
  height: 60.03px;
}
.div153 {
  position: relative;
  font-size: 15.26px;
  font-weight: 600;
}
.divall-users {
  position: absolute;
  top: 98.7px;
  left: 18.32px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 32.56047821044922px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.09px;
  font-size: 12.21px;
}
.divr-data {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 10.18px;
  background-color: var(--color-lavender-300);
  width: 162.8px;
  height: 152.63px;
}
.divrank-height,
.divrank-height1,
.divrank-height2 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 151.61px);
  border-radius: 4.07px 4.07px 0 0;
  background-color: var(--color-lavender-100);
  width: 18.32px;
  height: 138.89px;
}
.divrank-height1,
.divrank-height2 {
  left: calc(50% - 121.08px);
  height: 70.46px;
}
.divrank-height2 {
  left: calc(50% - 90.56px);
  height: 84.98px;
}
.divrank-height3,
.divrank-height4,
.divrank-height5,
.divrank-height6,
.divrank-height7,
.divrank-height8,
.divrank-height9 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 60.03px);
  border-radius: 4.07px 4.07px 0 0;
  background-color: var(--color-lavender-100);
  width: 18.32px;
  height: 65.26px;
}
.divrank-height4,
.divrank-height5,
.divrank-height6,
.divrank-height7,
.divrank-height8,
.divrank-height9 {
  left: calc(50% - 29.51px);
  height: 26.12px;
}
.divrank-height5,
.divrank-height6,
.divrank-height7,
.divrank-height8,
.divrank-height9 {
  left: calc(50% + 1.02px);
  height: 26.71px;
}
.divrank-height6,
.divrank-height7,
.divrank-height8,
.divrank-height9 {
  left: calc(50% + 31.54px);
  height: 17.84px;
}
.divrank-height7,
.divrank-height8,
.divrank-height9 {
  left: calc(50% + 62.07px);
  height: 10.52px;
}
.divrank-height8,
.divrank-height9 {
  left: calc(50% + 92.59px);
  height: 10.12px;
}
.divrank-height9 {
  left: calc(50% - 9.16px);
  background-color: var(--color-blueviolet-100);
  height: 7px;
}
.arrow-drop-up {
  position: absolute;
  top: -25.44px;
  left: -3.05px;
  line-height: 14.25px;
  display: flex;
  align-items: center;
  width: 36.83px;
  height: 36.63px;
}
.divr-chart,
.divrank-bar {
  position: absolute;
  bottom: -0.01px;
  left: 274.73px;
  width: 30.53px;
  height: 7px;
}
.divr-chart {
  bottom: 0;
  left: 181.12px;
  width: 315.43px;
  height: 132.28px;
  font-size: 36.63px;
  color: var(--color-blueviolet-100);
  font-family: var(--font-material-icons);
}
.divrank-chart,
.divrank-design {
  position: absolute;
  top: 67.16px;
  left: 0;
  width: 516.9px;
  height: 152.63px;
  text-align: left;
  font-size: 14.25px;
  color: var(--color-darkslateblue-100);
}
.divrank-design {
  top: 89.54px;
  left: 16.28px;
  height: 219.78px;
  text-align: right;
  font-size: 12.21px;
  color: var(--color-darkslateblue-1000);
  font-family: var(--font-inter);
}
.divwhite-box {
  position: absolute;
  top: 0;
  left: 310.34px;
  border-radius: 8.14px;
  background-color: var(--color-white);
  width: 549.46px;
  height: 325.6px;
}
.about,
.im-thrilled-to {
  position: absolute;
  left: 16.28px;
}
.about {
  top: 16.28px;
  font-size: 14.25px;
  line-height: 17.3px;
  font-weight: 500;
  color: var(--color-darkslateblue-100);
}
.im-thrilled-to {
  top: 47.82px;
  line-height: 18.52px;
}
.although-winning-prizes,
.competitions-here-and,
.thrilling-my-ultimate {
  position: absolute;
  top: 66.33px;
  left: 16.28px;
  line-height: 18.52px;
}
.although-winning-prizes,
.thrilling-my-ultimate {
  top: 84.84px;
}
.thrilling-my-ultimate {
  top: 103.34px;
}
.organization,
.potential-candidate-for,
.significant-experience-and {
  position: absolute;
  top: 121.85px;
  left: 16.28px;
  line-height: 18.52px;
}
.organization,
.potential-candidate-for {
  top: 140.36px;
}
.organization {
  top: 158.86px;
}
.divsummery {
  position: absolute;
  height: calc(100% - 82.42px);
  top: 0;
  bottom: 82.42px;
  left: 0;
  border-radius: 8.14px;
  background-color: var(--color-white);
  width: 305.25px;
}
.points-iconsvg {
  position: relative;
  width: 22.39px;
  height: 23.4px;
}
.span25 {
  font-weight: 600;
}
.points-58234 {
  position: relative;
  line-height: 17.3px;
}
.divalign-center5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10.18px;
}
.spantoday-points {
  align-items: flex-start;
}
.divpoints-stat,
.divwhite-box1,
.spantoday-points {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.divpoints-stat {
  border-radius: 16.28px;
  background-color: var(--color-orange-100);
  padding: 19.33278465270996px 18.803672790527344px 19.33278465270996px
    19.33278465270996px;
  align-items: center;
  gap: 69.72px;
}
.divwhite-box1 {
  position: absolute;
  width: calc(100% + 0.34px);
  top: calc(50% + 88.01px);
  right: -0.17px;
  left: -0.17px;
  border-radius: 8.14px;
  background-color: var(--color-white);
  padding: 5.0875749588012695px;
  box-sizing: border-box;
  align-items: flex-start;
  font-size: 14.25px;
  color: var(--color-darkslateblue-100);
}
.divwidth-3001 {
  width: 305.25px;
  height: 330.69px;
  font-size: 13.23px;
  color: var(--color-darkslateblue-900);
  font-family: var(--font-inter);
}
.divsummery-wrap,
.divwidth-3001,
.skills1 {
  position: absolute;
  top: 0;
  left: 0;
}
.divsummery-wrap {
  width: 859.8px;
  height: 330.69px;
  font-size: 18.32px;
  color: var(--color-blueviolet-100);
  font-family: var(--font-material-icons);
}
.skills1 {
  line-height: 18.32px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 36.52px;
  height: 17.3px;
}
.c784a2ab1de-sksvg-icon {
  position: absolute;
  bottom: 38.67px;
  left: calc(50% - 45.79px);
  border-radius: 45.79px;
  width: 91.58px;
  height: 91.58px;
}
.user-has-not {
  position: absolute;
  top: 112.94px;
  left: 110.31px;
  line-height: 18.32px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 174.37px;
  height: 15.26px;
}
.divblank-2 {
  position: absolute;
  top: 60.03px;
  left: 16.28px;
  border-radius: 10.18px;
  width: 394.8px;
  height: 130.24px;
  text-align: center;
  font-size: 12.21px;
}
.divhalf-box {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8.14px;
  background-color: var(--color-white);
  width: 427.36px;
  height: 268.62px;
}
.badges,
.div154 {
  position: relative;
  line-height: 17.3px;
  font-weight: 500;
}
.div154 {
  font-size: 28.49px;
  line-height: 34.6px;
}
.divcerti-title {
  position: absolute;
  top: calc(50% - 33.62px);
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.07px;
}
.divhdng3 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  height: 66.14px;
}
.elite,
.pf-weight-700 {
  position: absolute;
  overflow: hidden;
}
.elite {
  top: 0;
  left: 42.13px;
  line-height: 16.28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 25.8px;
  height: 15.26px;
}
.pf-weight-700 {
  top: 74.28px;
  left: 5.09px;
  width: 109.87px;
  height: 16.28px;
}
.mar-2023 {
  position: absolute;
  top: 92.59px;
  left: 28.35px;
  font-size: 10.18px;
  line-height: 12.21px;
  font-weight: 600;
  color: var(--color-darkslateblue-700);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63.54px;
  height: 12.21px;
}
.divbadge,
.divbadge-img-icon {
  position: absolute;
  width: 50.88px;
  height: 50.88px;
}
.divbadge-img-icon {
  top: 0;
  left: 0;
  object-fit: cover;
}
.divbadge {
  top: calc(50% - 44.77px);
  left: calc(50% - 26.47px);
  border-radius: 25.44px;
  background-color: var(--color-whitesmoke-100);
  box-shadow: 0 6.105090141296387px 66.14px rgba(39, 73, 125, 0.09);
}
.divbadge-box {
  position: relative;
  background-color: var(--color-white);
  border-right: 2px solid var(--color-gainsboro-900);
  box-sizing: border-box;
  width: 122.08px;
  height: 120.07px;
}
.feb-2023,
.veteran {
  position: absolute;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.veteran {
  top: 0;
  left: 31.71px;
  line-height: 16.28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 46.67px;
  height: 15.26px;
}
.feb-2023 {
  top: 92.59px;
  left: 28.78px;
  font-size: 10.18px;
  line-height: 12.21px;
  color: var(--color-darkslateblue-700);
  width: 62.7px;
  height: 12.21px;
}
.pf-weight-7002,
.unvicenarian {
  position: absolute;
  overflow: hidden;
}
.unvicenarian {
  top: 0;
  left: 17.15px;
  line-height: 16.28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 77.82px;
  height: 15.26px;
}
.pf-weight-7002 {
  top: 74.28px;
  left: 5.09px;
  width: 111.91px;
  height: 16.28px;
}
.jan-2023 {
  position: absolute;
  top: 92.59px;
  left: 31.71px;
  font-size: 10.18px;
  line-height: 12.21px;
  font-weight: 600;
  color: var(--color-darkslateblue-700);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58.87px;
  height: 12.21px;
}
.divbadge2 {
  position: absolute;
  top: calc(50% - 44.77px);
  left: calc(50% - 25.44px);
  border-radius: 25.44px;
  background-color: var(--color-whitesmoke-100);
  box-shadow: 0 6.105090141296387px 66.14px rgba(39, 73, 125, 0.09);
  width: 50.88px;
  height: 50.88px;
}
.divbadge-box2 {
  position: relative;
  background-color: var(--color-white);
  width: 122.08px;
  height: 120.07px;
}
.divbadges-list {
  position: absolute;
  top: 74.28px;
  left: -7.12px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 7.163290977478027px var(--padding-0)
    7.142955303192139px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14.25px;
  text-align: center;
  font-size: 12.21px;
  color: var(--color-steelblue-500);
}
.chevron-right1,
.view-all-badges {
  position: absolute;
  top: 1.02px;
  left: 0;
  display: flex;
  align-items: center;
  width: 98.87px;
  height: 16.28px;
}
.chevron-right1 {
  top: 0;
  left: 98.67px;
  font-size: 18.32px;
  line-height: 18.32px;
  font-family: var(--font-material-icons);
  width: 18.52px;
  height: 18.32px;
}
.divcerti-btn,
.divfield4 {
  position: absolute;
  width: 394.8px;
}
.divcerti-btn {
  top: 217.75px;
  left: 0;
  height: 18.32px;
  font-size: 13.23px;
  color: var(--color-darkslateblue-900);
}
.divfield4 {
  top: 16.28px;
  left: 16.28px;
  height: 236.06px;
}
.divhalf-box-wrap,
.divhalf-box1 {
  position: absolute;
  height: 268.62px;
}
.divhalf-box1 {
  top: 0;
  left: 432.44px;
  border-radius: 8.14px;
  background-color: var(--color-white);
  width: 427.36px;
}
.divhalf-box-wrap {
  top: 330.69px;
  left: 0;
  width: 859.8px;
}
.nov,
.streaks {
  font-weight: 600;
}
.streaks {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 18.32px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 52.75px;
  height: 17.3px;
}
.nov {
  position: relative;
  line-height: 19.33px;
}
.divday,
.divday1,
.divday2,
.divday3,
.divday4,
.divday5,
.divday6 {
  position: absolute;
  top: calc(50% - 35.1px);
  left: 1.53px;
  background-color: var(--color-whitesmoke-700);
  width: 9.16px;
  height: 9.16px;
}
.divday1,
.divday2,
.divday3,
.divday4,
.divday5,
.divday6 {
  left: 13.74px;
}
.divday2,
.divday3,
.divday4,
.divday5,
.divday6 {
  left: 25.95px;
}
.divday3,
.divday4,
.divday5,
.divday6 {
  left: 38.16px;
}
.divday4,
.divday5,
.divday6 {
  left: 50.37px;
  background-color: var(--color-lightblue);
}
.divday5,
.divday6 {
  top: calc(50% - 22.89px);
  left: 1.53px;
}
.divday6 {
  left: 13.74px;
  background-color: var(--color-whitesmoke-700);
}
.divday10,
.divday11,
.divday12,
.divday13,
.divday14,
.divday15,
.divday16,
.divday17,
.divday7,
.divday8,
.divday9 {
  position: absolute;
  top: calc(50% - 22.89px);
  left: 25.95px;
  background-color: var(--color-lightblue);
  width: 9.16px;
  height: 9.16px;
}
.divday10,
.divday11,
.divday12,
.divday13,
.divday14,
.divday15,
.divday16,
.divday17,
.divday8,
.divday9 {
  left: 38.16px;
}
.divday10,
.divday11,
.divday12,
.divday13,
.divday14,
.divday15,
.divday16,
.divday17,
.divday9 {
  left: 50.37px;
}
.divday10,
.divday11,
.divday12,
.divday13,
.divday14,
.divday15,
.divday16,
.divday17 {
  top: calc(50% - 10.68px);
  left: 1.53px;
}
.divday11,
.divday12,
.divday13,
.divday14,
.divday15,
.divday16,
.divday17 {
  left: 13.74px;
}
.divday12,
.divday13,
.divday14,
.divday15,
.divday16,
.divday17 {
  left: 25.95px;
  background-color: var(--color-whitesmoke-700);
}
.divday13,
.divday14,
.divday15,
.divday16,
.divday17 {
  left: 38.16px;
}
.divday14,
.divday15,
.divday16,
.divday17 {
  left: 50.37px;
  background-color: var(--color-lightblue);
}
.divday15,
.divday16,
.divday17 {
  top: calc(50% + 1.53px);
  left: 1.53px;
}
.divday16,
.divday17 {
  left: 13.74px;
  background-color: var(--color-whitesmoke-700);
}
.divday17 {
  left: 25.95px;
  background-color: var(--color-lightblue);
}
.divday18,
.divday19,
.divday20,
.divday21,
.divday22,
.divday23,
.divday24 {
  position: absolute;
  top: calc(50% + 1.53px);
  left: 38.16px;
  background-color: var(--color-whitesmoke-700);
  width: 9.16px;
  height: 9.16px;
}
.divday19,
.divday20,
.divday21,
.divday22,
.divday23,
.divday24 {
  left: 50.37px;
}
.divday20,
.divday21,
.divday22,
.divday23,
.divday24 {
  top: calc(50% + 13.74px);
  left: 1.53px;
}
.divday21,
.divday22,
.divday23,
.divday24 {
  left: 13.74px;
  background-color: var(--color-lightblue);
}
.divday22,
.divday23,
.divday24 {
  left: 25.95px;
  background-color: var(--color-whitesmoke-700);
}
.divday23,
.divday24 {
  left: 38.16px;
}
.divday24 {
  left: 50.37px;
  background-color: var(--color-lightblue);
}
.divday25,
.divday26,
.divday27,
.divday28,
.divday29 {
  position: absolute;
  top: calc(50% + 25.95px);
  left: 1.53px;
  background-color: var(--color-whitesmoke-700);
  width: 9.16px;
  height: 9.16px;
}
.divday26,
.divday27,
.divday28,
.divday29 {
  left: 13.74px;
}
.divday27,
.divday28,
.divday29 {
  left: 25.95px;
}
.divday28,
.divday29 {
  left: 38.16px;
}
.divday29 {
  left: 50.37px;
}
.divdays {
  position: relative;
  width: 65.79px;
  height: 73.26px;
}
.divmonth {
  position: absolute;
  top: 0;
  left: calc(50% - 197.37px);
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) 12.210180282592773px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.07px;
}
.divday30,
.divday31,
.divday32,
.divday33,
.divday34 {
  position: absolute;
  top: calc(50% - 41.21px);
  left: 1.53px;
  background-color: var(--color-whitesmoke-700);
  width: 9.16px;
  height: 9.16px;
}
.divday31,
.divday32,
.divday33,
.divday34 {
  left: 13.74px;
}
.divday32,
.divday33,
.divday34 {
  left: 25.95px;
}
.divday33,
.divday34 {
  left: 38.16px;
}
.divday34 {
  left: 50.37px;
}
.divday35,
.divday36,
.divday37,
.divday38,
.divday39,
.divday40,
.divday41,
.divday42,
.divday43,
.divday44 {
  position: absolute;
  top: calc(50% - 29px);
  left: 1.53px;
  background-color: var(--color-lightblue);
  width: 9.16px;
  height: 9.16px;
}
.divday36,
.divday37,
.divday38,
.divday39,
.divday40,
.divday41,
.divday42,
.divday43,
.divday44 {
  left: 13.74px;
}
.divday37,
.divday38,
.divday39,
.divday40,
.divday41,
.divday42,
.divday43,
.divday44 {
  left: 25.95px;
}
.divday38,
.divday39,
.divday40,
.divday41,
.divday42,
.divday43,
.divday44 {
  left: 38.16px;
}
.divday39,
.divday40,
.divday41,
.divday42,
.divday43,
.divday44 {
  left: 50.37px;
  background-color: var(--color-lightskyblue-100);
}
.divday40,
.divday41,
.divday42,
.divday43,
.divday44 {
  top: calc(50% - 16.79px);
  left: 1.53px;
}
.divday41,
.divday42,
.divday43,
.divday44 {
  left: 13.74px;
  background-color: var(--color-lightblue);
}
.divday42,
.divday43,
.divday44 {
  left: 25.95px;
}
.divday43,
.divday44 {
  left: 38.16px;
}
.divday44 {
  left: 50.37px;
}
.divday45,
.divday46,
.divday47,
.divday48,
.divday49 {
  position: absolute;
  top: calc(50% - 4.58px);
  left: 1.53px;
  background-color: var(--color-lightskyblue-200);
  width: 9.16px;
  height: 9.16px;
}
.divday46,
.divday47,
.divday48,
.divday49 {
  left: 13.74px;
  background-color: var(--color-lightblue);
}
.divday47,
.divday48,
.divday49 {
  left: 25.95px;
}
.divday48,
.divday49 {
  left: 38.16px;
}
.divday49 {
  left: 50.37px;
}
.divday50,
.divday51,
.divday52,
.divday53,
.divday54,
.divday55,
.divday56,
.divday57,
.divday58,
.divday59,
.divday60 {
  position: absolute;
  top: calc(50% + 7.63px);
  left: 1.53px;
  background-color: var(--color-lightblue);
  width: 9.16px;
  height: 9.16px;
}
.divday51,
.divday52,
.divday53,
.divday54,
.divday55,
.divday56,
.divday57,
.divday58,
.divday59,
.divday60 {
  left: 13.74px;
}
.divday52,
.divday53,
.divday54,
.divday55,
.divday56,
.divday57,
.divday58,
.divday59,
.divday60 {
  left: 25.95px;
}
.divday53,
.divday54,
.divday55,
.divday56,
.divday57,
.divday58,
.divday59,
.divday60 {
  left: 38.16px;
}
.divday54,
.divday55,
.divday56,
.divday57,
.divday58,
.divday59,
.divday60 {
  left: 50.37px;
}
.divday55,
.divday56,
.divday57,
.divday58,
.divday59,
.divday60 {
  top: calc(50% + 19.84px);
  left: 1.53px;
}
.divday56,
.divday57,
.divday58,
.divday59,
.divday60 {
  left: 13.74px;
  background-color: var(--color-lightskyblue-100);
}
.divday57,
.divday58,
.divday59,
.divday60 {
  left: 25.95px;
  background-color: var(--color-lightblue);
}
.divday58,
.divday59,
.divday60 {
  left: 38.16px;
}
.divday59,
.divday60 {
  left: 50.37px;
}
.divday60 {
  top: calc(50% + 32.05px);
  left: 1.53px;
}
.divdays1 {
  position: relative;
  width: 65.79px;
  height: 85.47px;
}
.divmonth1 {
  position: absolute;
  top: 0;
  left: calc(50% - 131.57px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.07px;
}
.divday61,
.divday62,
.divday63,
.divday64,
.divday65,
.divday66,
.divday68,
.divday69 {
  position: absolute;
  top: calc(50% - 41.21px);
  left: 1.53px;
  background-color: var(--color-lightblue);
  width: 9.16px;
  height: 9.16px;
}
.divday62,
.divday63,
.divday64,
.divday65,
.divday66,
.divday68,
.divday69 {
  left: 13.74px;
}
.divday63,
.divday64,
.divday65,
.divday66,
.divday68,
.divday69 {
  left: 25.95px;
}
.divday64,
.divday65,
.divday66,
.divday68,
.divday69 {
  left: 38.16px;
  background-color: var(--color-lightskyblue-100);
}
.divday65,
.divday66,
.divday68,
.divday69 {
  left: 50.37px;
  background-color: var(--color-lightblue);
}
.divday66,
.divday68,
.divday69 {
  top: calc(50% - 29px);
  left: 1.53px;
  background-color: var(--color-lightskyblue-100);
}
.divday68,
.divday69 {
  left: 25.95px;
  background-color: var(--color-lightskyblue-200);
}
.divday69 {
  left: 38.16px;
  background-color: var(--color-lightskyblue-100);
}
.divday71,
.divday72,
.divday76,
.divday77,
.divday78,
.divday79,
.divday87 {
  position: absolute;
  top: calc(50% - 16.79px);
  left: 1.53px;
  background-color: var(--color-lightblue);
  width: 9.16px;
  height: 9.16px;
}
.divday72,
.divday76,
.divday77,
.divday78,
.divday79,
.divday87 {
  left: 13.74px;
  background-color: var(--color-lightskyblue-100);
}
.divday76,
.divday77,
.divday78,
.divday79,
.divday87 {
  top: calc(50% - 4.58px);
  left: 1.53px;
}
.divday77,
.divday78,
.divday79,
.divday87 {
  left: 13.74px;
}
.divday78,
.divday79,
.divday87 {
  left: 25.95px;
}
.divday79,
.divday87 {
  left: 38.16px;
}
.divday87 {
  top: calc(50% + 19.84px);
  left: 13.74px;
  background-color: var(--color-lightblue);
}
.divmonth2 {
  position: absolute;
  top: 0;
  left: calc(50% - 65.79px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.07px;
}
.divday104,
.divday105,
.divday92,
.divday93,
.divday94,
.divday95,
.divday98 {
  position: absolute;
  top: calc(50% - 35.1px);
  left: 1.53px;
  background-color: var(--color-lightblue);
  width: 9.16px;
  height: 9.16px;
}
.divday104,
.divday105,
.divday93,
.divday94,
.divday95,
.divday98 {
  left: 13.74px;
}
.divday104,
.divday105,
.divday94,
.divday95,
.divday98 {
  left: 25.95px;
}
.divday104,
.divday105,
.divday95,
.divday98 {
  left: 38.16px;
}
.divday104,
.divday105,
.divday98 {
  top: calc(50% - 22.89px);
  left: 13.74px;
}
.divday104,
.divday105 {
  top: calc(50% - 10.68px);
  left: 25.95px;
}
.divday105 {
  left: 38.16px;
}
.divday108,
.divday110,
.divday111,
.divday112,
.divday114,
.divday115,
.divday117,
.divday118,
.divday119 {
  position: absolute;
  top: calc(50% + 1.53px);
  left: 13.74px;
  background-color: var(--color-lightblue);
  width: 9.16px;
  height: 9.16px;
}
.divday110,
.divday111,
.divday112,
.divday114,
.divday115,
.divday117,
.divday118,
.divday119 {
  left: 38.16px;
}
.divday111,
.divday112,
.divday114,
.divday115,
.divday117,
.divday118,
.divday119 {
  left: 50.37px;
}
.divday112,
.divday114,
.divday115,
.divday117,
.divday118,
.divday119 {
  top: calc(50% + 13.74px);
  left: 1.53px;
}
.divday114,
.divday115,
.divday117,
.divday118,
.divday119 {
  left: 25.95px;
}
.divday115,
.divday117,
.divday118,
.divday119 {
  left: 38.16px;
}
.divday117,
.divday118,
.divday119 {
  top: calc(50% + 25.95px);
  left: 1.53px;
}
.divday118,
.divday119 {
  left: 13.74px;
}
.divday119 {
  left: 25.95px;
}
.divmonth3 {
  position: absolute;
  top: 0;
  left: calc(50% - 0px);
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) 12.210180282592773px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.07px;
}
.divday126,
.divday127,
.divday129,
.divday135 {
  position: absolute;
  top: calc(50% - 29px);
  left: 13.74px;
  background-color: var(--color-whitesmoke-700);
  width: 9.16px;
  height: 9.16px;
}
.divday127,
.divday129,
.divday135 {
  left: 25.95px;
}
.divday129,
.divday135 {
  left: 50.37px;
}
.divday135 {
  top: calc(50% - 4.58px);
  left: 1.53px;
  background-color: var(--color-lightblue);
}
.divday139,
.divday140,
.divday143,
.divday145,
.divday146,
.divday147,
.divday148 {
  position: absolute;
  top: calc(50% - 4.58px);
  left: 50.37px;
  background-color: var(--color-whitesmoke-700);
  width: 9.16px;
  height: 9.16px;
}
.divday140,
.divday143,
.divday145,
.divday146,
.divday147,
.divday148 {
  top: calc(50% + 7.63px);
  left: 1.53px;
}
.divday143,
.divday145,
.divday146,
.divday147,
.divday148 {
  left: 38.16px;
}
.divday145,
.divday146,
.divday147,
.divday148 {
  top: calc(50% + 19.84px);
  left: 1.53px;
}
.divday146,
.divday147,
.divday148 {
  left: 13.74px;
}
.divday147,
.divday148 {
  left: 25.95px;
}
.divday148 {
  left: 38.16px;
}
.divmonth4 {
  position: absolute;
  top: 0;
  left: calc(50% + 65.79px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.07px;
}
.divday156,
.divday158,
.divday161,
.divday166,
.divday168,
.divday175 {
  position: absolute;
  top: calc(50% - 22.89px);
  left: 1.53px;
  background-color: var(--color-whitesmoke-700);
  width: 9.16px;
  height: 9.16px;
}
.divday158,
.divday161,
.divday166,
.divday168,
.divday175 {
  left: 25.95px;
}
.divday161,
.divday166,
.divday168,
.divday175 {
  top: calc(50% - 10.68px);
  left: 1.53px;
}
.divday166,
.divday168,
.divday175 {
  top: calc(50% + 1.53px);
}
.divday168,
.divday175 {
  left: 25.95px;
}
.divday175 {
  top: calc(50% + 13.74px);
  left: 50.37px;
}
.divmonth5 {
  position: absolute;
  top: 0;
  left: calc(50% + 131.58px);
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) 12.210180282592773px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.07px;
}
.divday186,
.divday189,
.divday191,
.divday192,
.divday193,
.divday194,
.divday195 {
  position: absolute;
  top: calc(50% - 29px);
  left: 1.53px;
  background-color: var(--color-whitesmoke-700);
  width: 9.16px;
  height: 9.16px;
}
.divday189,
.divday191,
.divday192,
.divday193,
.divday194,
.divday195 {
  left: 38.16px;
}
.divday191,
.divday192,
.divday193,
.divday194,
.divday195 {
  top: calc(50% - 16.79px);
  left: 1.53px;
}
.divday192,
.divday193,
.divday194,
.divday195 {
  left: 13.74px;
}
.divday193,
.divday194,
.divday195 {
  left: 25.95px;
}
.divday194,
.divday195 {
  left: 38.16px;
}
.divday195 {
  left: 50.37px;
}
.divday196,
.divday197,
.divday198,
.divday199,
.divday202,
.divday203,
.divday205,
.divday210,
.divday211 {
  position: absolute;
  top: calc(50% - 4.58px);
  left: 1.53px;
  background-color: var(--color-whitesmoke-700);
  width: 9.16px;
  height: 9.16px;
}
.divday197,
.divday198,
.divday199,
.divday202,
.divday203,
.divday205,
.divday210,
.divday211 {
  left: 13.74px;
}
.divday198,
.divday199,
.divday202,
.divday203,
.divday205,
.divday210,
.divday211 {
  left: 25.95px;
}
.divday199,
.divday202,
.divday203,
.divday205,
.divday210,
.divday211 {
  left: 38.16px;
}
.divday202,
.divday203,
.divday205,
.divday210,
.divday211 {
  top: calc(50% + 7.63px);
  left: 13.74px;
}
.divday203,
.divday205,
.divday210,
.divday211 {
  left: 25.95px;
}
.divday205,
.divday210,
.divday211 {
  left: 50.37px;
}
.divday210,
.divday211 {
  top: calc(50% + 19.84px);
}
.divday211 {
  top: calc(50% + 32.05px);
  left: 1.53px;
}
.divmonth6 {
  position: absolute;
  top: 119.05px;
  left: calc(50% - 197.37px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.07px;
}
.divday216,
.divday220,
.divday221,
.divday223,
.divday226,
.divday233 {
  position: absolute;
  top: calc(50% - 35.1px);
  left: 50.37px;
  background-color: var(--color-whitesmoke-700);
  width: 9.16px;
  height: 9.16px;
}
.divday220,
.divday221,
.divday223,
.divday226,
.divday233 {
  top: calc(50% - 22.89px);
  left: 38.16px;
}
.divday221,
.divday223,
.divday226,
.divday233 {
  left: 50.37px;
}
.divday223,
.divday226,
.divday233 {
  top: calc(50% - 10.68px);
  left: 13.74px;
}
.divday226,
.divday233 {
  left: 50.37px;
}
.divday233 {
  top: calc(50% + 13.74px);
  left: 13.74px;
}
.divmonth7,
.divmonth8 {
  position: absolute;
  top: 119.05px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.07px;
}
.divmonth7 {
  left: calc(50% - 131.57px);
  padding: var(--padding-0) var(--padding-0) 12.210180282592773px;
}
.divmonth8 {
  left: calc(50% - 65.79px);
}
.divmonth9 {
  left: calc(50% - 0px);
}
.divmonth10,
.divmonth11,
.divmonth9 {
  position: absolute;
  top: 119.05px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.07px;
}
.divmonth10 {
  left: calc(50% + 65.79px);
  padding: var(--padding-0) var(--padding-0) 12.210180282592773px;
}
.divmonth11 {
  left: calc(50% + 131.58px);
}
.current-streak,
.days {
  position: absolute;
  display: flex;
  align-items: center;
  height: 14.25px;
}
.current-streak {
  top: 0;
  left: 0;
  line-height: 15.26px;
  font-weight: 600;
  width: 79.59px;
}
.days {
  top: 0.51px;
  left: 84.47px;
  font-weight: 500;
  color: var(--color-royalblue-300);
  width: 35.03px;
}
.divalign-center6 {
  position: absolute;
  width: calc(100% - 133.8px);
  top: calc(50% - 7.63px);
  right: 133.8px;
  left: 0;
  height: 15.26px;
}
.days1,
.max-streak {
  position: absolute;
  display: flex;
  align-items: center;
  height: 14.25px;
}
.max-streak {
  top: 0;
  left: 0;
  line-height: 15.26px;
  font-weight: 600;
  width: 61px;
}
.days1 {
  top: 0.51px;
  left: 65.88px;
  font-weight: 500;
  color: var(--color-royalblue-300);
  width: 43.88px;
}
.divalign-center7 {
  position: absolute;
  width: calc(100% - 133.8px);
  top: calc(50% - 7.63px);
  right: 0;
  left: 133.8px;
  height: 15.26px;
}
.divinfo {
  position: relative;
  width: 267.61px;
  height: 15.26px;
}
.activity,
.divbox {
  position: absolute;
  left: 0;
  height: 14.25px;
}
.activity {
  top: 1.02px;
  line-height: 16.28px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 44.05px;
}
.divbox {
  top: calc(50% - 7.12px);
  background-color: var(--color-lightblue);
}
.divbox,
.divbox1,
.divbox2 {
  border-radius: 3.05px;
  border: 1px solid var(--color-whitesmoke-500);
  box-sizing: border-box;
  width: 14.25px;
}
.divbox1 {
  position: absolute;
  top: calc(50% - 7.12px);
  left: 17.3px;
  background-color: var(--color-lightskyblue-100);
  height: 14.25px;
}
.divbox2 {
  left: 34.6px;
  background-color: var(--color-lightskyblue-200);
}
.divactivity,
.divbox2,
.divbox3 {
  position: absolute;
  top: calc(50% - 7.12px);
  height: 14.25px;
}
.divbox3 {
  left: 51.89px;
  border-radius: 3.05px;
  background-color: var(--color-lightskyblue-200);
  border: 1px solid var(--color-whitesmoke-500);
  box-sizing: border-box;
  width: 14.25px;
}
.divactivity {
  left: 54.02px;
  width: 69.19px;
}
.divinfo1 {
  position: relative;
  width: 124.14px;
  height: 16.28px;
  color: var(--color-darkslateblue-100);
}
.divstreaks-info {
  position: absolute;
  top: 253.36px;
  left: calc(50% - 197.4px);
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 3.0525450706481934px var(--padding-0)
    var(--padding-0);
  align-items: center;
  justify-content: flex-start;
  font-size: 11.19px;
  color: var(--color-darkslateblue-1000);
}
.divflex-wrap {
  position: absolute;
  top: 43.75px;
  left: 0;
  width: 394.8px;
  height: 269.64px;
  font-size: 12.21px;
  color: var(--color-darkslateblue-800);
}
.divfield5,
.divstreaks {
  position: absolute;
  top: 16.28px;
  left: 16.28px;
  width: 394.8px;
  height: 313.39px;
}
.divstreaks {
  top: 0;
  left: 0;
  border-radius: 8.14px;
  background-color: var(--color-white);
  width: 427.36px;
  height: 345.96px;
  overflow: hidden;
}
.certificate-of-participation {
  position: relative;
  line-height: 17.3px;
  font-weight: 600;
}
.quiz-online-assessment {
  position: relative;
  line-height: 16.28px;
  font-weight: 500;
}
.pdouble-wrap {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 30.779829025268555px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 12.21px;
  color: var(--color-steelblue-500);
}
.apr-23-0807 {
  position: relative;
  font-size: 10.18px;
  line-height: 10.18px;
}
.divcptn {
  position: absolute;
  top: calc(50% - 39.28px);
  left: 71.23px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) 3.0525450706481934px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6.11px;
}
.c09ae5bf-logo-for-maruti-suzuk-icon {
  position: absolute;
  height: calc(100% - 50.94px);
  top: 25.47px;
  bottom: 25.47px;
  left: 5.09px;
  max-height: 100%;
  width: 45.79px;
  object-fit: cover;
}
.acert,
.divlogo-box {
  position: absolute;
  left: 0;
}
.divlogo-box {
  top: calc(50% - 36.63px);
  background-color: var(--color-white);
  width: 55.96px;
  height: 55.96px;
}
.acert {
  top: 0;
  border-bottom: 2px solid rgba(221, 229, 234, 0.6);
  box-sizing: border-box;
  width: 394.8px;
  height: 76.31px;
}
.divcptn1,
.pdouble-wrap1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pdouble-wrap1 {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-0) 74.53297424316406px var(--padding-0)
    var(--padding-0);
  font-size: 12.21px;
  color: var(--color-steelblue-500);
}
.divcptn1 {
  position: absolute;
  top: calc(50% - 30.63px);
  left: 71.23px;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) 3.0525450706481934px;
  gap: 6.11px;
}
.ac86f9559d8png-icon {
  position: absolute;
  height: calc(100% - 10.18px);
  top: 5.09px;
  bottom: 5.09px;
  left: 5.09px;
  max-height: 100%;
  width: 45.79px;
  object-fit: cover;
}
.acert1,
.divlogo-box1 {
  position: absolute;
  left: 0;
}
.divlogo-box1 {
  top: calc(50% - 27.98px);
  background-color: var(--color-white);
  width: 55.96px;
  height: 55.96px;
}
.acert1 {
  top: 91.58px;
  width: 394.8px;
  height: 59.02px;
}
.chevron-right2,
.view-all-certificate {
  position: absolute;
  top: 1.02px;
  left: 0;
  display: flex;
  align-items: center;
  width: 117.76px;
  height: 16.28px;
}
.chevron-right2 {
  top: 0;
  left: 117.55px;
  font-size: 18.32px;
  line-height: 18.32px;
  font-family: var(--font-material-icons);
  width: 18.52px;
  height: 18.32px;
}
.divcert-list,
.divcerti-btn1 {
  position: absolute;
  left: 0;
  width: 394.8px;
}
.divcerti-btn1 {
  top: 181.12px;
  height: 18.32px;
  font-size: 13.23px;
  color: var(--color-darkslateblue-900);
}
.divcert-list {
  top: 81.4px;
  border-radius: 8.14px;
  height: 199.43px;
  overflow: hidden;
}
.divfield6,
.divwhite-box2 {
  position: absolute;
  top: 16.28px;
  left: 16.28px;
  width: 394.8px;
  height: 280.83px;
}
.divwhite-box2 {
  top: 0;
  left: 432.44px;
  border-radius: 8.14px;
  background-color: var(--color-white);
  width: 427.36px;
  height: 345.96px;
  overflow: hidden;
}
.divhalf-box-wrap1 {
  position: absolute;
  top: 604.4px;
  left: 0;
  width: 859.8px;
  height: 345.96px;
}
.divleft-side {
  position: relative;
  width: 859.8px;
  height: 950.36px;
  z-index: 0;
  font-size: 14.25px;
}
.divbox-wrap {
  position: absolute;
  top: 188.39px;
  left: 86.74px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.09px;
  font-size: 12.21px;
}
.group-child20 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-aliceblue-300);
  width: 1343px;
  height: 72.75px;
}
.home-competition6 {
  position: absolute;
  top: 24.53px;
  right: 515.75px;
  line-height: 26.11px;
  font-weight: 500;
  display: inline-block;
  width: 761.97px;
  height: 23.68px;
  opacity: 0.7;
}
.navigasi-login-child6,
.rectangle-parent13 {
  position: absolute;
  top: 83.94px;
  left: 0;
  width: 1343px;
  height: 72.75px;
}
.navigasi-login-child6 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-darkslateblue-200);
}
.mask-group-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 44.72px;
  height: 44.72px;
  object-fit: cover;
}
.frontend-developer7,
.hi-ogunfuye-segun7 {
  position: absolute;
  left: 0;
  line-height: 150%;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.hi-ogunfuye-segun7 {
  top: 0;
  font-size: 11.85px;
  font-weight: 500;
}
.frontend-developer7 {
  top: 17.78px;
  font-size: 10.16px;
  opacity: 0.7;
}
.hi-ogunfuye-segun-parent4 {
  text-decoration: none;
  position: absolute;
  top: 4.49px;
  left: 44.78px;
  width: 116px;
  height: 32.78px;
  cursor: pointer;
}
.vector-icon23 {
  position: relative;
  width: 11.85px;
  height: 6.77px;
}
.icon7 {
  position: absolute;
  top: 10.09px;
  left: 175.16px;
  width: 20.58px;
  height: 19.67px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 7.29371452331543px 5.209795951843262px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.mask-group-parent4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: -2.8px;
  left: -9.33px;
  width: 195.74px;
  height: 44.72px;
}
.navigasi-login-inner13 {
  position: absolute;
  top: 22.38px;
  left: 1061.34px;
  width: 196.67px;
  height: 35.56px;
  cursor: pointer;
}
.group-icon10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24.33px;
  height: 26.73px;
}
.collegal21,
.logo14 {
  position: absolute;
  top: 0;
  left: 28.64px;
}
.logo14 {
  text-decoration: none;
  top: 26.78px;
  left: 68.08px;
  width: 114.64px;
  height: 26.73px;
  cursor: pointer;
  color: inherit;
}
.competition9 {
  position: relative;
  line-height: 16.09px;
  font-weight: 500;
}
.products7 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: inherit;
}
.blog7 {
  position: relative;
  line-height: 16.09px;
  font-weight: 500;
  cursor: pointer;
}
.pricing7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nav-menu7,
.search7 {
  position: absolute;
  display: flex;
}
.nav-menu7 {
  top: 31.71px;
  left: 235.02px;
  width: 271.4px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22.38px;
  font-size: 12.59px;
  font-family: var(--font-dm-sans);
}
.search7 {
  border: 0;
  font-family: var(--font-arial);
  font-size: 13.06px;
  background-color: transparent;
  top: 0;
  left: 20.52px;
  color: var(--color-white);
  text-align: left;
  align-items: center;
  width: 356.27px;
  height: 26.11px;
}
.icon-search-icon7 {
  position: absolute;
  height: 57.14%;
  width: 3.96%;
  top: 21.43%;
  right: 96.04%;
  bottom: 21.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-wrapper6,
.search-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 376.79px;
  height: 26.11px;
}
.group-wrapper6 {
  top: 5.59px;
  left: 33.57px;
}
.navigasi-login-inner14 {
  position: absolute;
  top: 23.32px;
  left: 544.66px;
  border-radius: 14.66px;
  border: 0.9px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 425.28px;
  height: 37.31px;
  overflow: hidden;
}
.hamburger-iconsvg15 {
  position: relative;
  width: 17.72px;
  height: 16.79px;
  overflow: hidden;
  flex-shrink: 0;
}
.hamburger-iconsvg14 {
  position: absolute;
  top: calc(50% - 10.26px);
  left: 1284.24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent14,
.navigasi-login7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1343px;
}
.navigasi-login7 {
  height: 83.94px;
  font-size: 21.29px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.group-parent14 {
  height: 156.68px;
  color: var(--dark-blue);
  font-family: var(--font-poppins);
}
.terms-privacy7 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 16.4px;
}
.tems-and-condition7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 49.19px;
}
.icon-11-7 {
  position: relative;
  width: 7.38px;
  height: 13.68px;
}
.linkedin-icon7,
.vector-icon24 {
  position: relative;
  width: 13.94px;
  height: 11.32px;
}
.linkedin-icon7 {
  width: 12.3px;
  height: 12.3px;
}
.btm7,
.social-icon7 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-icon7 {
  justify-content: flex-start;
  gap: 26.23px;
}
.btm7 {
  position: absolute;
  top: 427.15px;
  left: 149.22px;
  width: 1045.49px;
  justify-content: space-between;
  font-size: 13.12px;
}
.logo-icon7 {
  position: relative;
  width: 33.85px;
  height: 26.53px;
  overflow: hidden;
  flex-shrink: 0;
}
.logo15 {
  text-decoration: none;
  position: absolute;
  top: 95.13px;
  left: 149.22px;
  width: 145.59px;
  height: 30.78px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    1.0602876541164485e-13px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 8.39px;
  font-size: 25.62px;
  color: inherit;
}
.sign-in7 {
  color: var(--color-khaki-100);
}
.have-and-account-container7 {
  text-decoration: none;
  position: absolute;
  top: 128.7px;
  left: 149.22px;
  font-size: 15.96px;
  font-weight: 600;
  cursor: pointer;
  color: inherit;
}
.product21 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18.65px;
}
.blog-news14,
.compitition14,
.public-notebook14,
.publications14 {
  text-decoration: none;
  position: absolute;
  top: 43.83px;
  left: 0;
  color: inherit;
  cursor: pointer;
}
.blog-news14,
.public-notebook14,
.publications14 {
  top: 72.75px;
}
.blog-news14,
.public-notebook14 {
  top: 101.66px;
}
.blog-news14 {
  top: 130.57px;
}
.legal-notice14 {
  position: absolute;
  top: 159.48px;
  left: 0;
}
.about-us-row21,
.about-us-row22 {
  position: absolute;
  top: 95.13px;
  left: 704.14px;
  width: 125.91px;
  height: 178.13px;
  font-family: var(--font-montserrat);
}
.about-us-row22 {
  left: 906.53px;
}
.discussion8 {
  text-decoration: none;
  position: absolute;
  top: 159.48px;
  left: 0;
  color: inherit;
  cursor: pointer;
}
.about-us-row23 {
  position: absolute;
  top: 95.13px;
  left: 1108.91px;
  width: 125.91px;
  height: 178.13px;
  font-family: var(--font-montserrat);
}
.fotter7 {
  position: absolute;
  top: 1461.44px;
  left: 0;
  background-color: var(--color-darkslateblue-200);
  width: 1343px;
  height: 508.29px;
  overflow: hidden;
  color: var(--color-white);
}
.account-1-profile-page {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 1969.73px;
  overflow: hidden;
  text-align: left;
  font-size: 14.92px;
  color: var(--color-darkslateblue-100);
  font-family: var(--font-inter);
}
