.group-child18 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue-200);
  width: 1343px;
  height: 267.67px;
}
.collegal-blog {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.9px;
  line-height: 58.2px;
  font-weight: 600;
}
.tutorials-sample-apps {
  margin: 0;
}
.tutorials-sample-apps-container {
  position: relative;
  line-height: 25.37px;
  font-weight: 500;
}
.pf-hero-description2 {
  position: absolute;
  top: 76.84px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 10.259027481079102px 0.3544037640094757px
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14.92px;
  color: var(--color-whitesmoke-700);
}
.sign-up-now3 {
  position: absolute;
  top: 8.39px;
  left: 18.65px;
  font-size: 13.06px;
  letter-spacing: 0.19px;
  line-height: 22.38px;
  text-transform: uppercase;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.frame-icon10 {
  position: absolute;
  top: 12.59px;
  left: 111.19px;
  width: 14.18px;
  height: 13.99px;
  overflow: hidden;
}
.af-button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 156.47px;
  left: 0;
  border-radius: 3.73px;
  background: linear-gradient(-74.78deg, #ee7752, #e73c7e);
  width: 144.02px;
  height: 39.17px;
}
.collegal-blog-parent {
  position: absolute;
  top: 36.37px;
  left: 110.98px;
  width: 443.26px;
  height: 195.64px;
}
.rectangle-parent11 {
  position: absolute;
  top: 156.68px;
  left: 0;
  width: 1343px;
  height: 267.67px;
  font-size: 44.77px;
  color: var(--color-white);
}
.yolo {
  position: absolute;
  top: 30.78px;
  left: 19.59px;
  font-size: 13.06px;
  line-height: 22.38px;
  font-weight: 500;
  color: var(--color-royalblue-200);
}
.frame-icon11 {
  position: absolute;
  top: 34.97px;
  left: 56.55px;
  width: 13.99px;
  height: 13.99px;
  overflow: hidden;
}
.review-of-pp-yolo-container {
  position: absolute;
  top: 70.88px;
  left: 19.59px;
  font-size: 26.11px;
  letter-spacing: -0.02px;
  line-height: 31.34px;
  font-weight: 600;
  color: var(--color-gray-500);
}
.in-this-article-container {
  position: absolute;
  top: 184.46px;
  left: 19.59px;
  font-size: 14.92px;
  line-height: 25.37px;
  color: var(--color-darkslategray-200);
}
.adrien-payongs-profile {
  position: absolute;
  top: calc(50% + 118.6px);
  left: 19.58px;
  border-radius: 14.92px;
  width: 29.84px;
  height: 29.84px;
}
.adrien-payong {
  text-decoration: underline;
}
.by-adrien-payong-container1 {
  line-break: anywhere;
  width: 100%;
}
.by-adrien-payong-container {
  position: absolute;
  top: -0.93px;
  left: 0;
  line-height: 16.97px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 105.84px;
  height: 17.72px;
}
.spanh2d-264cedb3 {
  position: absolute;
  top: calc(50% + 125.04px);
  left: 63.42px;
  width: 105.65px;
  height: 16.96px;
  overflow: hidden;
}
.div133 {
  position: absolute;
  top: 301.56px;
  left: 178.4px;
  font-size: 13.99px;
  line-height: 22.38px;
}
.days-ago {
  position: absolute;
  top: 303.34px;
  left: 193.49px;
  line-height: 16.97px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 71.85px;
  height: 17.72px;
}
.articlef-post-card {
  text-decoration: none;
  position: absolute;
  top: 1007.25px;
  left: 110.98px;
  border-radius: 9.33px;
  background-color: var(--color-white);
  border: 0.9px solid var(--color-steelblue-300);
  box-sizing: border-box;
  width: 540.93px;
  height: 358.45px;
  color: inherit;
}
.pytorch {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22.38px;
  font-weight: 500;
}
.frame-icon12 {
  position: absolute;
  top: 4.2px;
  left: 55.18px;
  width: 13.99px;
  height: 13.99px;
  overflow: hidden;
}
.af-post-card-tag {
  position: absolute;
  top: calc(50% - 148.45px);
  left: 19.59px;
  width: 69.17px;
  height: 22.38px;
  font-size: 13.06px;
  color: var(--color-royalblue-200);
}
.pytorch-the-ultimate-container {
  position: relative;
  letter-spacing: -0.02px;
  line-height: 31.34px;
  font-weight: 600;
}
.h2h2d-a4325846,
.pf-post-card-excerpt {
  position: absolute;
  top: 70.88px;
  left: 19.59px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 108.18611145019531px 0.17720367014408112px
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 26.11px;
  color: var(--color-gray-500);
}
.pf-post-card-excerpt {
  top: 152.2px;
  overflow: hidden;
  padding: var(--padding-0) 3.730555534362793px 0.3544037640094757px
    var(--padding-0);
  font-size: 14.92px;
  color: var(--color-darkslategray-200);
}
.flower-rainbow-colorful-depop-icon {
  position: absolute;
  top: calc(50% + 119.54px);
  left: calc(50% - 249.95px);
  border-radius: 13.99px;
  width: 27.98px;
  height: 27.98px;
  overflow: hidden;
  object-fit: cover;
}
.by-david-clinton-container {
  position: absolute;
  top: 303.34px;
  left: 63.42px;
  line-height: 16.97px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 98.7px;
  height: 17.72px;
}
.div134 {
  position: absolute;
  top: 301.56px;
  left: 171.26px;
  font-size: 13.99px;
  line-height: 22.38px;
}
.days-ago1 {
  position: absolute;
  top: -0.93px;
  left: 0;
  line-height: 16.97px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 68.02px;
  height: 17.72px;
}
.spanf-post-card-date {
  position: absolute;
  top: calc(50% + 125.05px);
  left: 186.35px;
  width: 67.83px;
  height: 16.96px;
  overflow: hidden;
}
.articlef-post-card1 {
  text-decoration: none;
  position: absolute;
  top: 1418.54px;
  left: 110.98px;
  border-radius: 9.33px;
  background-color: var(--color-white);
  border: 0.9px solid var(--color-steelblue-300);
  box-sizing: border-box;
  width: 540.93px;
  height: 358.45px;
  color: inherit;
}
.group-icon8,
.img-2678jpeg-icon {
  position: absolute;
  overflow: hidden;
}
.group-icon8 {
  height: 2.28%;
  width: 0.86%;
  top: 10.56%;
  right: 88.68%;
  bottom: 87.15%;
  left: 10.46%;
  max-width: 100%;
  max-height: 100%;
}
.img-2678jpeg-icon {
  top: calc(50% - 13.99px);
  left: calc(50% - 13.99px);
  border-radius: 13.99px;
  width: 27.98px;
  height: 27.98px;
  object-fit: cover;
}
.james-skeltons-profile {
  position: absolute;
  top: calc(50% + 118.6px);
  left: 19.59px;
  border-radius: 14.92px;
  background-color: var(--color-whitesmoke-800);
  border: 0.9px solid var(--color-whitesmoke-800);
  box-sizing: border-box;
  width: 29.84px;
  height: 29.84px;
}
.by-james-skelton-container {
  position: absolute;
  top: -0.93px;
  left: 0;
  line-height: 16.97px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 105.68px;
  height: 17.72px;
}
.spanh2d-44f459f4 {
  position: absolute;
  top: calc(50% + 125.04px);
  left: 63.42px;
  width: 105.49px;
  height: 16.96px;
  overflow: hidden;
}
.div135 {
  position: absolute;
  top: 301.56px;
  left: 178.24px;
  font-size: 13.99px;
  line-height: 22.38px;
}
.days-ago2 {
  position: absolute;
  top: 303.34px;
  left: 193.34px;
  line-height: 16.97px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 67.51px;
  height: 17.72px;
}
.articlef-post-card2 {
  text-decoration: none;
  position: absolute;
  top: 1007.25px;
  left: 689.22px;
  border-radius: 9.33px;
  background-color: var(--color-white);
  border: 0.9px solid var(--color-steelblue-300);
  box-sizing: border-box;
  width: 540.93px;
  height: 358.45px;
  color: inherit;
}
.frame-icon13 {
  position: absolute;
  top: 34.97px;
  left: 132.75px;
  width: 13.99px;
  height: 13.99px;
  overflow: hidden;
}
.in-this-blog-container {
  position: absolute;
  top: 153.13px;
  left: 19.59px;
  font-size: 14.92px;
  line-height: 25.37px;
  color: var(--color-darkslategray-200);
}
.tabitha-oandas-profile {
  position: absolute;
  top: calc(50% + 134.27px);
  left: 19.59px;
  border-radius: 14.92px;
  background-color: var(--color-whitesmoke-800);
  border: 0.9px solid var(--color-whitesmoke-800);
  box-sizing: border-box;
  width: 29.84px;
  height: 29.84px;
}
.by-tabitha-oanda-container {
  position: absolute;
  top: -0.93px;
  left: 0;
  line-height: 16.97px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 109.12px;
  height: 17.72px;
}
.spanh2d-dcf79937 {
  position: absolute;
  top: calc(50% + 140.71px);
  left: 63.42px;
  width: 108.93px;
  height: 16.96px;
  overflow: hidden;
}
.div136 {
  position: absolute;
  top: 332.9px;
  left: 181.68px;
  font-size: 13.99px;
  line-height: 22.38px;
}
.days-ago3 {
  position: absolute;
  top: 334.68px;
  left: 196.77px;
  line-height: 16.97px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 71.94px;
  height: 17.72px;
}
.articlef-post-card3 {
  text-decoration: none;
  position: absolute;
  top: 1829.84px;
  left: 110.98px;
  border-radius: 9.33px;
  background-color: var(--color-white);
  border: 0.9px solid var(--color-steelblue-300);
  box-sizing: border-box;
  width: 540.93px;
  height: 389.79px;
  color: inherit;
}
.frame-icon14 {
  position: absolute;
  top: 34.97px;
  left: 56.56px;
  width: 13.99px;
  height: 13.99px;
  overflow: hidden;
}
.in-this-blog-container1 {
  position: absolute;
  top: 215.79px;
  left: 19.59px;
  font-size: 14.92px;
  line-height: 25.37px;
  color: var(--color-darkslategray-200);
}
.spanh2d-d0f298b8 {
  position: absolute;
  top: calc(50% + 140.71px);
  left: 63.42px;
  width: 105.49px;
  height: 16.96px;
  overflow: hidden;
}
.div137 {
  position: absolute;
  top: 332.9px;
  left: 178.24px;
  font-size: 13.99px;
  line-height: 22.38px;
}
.days-ago4 {
  position: absolute;
  top: 334.68px;
  left: 193.34px;
  line-height: 16.97px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 74.96px;
  height: 17.72px;
}
.articlef-post-card4 {
  text-decoration: none;
  position: absolute;
  top: 1830.77px;
  left: 689.22px;
  border-radius: 9.33px;
  background-color: var(--color-white);
  border: 0.9px solid var(--color-steelblue-300);
  box-sizing: border-box;
  width: 540.93px;
  height: 389.79px;
  color: inherit;
}
.frame-icon15 {
  position: absolute;
  top: 34.97px;
  left: 45.36px;
  width: 13.99px;
  height: 13.99px;
  overflow: hidden;
}
.adrien-payongs-profile1 {
  position: absolute;
  top: calc(50% + 118.6px);
  left: 19.59px;
  border-radius: 14.92px;
  width: 29.84px;
  height: 29.84px;
}
.a-month-ago {
  position: absolute;
  top: 303.34px;
  left: 193.49px;
  line-height: 16.97px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 79.2px;
  height: 17.72px;
}
.articlef-post-card5 {
  text-decoration: none;
  position: absolute;
  top: 1418.54px;
  left: 689.22px;
  border-radius: 9.33px;
  background-color: var(--color-white);
  border: 0.9px solid var(--color-steelblue-300);
  box-sizing: border-box;
  width: 540.93px;
  height: 358.45px;
  color: inherit;
}
.frame-icon16 {
  position: absolute;
  top: 4.2px;
  left: 47.64px;
  width: 13.99px;
  height: 13.99px;
  overflow: hidden;
}
.af-post-card-tag1 {
  position: absolute;
  top: calc(50% - 148.45px);
  left: 19.59px;
  width: 61.63px;
  height: 22.38px;
}
.h2h2d-3358421e,
.pf-post-card-excerpt1 {
  position: absolute;
  top: 70.88px;
  left: 19.59px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 45.69930648803711px 0.17720367014408112px
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 26.11px;
  color: var(--color-gray-500);
}
.pf-post-card-excerpt1 {
  top: 153.13px;
  overflow: hidden;
  padding: var(--padding-0) 20.518054962158203px var(--padding-0)
    var(--padding-0);
  font-size: 14.92px;
  color: var(--color-darkslategray-200);
}
.img-4117jpg-icon1 {
  position: absolute;
  top: calc(50% - 13.99px);
  left: calc(50% - 249.95px);
  border-radius: 13.99px;
  width: 27.98px;
  height: 27.98px;
  overflow: hidden;
  object-fit: cover;
}
.by-tabitha-oanda-container2 {
  position: absolute;
  top: 5.51px;
  left: 43.83px;
  line-height: 16.97px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 109.12px;
  height: 17.72px;
}
.div139 {
  position: absolute;
  top: 3.73px;
  left: 162.09px;
  font-size: 13.99px;
  line-height: 22.38px;
}
.a-month-ago1 {
  position: absolute;
  top: -0.93px;
  left: 0;
  line-height: 16.97px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 79.2px;
  height: 17.72px;
}
.spanf-post-card-date1 {
  position: absolute;
  top: calc(50% - 8.48px);
  left: 177.18px;
  width: 79.01px;
  height: 16.96px;
  overflow: hidden;
}
.divf-post-card-metas {
  position: absolute;
  top: 297.83px;
  left: 19.59px;
  width: 501.76px;
  height: 29.84px;
  font-size: 12.12px;
  color: var(--color-dimgray-200);
}
.articlef-post-card6 {
  text-decoration: none;
  position: absolute;
  top: 2272.84px;
  left: 110.98px;
  border-radius: 9.33px;
  background-color: var(--color-white);
  border: 0.9px solid var(--color-steelblue-300);
  box-sizing: border-box;
  width: 540.93px;
  height: 358.45px;
  font-size: 13.06px;
  color: var(--color-royalblue-200);
}
.by-ashutosh-hathidara-container {
  position: absolute;
  top: -0.93px;
  left: 0;
  line-height: 16.97px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 138.07px;
  height: 17.72px;
}
.spanh2d-74c054e6 {
  position: absolute;
  top: calc(50% + 125.04px);
  left: 63.42px;
  width: 137.88px;
  height: 16.96px;
  overflow: hidden;
}
.div140 {
  position: absolute;
  top: 301.56px;
  left: 210.63px;
  font-size: 13.99px;
  line-height: 22.38px;
}
.days-ago5 {
  position: absolute;
  top: 303.34px;
  left: 225.73px;
  line-height: 16.97px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 71.85px;
  height: 17.72px;
}
.articlef-post-card7 {
  text-decoration: none;
  position: absolute;
  top: 2272.84px;
  left: 691.09px;
  border-radius: 9.33px;
  background-color: var(--color-white);
  border: 0.9px solid var(--color-steelblue-300);
  box-sizing: border-box;
  width: 540.93px;
  height: 358.45px;
  color: inherit;
}
.group-child19 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-aliceblue-300);
  width: 1343px;
  height: 72.75px;
}
.home-competition5 {
  position: absolute;
  top: 24.53px;
  right: 515.75px;
  line-height: 26.11px;
  font-weight: 500;
  display: inline-block;
  width: 761.97px;
  height: 23.68px;
  opacity: 0.7;
}
.navigasi-login-child5,
.rectangle-parent12 {
  position: absolute;
  top: 83.94px;
  left: 0;
  width: 1343px;
  height: 72.75px;
}
.navigasi-login-child5 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-darkslateblue-200);
}
.mask-group-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 44.72px;
  height: 44.72px;
  object-fit: cover;
}
.frontend-developer6,
.hi-ogunfuye-segun6 {
  position: absolute;
  left: 0;
  line-height: 150%;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.hi-ogunfuye-segun6 {
  top: 0;
  font-size: 11.85px;
  font-weight: 500;
}
.frontend-developer6 {
  top: 17.78px;
  font-size: 10.16px;
  opacity: 0.7;
}
.hi-ogunfuye-segun-parent3 {
  text-decoration: none;
  position: absolute;
  top: 4.49px;
  left: 44.78px;
  width: 116px;
  height: 32.78px;
  cursor: pointer;
}
.vector-icon21 {
  position: relative;
  width: 11.85px;
  height: 6.77px;
}
.icon6 {
  position: absolute;
  top: 10.09px;
  left: 175.16px;
  width: 20.58px;
  height: 19.67px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 7.29371452331543px 5.209795951843262px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.mask-group-parent3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: -2.8px;
  left: -9.33px;
  width: 195.74px;
  height: 44.72px;
}
.navigasi-login-inner11 {
  position: absolute;
  top: 22.38px;
  left: 1061.34px;
  width: 196.67px;
  height: 35.56px;
  cursor: pointer;
}
.group-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24.33px;
  height: 26.73px;
}
.collegal18,
.logo12 {
  position: absolute;
  top: 0;
  left: 28.64px;
}
.logo12 {
  text-decoration: none;
  top: 26.78px;
  left: 68.08px;
  width: 114.64px;
  height: 26.73px;
  cursor: pointer;
  color: inherit;
}
.competition8 {
  position: relative;
  line-height: 16.09px;
  font-weight: 500;
}
.products6 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: inherit;
}
.blog6 {
  position: relative;
  line-height: 16.09px;
  font-weight: 500;
  cursor: pointer;
}
.pricing6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nav-menu6,
.search6 {
  position: absolute;
  display: flex;
}
.nav-menu6 {
  top: 31.71px;
  left: 235.02px;
  width: 271.4px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22.38px;
  font-size: 12.59px;
  font-family: var(--font-dm-sans);
}
.search6 {
  border: 0;
  font-family: var(--font-arial);
  font-size: 13.06px;
  background-color: transparent;
  top: 0;
  left: 20.52px;
  color: var(--color-white);
  text-align: left;
  align-items: center;
  width: 356.27px;
  height: 26.11px;
}
.icon-search-icon6 {
  position: absolute;
  height: 57.14%;
  width: 3.96%;
  top: 21.43%;
  right: 96.04%;
  bottom: 21.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-wrapper5,
.search-parent4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 376.79px;
  height: 26.11px;
}
.group-wrapper5 {
  top: 5.59px;
  left: 33.57px;
}
.navigasi-login-inner12 {
  position: absolute;
  top: 23.32px;
  left: 544.66px;
  border-radius: 14.66px;
  border: 0.9px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 425.28px;
  height: 37.31px;
  overflow: hidden;
}
.hamburger-iconsvg13 {
  position: relative;
  width: 17.72px;
  height: 16.79px;
  overflow: hidden;
  flex-shrink: 0;
}
.hamburger-iconsvg12 {
  position: absolute;
  top: calc(50% - 10.26px);
  left: 1284.24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent13,
.navigasi-login6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1343px;
}
.navigasi-login6 {
  height: 83.94px;
  font-size: 21.29px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.group-parent13 {
  height: 156.68px;
  font-size: 14.92px;
  color: var(--dark-blue);
}
.div141,
.div142 {
  position: absolute;
  top: 1.5px;
  left: 0;
  font-weight: 500;
}
.div142 {
  top: 0;
  left: 35.79px;
  font-size: 14.58px;
  font-weight: 600;
}
.parent2 {
  position: absolute;
  top: 21.45px;
  left: 21.45px;
  width: 99.79px;
  height: 18px;
}
.angle-double-left-iconsvg3 {
  position: relative;
  width: 9.72px;
  height: 9.72px;
  overflow: hidden;
  flex-shrink: 0;
}
.a10,
.angle-double-left-iconsvg2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.angle-double-left-iconsvg2 {
  opacity: 0.3;
}
.a10 {
  cursor: pointer;
  border: 1px solid var(--color-gainsboro-300);
  padding: 11.660994529724121px 12.632742881774902px;
  background-color: transparent;
  border-radius: 4.86px;
}
.angle-left-iconsvg3 {
  position: relative;
  width: 6.24px;
  height: 9.71px;
  overflow: hidden;
  flex-shrink: 0;
}
.angle-left-iconsvg2 {
  padding: 0.006478330120444298px var(--padding-0) 0.0064783175475895405px;
  opacity: 0.3;
}
.a11,
.angle-left-iconsvg2,
.ul7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.a11 {
  cursor: pointer;
  border: 1px solid var(--color-gainsboro-300);
  padding: 11.660994529724121px 14.381893157958984px 11.660994529724121px
    14.362458229064941px;
  background-color: transparent;
  border-radius: 4.86px;
}
.ul7 {
  position: absolute;
  top: calc(50% - 13.74px);
  left: calc(50% - 149.63px);
  padding: var(--padding-0) 3.886997938156128px;
  gap: 7.77px;
}
.div143 {
  position: relative;
  font-size: var(--font-size-sm-6);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.awaves-effect3 {
  cursor: pointer;
  border: 1px solid var(--color-darkslateblue-100);
  padding: 8.259870529174805px 13.866866111755371px 8.259870529174805px
    14.31386947631836px;
  background-color: var(--color-darkslateblue-100);
  border-radius: 4.86px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div144 {
  position: relative;
  font-size: var(--font-size-sm-6);
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-100);
  text-align: left;
}
.awaves-effect4,
.awaves-effect5 {
  cursor: pointer;
  border: 1px solid var(--color-darkslateblue-100);
  padding: 8.259870529174805px 12.875680923461914px 8.259870529174805px
    13.361556053161621px;
  background-color: transparent;
  border-radius: 4.86px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.awaves-effect5 {
  padding: 8.259870529174805px 13.089466094970703px 8.259870529174805px
    13.147770881652832px;
}
.ul8 {
  position: absolute;
  top: calc(50% - 13.34px);
  left: calc(50% - 64.49px);
  padding: var(--padding-0) 3.886997938156128px;
  gap: 7.77px;
}
.a12,
.angle-right-iconsvg2,
.ul8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.angle-right-iconsvg2 {
  padding: 0.006478330120444298px var(--padding-0) 0.0064783175475895405px;
}
.a12 {
  cursor: pointer;
  border: 1px solid var(--color-darkslateblue-100);
  padding: 11.660994529724121px 14.381893157958984px 11.660994529724121px
    14.362458229064941px;
  background-color: transparent;
  border-radius: 4.86px;
}
.a13,
.angle-double-right-iconsvg2,
.ul9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.a13 {
  cursor: pointer;
  border: 1px solid var(--color-darkslateblue-100);
  padding: 11.660994529724121px 12.632742881774902px;
  background-color: transparent;
  border-radius: 4.86px;
}
.ul9 {
  position: absolute;
  top: calc(50% - 13.74px);
  left: calc(50% + 64.11px);
  padding: var(--padding-0) 3.886997938156128px;
  gap: 7.77px;
}
.divpagination-number1 {
  position: absolute;
  top: calc(50% - 19.12px);
  left: 344.14px;
  width: 299.25px;
  height: 39.14px;
}
.divpagination1 {
  position: absolute;
  top: 2718.64px;
  left: 234.09px;
  border-radius: 7.77px;
  background-color: var(--color-white);
  box-shadow: 0.971749484539032px 0.971749484539032px 11.66px
    rgba(24, 110, 223, 0.13);
  width: 874.82px;
  height: 62.49px;
  font-size: 12.63px;
  color: var(--color-darkslateblue-100);
  font-family: var(--font-inter);
}
.terms-privacy6 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 16.4px;
}
.tems-and-condition6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 49.19px;
}
.icon-11-6 {
  position: relative;
  width: 7.38px;
  height: 13.68px;
}
.linkedin-icon6,
.vector-icon22 {
  position: relative;
  width: 13.94px;
  height: 11.32px;
}
.linkedin-icon6 {
  width: 12.3px;
  height: 12.3px;
}
.btm6,
.social-icon6 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-icon6 {
  justify-content: flex-start;
  gap: 26.23px;
}
.btm6 {
  position: absolute;
  top: 427.15px;
  left: 149.22px;
  width: 1045.49px;
  justify-content: space-between;
  font-size: 13.12px;
}
.logo-icon6 {
  width: 33.85px;
  height: 26.53px;
  overflow: hidden;
  flex-shrink: 0;
}
.collegal20,
.logo-icon6 {
  position: relative;
}
.logo13 {
  text-decoration: none;
  position: absolute;
  top: 95.13px;
  left: 149.22px;
  width: 145.59px;
  height: 30.78px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    1.0602876541164485e-13px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 8.39px;
  font-size: 25.62px;
  color: inherit;
}
.sign-in6 {
  color: var(--color-khaki-100);
}
.have-and-account-container6 {
  text-decoration: none;
  position: absolute;
  top: 128.7px;
  left: 149.22px;
  font-size: 15.96px;
  font-weight: 600;
  cursor: pointer;
  color: inherit;
}
.product18 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18.65px;
}
.blog-news12,
.compitition12,
.public-notebook12,
.publications12 {
  text-decoration: none;
  position: absolute;
  top: 43.83px;
  left: 0;
  color: inherit;
  cursor: pointer;
}
.blog-news12,
.public-notebook12,
.publications12 {
  top: 72.75px;
}
.blog-news12,
.public-notebook12 {
  top: 101.66px;
}
.blog-news12 {
  top: 130.57px;
}
.legal-notice12 {
  position: absolute;
  top: 159.48px;
  left: 0;
}
.about-us-row18,
.about-us-row19 {
  position: absolute;
  top: 95.13px;
  left: 704.14px;
  width: 125.91px;
  height: 178.13px;
  font-family: var(--font-montserrat);
}
.about-us-row19 {
  left: 906.53px;
}
.discussion7 {
  text-decoration: none;
  position: absolute;
  top: 159.48px;
  left: 0;
  color: inherit;
  cursor: pointer;
}
.about-us-row20,
.fotter6 {
  position: absolute;
  top: 95.13px;
  left: 1108.91px;
  width: 125.91px;
  height: 178.13px;
  font-family: var(--font-montserrat);
}
.fotter6 {
  top: 3049.73px;
  left: 0;
  background-color: var(--color-darkslateblue-200);
  width: 1343px;
  height: 508.29px;
  overflow: hidden;
  font-size: 14.92px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.latest {
  position: relative;
  letter-spacing: 0.19px;
  line-height: 22.38px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 46.61px;
  height: 18.65px;
  flex-shrink: 0;
}
.af-post-card-tag2 {
  position: relative;
  width: 61.63px;
  height: 22.38px;
  color: #7d2fcb;
}
.introduction-to-extractive-container {
  position: relative;
  letter-spacing: -0.02px;
  line-height: 38.5px;
  font-weight: 600;
}
.h2h2d-377cc80a {
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 103.52291870117188px 0.5222755074501038px
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 32.08px;
}
.in-this-theory {
  position: relative;
  line-height: 25.37px;
}
.pf-latest-post-excerpt {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 179.99929809570312px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14.92px;
  color: var(--color-darkslategray-200);
}
.usersvg-icon {
  position: absolute;
  top: calc(50% - 9.1px);
  left: calc(50% - 515.52px);
  border-radius: 9.09px;
  width: 18.19px;
  height: 18.19px;
  overflow: hidden;
}
.by-adrien-payong-container4 {
  position: absolute;
  top: 5.51px;
  left: 43.83px;
  line-height: 16.97px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 105.84px;
  height: 17.72px;
}
.div146 {
  position: absolute;
  top: 3.73px;
  left: 158.81px;
  font-size: 13.99px;
  line-height: 22.38px;
}
.hours-ago {
  position: absolute;
  top: -0.93px;
  left: 0;
  line-height: 16.97px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 76.53px;
  height: 17.72px;
}
.spanf-post-card-date2 {
  position: absolute;
  top: calc(50% - 8.49px);
  left: 173.91px;
  width: 76.35px;
  height: 16.96px;
  overflow: hidden;
}
.divf-post-card-metas1 {
  position: relative;
  width: 1042.69px;
  height: 29.84px;
  font-size: 12.12px;
  color: var(--color-dimgray-200);
}
.divf-latest-post-main-contai {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 1213.57px);
  left: 111.92px;
  border-radius: 9.33px;
  border: 0.9px solid var(--color-darkslateblue-900);
  display: flex;
  flex-direction: column;
  padding: 39.170833587646484px 38.23819351196289px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 26.11px;
  font-size: 13.06px;
  color: var(--color-gray-500);
}
.search-discussions2 {
  border: 1px solid var(--color-gainsboro-700);
  font-family: var(--font-arial);
  font-size: 13.82px;
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 23.69px;
  box-sizing: border-box;
}
.divsc-dbkwiv1 {
  position: absolute;
  width: calc(100% - 364.65px);
  top: 460.72px;
  right: 182.78px;
  left: 181.86px;
  height: 47.39px;
}
.blog-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3558.02px;
  overflow: hidden;
  text-align: left;
  font-size: 12.12px;
  color: var(--color-dimgray-200);
  font-family: var(--font-poppins);
}
