.navigasi-login-child10 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkslateblue-200);
}
.mask-group-icon12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 44.72px;
  height: 44.72px;
  object-fit: cover;
}
.frontend-developer11,
.hi-ogunfuye-segun11 {
  position: absolute;
  left: 0;
  line-height: 150%;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.hi-ogunfuye-segun11 {
  top: 0;
  font-size: 11.85px;
  font-weight: 500;
}
.frontend-developer11 {
  top: 17.78px;
  font-size: 10.16px;
  opacity: 0.7;
}
.hi-ogunfuye-segun-parent8 {
  text-decoration: none;
  position: absolute;
  top: 4.49px;
  left: 44.78px;
  width: 116px;
  height: 32.78px;
  cursor: pointer;
}
.vector-icon32 {
  position: relative;
  width: 11.85px;
  height: 6.77px;
}
.icon11 {
  position: absolute;
  top: 10.09px;
  left: 175.16px;
  width: 20.58px;
  height: 19.67px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 7.29371452331543px 5.209795951843262px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.mask-group-parent8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: -2.8px;
  left: -9.33px;
  width: 195.74px;
  height: 44.72px;
}
.navigasi-login-inner21 {
  position: absolute;
  top: 22.38px;
  left: 1061.34px;
  width: 196.67px;
  height: 35.56px;
  cursor: pointer;
}
.group-icon14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24.33px;
  height: 26.73px;
}
.collegal29,
.logo20 {
  position: absolute;
  top: 0;
  left: 28.64px;
}
.logo20 {
  text-decoration: none;
  top: 26.78px;
  left: 68.08px;
  width: 114.64px;
  height: 26.73px;
  cursor: pointer;
  color: inherit;
}
.competition13 {
  position: relative;
  line-height: 16.09px;
  font-weight: 500;
}
.products11 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: inherit;
}
.blog11 {
  position: relative;
  line-height: 16.09px;
  font-weight: 500;
  cursor: pointer;
}
.pricing11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nav-menu11,
.search11 {
  position: absolute;
  display: flex;
}
.nav-menu11 {
  top: 31.71px;
  left: 235.02px;
  width: 271.4px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22.38px;
  font-size: 12.59px;
  font-family: var(--font-dm-sans);
}
.search11 {
  border: 0;
  font-family: var(--font-arial);
  font-size: 13.06px;
  background-color: transparent;
  top: 0;
  left: 20.52px;
  color: var(--color-white);
  text-align: left;
  align-items: center;
  width: 356.27px;
  height: 26.11px;
}
.icon-search-icon11 {
  position: absolute;
  height: 57.14%;
  width: 3.96%;
  top: 21.43%;
  right: 96.04%;
  bottom: 21.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-wrapper10,
.search-parent9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 376.79px;
  height: 26.11px;
}
.group-wrapper10 {
  top: 5.59px;
  left: 33.57px;
}
.navigasi-login-inner22 {
  position: absolute;
  top: 23.32px;
  left: 544.66px;
  border-radius: 14.66px;
  border: 0.9px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 425.28px;
  height: 37.31px;
  overflow: hidden;
}
.hamburger-iconsvg23 {
  position: relative;
  width: 17.72px;
  height: 16.79px;
  overflow: hidden;
  flex-shrink: 0;
}
.hamburger-iconsvg22 {
  position: absolute;
  top: calc(50% - 10.26px);
  left: 1284.24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigasi-login11 {
  position: absolute;
  height: 1.62%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 98.38%;
  left: 0;
  font-size: 21.29px;
}
.f4c4fd22dc3-aarohan-logo-01pn-icon1 {
  position: absolute;
  top: calc(50% - 85px);
  left: calc(50% - 85px);
  width: 169.98px;
  height: 169.98px;
  object-fit: cover;
}
.div252 {
  position: relative;
  border-radius: 12.39px;
  background-color: var(--color-white);
  border: 1.5px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 191.97px;
  height: 191.97px;
}
.the-annual-business1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 37.16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 665.53px;
  height: 37.16px;
}
.b957e2059fc-orgsvg-icon1 {
  position: relative;
  width: 34.06px;
  height: 24.77px;
  overflow: hidden;
  flex-shrink: 0;
}
.b957e2059fc-orgsvg1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.national-institute-of1 {
  position: relative;
  line-height: 34.06px;
  font-weight: 500;
}
.a17,
.h11 {
  position: absolute;
}
.a17 {
  top: 49.54px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15.48px;
  font-size: 24.77px;
}
.h11 {
  top: 0;
  left: 30.96px;
  width: 871.61px;
  height: 86.7px;
}
.b9549418def-locationsvg-icon1 {
  position: relative;
  width: 23.22px;
  height: 24.77px;
  overflow: hidden;
  flex-shrink: 0;
}
.lagos-nigeria {
  position: relative;
  font-weight: 500;
}
.div254,
.div255 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.div255 {
  overflow: hidden;
  padding: var(--padding-0) var(--padding-0) 1.548155426979065px;
  align-items: flex-start;
}
.div254 {
  position: absolute;
  top: calc(50% + 33.77px);
  left: 30.96px;
  align-items: center;
  gap: 15.48px;
  font-size: 24.77px;
}
.div253 {
  position: relative;
  width: 902.57px;
  height: 130.05px;
}
.business-plan1 {
  position: relative;
  font-size: 18.58px;
  line-height: 18.58px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-100);
  text-align: left;
}
.div257,
.div258 {
  flex-direction: row;
}
.div257 {
  cursor: pointer;
  border: 0;
  padding: 13.933398246765137px 18.529481887817383px 13.933398246765137px
    18.577865600585938px;
  background-color: var(--color-whitesmoke-900);
  border-radius: 77.41px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div258 {
  padding: 13.933398246765137px 18.21501350402832px 13.933398246765137px
    18.577865600585938px;
}
.div258,
.div259,
.div260 {
  cursor: pointer;
  border: 0;
  background-color: var(--color-whitesmoke-900);
  border-radius: 77.41px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div259 {
  padding: 13.933398246765137px 17.36836814880371px 13.933398246765137px
    18.577865600585938px;
  flex-direction: row;
}
.div260 {
  padding: 13.933398246765137px 17.852169036865234px 13.933398246765137px
    18.577865600585938px;
}
.div256,
.div260,
.div261 {
  flex-direction: row;
}
.div261 {
  cursor: pointer;
  border: 0;
  padding: 13.933398246765137px 17.44093894958496px 13.933398246765137px
    18.577865600585938px;
  background-color: var(--color-whitesmoke-900);
  border-radius: 77.41px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div256 {
  overflow: hidden;
  padding: var(--padding-0) 76.24665069580078px 4.644466400146484px
    var(--padding-0);
  gap: 18.58px;
}
.div249,
.div250,
.div256 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div250 {
  flex-direction: column;
  gap: 23.22px;
}
.div249 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  flex-direction: row;
  padding: 30.963106155395508px;
}
.be3c2926813-watchlistsvg-icon1 {
  position: relative;
  width: 26.32px;
  height: 24.77px;
  overflow: hidden;
  flex-shrink: 0;
}
.watchlist3 {
  position: relative;
  font-size: 18.58px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-100);
  text-align: left;
}
.div263 {
  cursor: pointer;
  border: 1.5px solid var(--color-gainsboro-200);
  padding: 20.126020431518555px 29.82617950439453px 20.126020431518555px
    30.551877975463867px;
  background-color: var(--color-white);
  border-radius: 12.39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15.48px;
}
.be3b6f2f885-calandersvg-icon1 {
  position: relative;
  width: 26.32px;
  height: 29.42px;
  overflow: hidden;
  flex-shrink: 0;
}
.div264 {
  border-radius: 12.39px;
  background-color: var(--color-white);
  border: 1.5px solid var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  padding: 17.803787231445312px 31.471097946166992px 17.803787231445312px
    32.003273010253906px;
  align-items: center;
  justify-content: flex-start;
  gap: 15.48px;
}
.div262,
.free1 {
  position: absolute;
}
.div262 {
  top: calc(50% - 0.03px);
  left: 30.96px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.48px;
  font-size: 18.58px;
}
.free1 {
  top: 13.43px;
  left: 0;
  font-weight: 600;
}
.join1 {
  top: 17.72px;
  left: 49.43px;
  font-size: 20.17px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.a18,
.div265,
.join1 {
  position: absolute;
}
.a18 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-royalblue-300);
  top: 0;
  left: 187.46px;
  border-radius: 10.76px;
  width: 148.29px;
  height: 58.76px;
  overflow: hidden;
}
.div265 {
  top: calc(50% + 0.09px);
  left: 569.84px;
  width: 287.25px;
  height: 59.26px;
  font-size: 26.89px;
}
.join-as-a1 {
  top: 17.72px;
  left: 25.18px;
  font-size: 20.17px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.a19,
.div270,
.join-as-a1 {
  position: absolute;
}
.a19 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-royalblue-300);
  top: calc(50% + 1.02px);
  left: 927.04px;
  border-radius: 10.76px;
  width: 198.65px;
  height: 58.76px;
  overflow: hidden;
}
.div270 {
  top: 17.03px;
  left: 13.04px;
  line-height: 27.87px;
  display: flex;
  align-items: center;
  width: 36.16px;
  height: 27.87px;
}
.div269 {
  position: relative;
  border-radius: 12.39px;
  background-color: var(--color-white);
  border: 1.5px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 61.93px;
  height: 61.93px;
}
.div271,
.impressions1 {
  position: absolute;
  left: 15.48px;
  line-height: 23.84px;
  display: flex;
  align-items: center;
  height: 26.32px;
}
.impressions1 {
  top: calc(50% - 30.02px);
  font-weight: 500;
  width: 125.57px;
}
.div271 {
  top: 31.57px;
  font-weight: 600;
  color: var(--color-darkslateblue-100);
  width: 59.09px;
}
.span31 {
  position: relative;
  width: 277.1px;
  height: 56.94px;
  font-size: 21.67px;
  color: var(--color-steelblue-500);
}
.div268 {
  display: flex;
  flex-direction: row;
  padding: 24.891435623168945px 23.22233009338379px 24.915624618530273px;
  align-items: center;
  justify-content: flex-start;
}
.div274,
.mar-23-06291,
.registration-deadline1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div274 {
  top: 17.03px;
  left: 17.03px;
  line-height: 27.87px;
  width: 28.18px;
  height: 27.87px;
}
.mar-23-06291,
.registration-deadline1 {
  left: 15.48px;
  line-height: 23.84px;
}
.registration-deadline1 {
  top: calc(50% - 41.93px);
  font-weight: 500;
  width: 221.91px;
  height: 26.32px;
}
.mar-23-06291 {
  top: 31.57px;
  font-weight: 600;
  color: var(--color-darkslateblue-100);
  width: 220.46px;
  height: 50.15px;
}
.span32 {
  position: relative;
  width: 277.1px;
  height: 80.77px;
  font-size: 21.67px;
  color: var(--color-steelblue-500);
}
.div272,
.members1,
.team-size1 {
  display: flex;
  align-items: center;
}
.div272 {
  flex-direction: row;
  padding: 15.481553077697754px 23.22233009338379px;
  justify-content: flex-start;
}
.members1,
.team-size1 {
  position: absolute;
  left: 15.48px;
  line-height: 23.84px;
  height: 26.32px;
}
.team-size1 {
  top: calc(50% - 30.02px);
  font-weight: 500;
  width: 106.36px;
}
.members1 {
  top: 31.57px;
  font-weight: 600;
  color: var(--color-darkslateblue-100);
  width: 150.36px;
}
.span33 {
  position: relative;
  width: 277.1px;
  height: 56.94px;
}
.div267,
.div275 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.div275 {
  padding: 24.891435623168945px 23.22233009338379px 24.915624618530273px;
  align-items: center;
  font-size: 21.67px;
  color: var(--color-steelblue-500);
}
.div267 {
  border-radius: 12.39px;
  background-color: var(--color-white);
  padding: 15.481553077697754px 0.07256978750228882px 15.481553077697754px
    var(--padding-0);
  align-items: flex-start;
}
.all1 {
  position: relative;
  font-size: 18.58px;
  line-height: 18.58px;
  font-weight: 500;
}
.div266,
.div277 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div277 {
  border-radius: 12.39px;
  background-color: var(--color-white);
  padding: 23.22233009338379px 1037.2640380859375px 15.481553077697754px
    23.22233009338379px;
  gap: 23.22px;
  font-size: 21.67px;
  color: var(--color-darkslateblue-100);
}
.div266 {
  position: absolute;
  top: 475.47px;
  left: 0;
  gap: 15.48px;
  font-size: 27.87px;
  color: var(--color-royalblue-300);
}
.div-container {
  position: absolute;
  top: 191.19px;
  left: 93.26px;
  width: 1156.47px;
  height: 740.34px;
  font-size: 30.96px;
  color: var(--color-darkslateblue-100);
}
.the-annual-business2 {
  position: absolute;
  top: 0;
  left: 29.41px;
  line-height: 34.06px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 902.88px;
  height: 32.51px;
}
.h21 {
  position: relative;
  border-left: 6.2px solid var(--color-royalblue-300);
  box-sizing: border-box;
  width: 1094.55px;
  height: 34.06px;
}
.divbefore {
  left: 21.67px;
  border-left: 7.7px solid rgba(0, 115, 230, 0.3);
  width: 7.74px;
  height: 682.74px;
  z-index: 0;
}
.divafter,
.divafter1,
.divbefore {
  position: absolute;
  margin: 0 !important;
  top: 0;
  box-sizing: border-box;
}
.divafter {
  left: 24.77px;
  border-left: 1.5px dashed var(--color-white);
  width: 1.55px;
  height: 682.74px;
  z-index: 1;
}
.divafter1 {
  left: 20.13px;
  background-color: var(--color-white);
  border: 7.7px solid var(--color-white);
  width: 15.48px;
  height: 198.84px;
  z-index: 0;
}
.divbefore1 {
  position: relative;
  border-radius: 20.13px;
  background-color: var(--color-royalblue-400);
  width: 40.25px;
  height: 40.25px;
  z-index: 0;
}
.brightness-1 {
  margin: 0 !important;
  top: 12.83px;
  left: 12.87px;
  line-height: 24.77px;
  align-items: center;
  width: 25.08px;
  height: 24.77px;
  flex-shrink: 0;
  z-index: 1;
}
.brightness-1,
.div281,
.this-is-an {
  position: absolute;
  display: flex;
}
.div281 {
  margin: 0 !important;
  top: 163.33px;
  left: 0;
  border-radius: 77.41px;
  background-color: var(--color-royalblue-400);
  border: 4.6px solid var(--color-royalblue-400);
  flex-direction: row;
  padding: 4.66319465637207px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9.33px;
  z-index: 1;
}
.this-is-an {
  top: 69.67px;
  left: 24.77px;
  line-height: 32.51px;
  align-items: center;
  width: 947.51px;
}
.start-date {
  position: relative;
  font-weight: 600;
}
.div284 {
  border-right: 1.5px solid var(--color-gainsboro-200);
  padding: var(--padding-0) 31.4469051361084px var(--padding-0) var(--padding-0);
}
.div283,
.div284,
.div285 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.74px;
}
.div283 {
  position: absolute;
  top: calc(50% + 113.46px);
  left: 24.77px;
  flex-direction: row;
  gap: 30.96px;
  font-size: 18.58px;
}
.submission-round-via {
  position: absolute;
  top: 24.77px;
  left: 24.77px;
  line-height: 29.41px;
  font-weight: 600;
  color: var(--color-royalblue-300);
}
.div280,
.div282 {
  position: relative;
  z-index: 2;
}
.div282 {
  border-radius: 24.77px;
  background-color: var(--color-white);
  box-shadow: 0 1.548155426979065px 30.96px rgba(39, 73, 125, 0.07);
  width: 1009.4px;
  height: 382.39px;
  font-size: 21.67px;
  color: var(--color-darkslateblue-100);
  font-family: var(--font-inter);
}
.div280 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) 85.1485366821289px;
  align-items: flex-start;
  justify-content: flex-start;
}
.divafter2 {
  position: absolute;
  margin: 0 !important;
  top: 136.74px;
  left: 20.13px;
  background-color: var(--color-white);
  border: 7.7px solid var(--color-white);
  box-sizing: border-box;
  width: 15.48px;
  height: 148.11px;
  z-index: 0;
}
.brightness-11 {
  position: relative;
  line-height: 24.77px;
  display: flex;
  align-items: center;
  width: 25.08px;
  height: 24.77px;
  flex-shrink: 0;
}
.div287,
.this-is-an1 {
  position: absolute;
  display: flex;
}
.div287 {
  margin: 0 !important;
  top: 114.57px;
  left: 0;
  border-radius: 77.41px;
  background-color: var(--color-gray-1200);
  border: 4.6px solid rgba(0, 115, 230, 0.27);
  flex-direction: column;
  padding: 12.124305725097656px 11.191666603088379px;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.this-is-an1 {
  top: 69.67px;
  left: 24.77px;
  line-height: 32.51px;
  align-items: center;
  width: 949.4px;
}
.div290 {
  border-right: 1.5px solid var(--color-gainsboro-200);
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 32.317745208740234px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.74px;
}
.div289,
.offline-round {
  position: absolute;
  left: 24.77px;
}
.div289 {
  top: calc(50% + 64.7px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30.96px;
  font-size: 18.58px;
}
.offline-round {
  top: 24.77px;
  line-height: 29.41px;
  font-weight: 600;
}
.div288 {
  border-radius: 24.77px;
  background-color: var(--color-white);
  box-shadow: 0 1.548155426979065px 30.96px rgba(39, 73, 125, 0.07);
  width: 1009.4px;
  height: 284.86px;
  z-index: 2;
  font-size: 21.67px;
  color: var(--color-darkslateblue-100);
  font-family: var(--font-inter);
}
.div279,
.div286,
.div288 {
  position: relative;
}
.div286 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) 85.1485366821289px;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
  color: var(--color-royalblue-400);
}
.div279 {
  flex-direction: column;
  gap: 15.48px;
  font-size: 24.77px;
  color: var(--color-gray-1200);
  font-family: var(--font-material-icons);
}
.app-competition-round-form,
.div278,
.div279 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div278 {
  flex-direction: column;
  gap: 46.44px;
}
.app-competition-round-form {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12.39px;
  background-color: var(--color-white);
  flex-direction: row;
  padding: 46.44466018676758px 30.963106155395508px;
}
.all-that-you {
  position: absolute;
  top: 0;
  left: 29.41px;
  line-height: 34.06px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 1031.89px;
  height: 32.51px;
}
.divbefore2,
.h22 {
  position: absolute;
  box-sizing: border-box;
}
.h22 {
  top: 46.44px;
  left: 30.96px;
  border-left: 6.2px solid var(--color-royalblue-300);
  width: 1094.55px;
  height: 34.06px;
}
.divbefore2 {
  top: 0;
  left: 0;
  border-left: 4.6px dashed rgba(0, 115, 230, 0.35);
  width: 4.64px;
  height: 2337.72px;
}
.the-annual-b-plan {
  top: 0;
  display: flex;
  align-items: center;
  width: 1056.37px;
}
.a-business-plan,
.eligibility-criteria,
.the-annual-b-plan {
  position: absolute;
  left: 0;
  line-height: 43.35px;
}
.a-business-plan {
  top: 0;
  display: flex;
  align-items: center;
  width: 1060.51px;
}
.eligibility-criteria {
  top: 298.79px;
  font-weight: 600;
}
.rules-and-regulations,
.the-competition-is {
  position: absolute;
  top: 380.85px;
  left: 0;
  line-height: 43.35px;
}
.rules-and-regulations {
  top: 462.9px;
  font-weight: 600;
}
.libefore {
  position: absolute;
  top: 543.4px;
  left: 9.29px;
  border-radius: 15.48px;
  background-color: var(--color-white);
  border: 3.1px solid var(--color-darkslateblue-300);
  box-sizing: border-box;
  width: 30.96px;
  height: 30.96px;
}
.the-team-must {
  position: absolute;
  top: 521.73px;
  left: 57.28px;
  line-height: 37.16px;
  display: flex;
  align-items: center;
  width: 888.54px;
}
.liafter,
.libefore1 {
  position: absolute;
  top: 552.69px;
  left: 18.58px;
  border-radius: 6.19px;
  background-color: var(--color-darkslateblue-400);
  width: 12.39px;
  height: 12.39px;
}
.libefore1 {
  top: 610.27px;
  left: 9.29px;
  border-radius: 15.48px;
  background-color: var(--color-white);
  border: 3.1px solid var(--color-darkslateblue-300);
  box-sizing: border-box;
  width: 30.96px;
  height: 30.96px;
}
.maximum-4-members {
  position: absolute;
  top: 607.18px;
  left: 57.28px;
  line-height: 37.16px;
}
.liafter1,
.libefore2 {
  position: absolute;
  top: 619.56px;
  left: 18.58px;
  border-radius: 6.19px;
  background-color: var(--color-darkslateblue-400);
  width: 12.39px;
  height: 12.39px;
}
.libefore2 {
  top: 658.42px;
  left: 9.29px;
  border-radius: 15.48px;
  background-color: var(--color-white);
  border: 3.1px solid var(--color-darkslateblue-300);
  box-sizing: border-box;
  width: 30.96px;
  height: 30.96px;
}
.more-than-1 {
  position: absolute;
  top: 655.32px;
  left: 57.28px;
  line-height: 37.16px;
}
.liafter2,
.libefore3 {
  position: absolute;
  top: 667.71px;
  left: 18.58px;
  border-radius: 6.19px;
  background-color: var(--color-darkslateblue-400);
  width: 12.39px;
  height: 12.39px;
}
.libefore3 {
  top: 706.56px;
  left: 9.29px;
  border-radius: 15.48px;
  background-color: var(--color-white);
  border: 3.1px solid var(--color-darkslateblue-300);
  box-sizing: border-box;
  width: 30.96px;
  height: 30.96px;
}
.one-participant-cannot {
  position: absolute;
  top: 703.46px;
  left: 57.28px;
  line-height: 37.16px;
}
.liafter3,
.libefore4 {
  position: absolute;
  top: 715.85px;
  left: 18.58px;
  border-radius: 6.19px;
  background-color: var(--color-darkslateblue-400);
  width: 12.39px;
  height: 12.39px;
}
.libefore4 {
  top: 754.7px;
  left: 9.29px;
  border-radius: 15.48px;
  background-color: var(--color-white);
  border: 3.1px solid var(--color-darkslateblue-300);
  box-sizing: border-box;
  width: 30.96px;
  height: 30.96px;
}
.no-change-of {
  position: absolute;
  top: 751.61px;
  left: 57.28px;
  line-height: 37.16px;
}
.liafter4,
.libefore5 {
  position: absolute;
  top: 763.99px;
  left: 18.58px;
  border-radius: 6.19px;
  background-color: var(--color-darkslateblue-400);
  width: 12.39px;
  height: 12.39px;
}
.libefore5 {
  top: 802.84px;
  left: 9.29px;
  border-radius: 15.48px;
  background-color: var(--color-white);
  border: 3.1px solid var(--color-darkslateblue-300);
  box-sizing: border-box;
  width: 30.96px;
  height: 30.96px;
}
.one-of-the {
  position: absolute;
  top: 799.75px;
  left: 57.28px;
  line-height: 37.16px;
}
.liafter5 {
  position: absolute;
  top: 812.13px;
  left: 18.58px;
  border-radius: 6.19px;
  background-color: var(--color-darkslateblue-400);
  width: 12.39px;
  height: 12.39px;
}
.process {
  top: 874.71px;
  font-weight: 600;
}
.first-teams-of,
.format,
.process {
  position: absolute;
  left: 0;
  line-height: 43.35px;
}
.first-teams-of {
  top: 956.76px;
  display: flex;
  align-items: center;
  width: 1058.47px;
}
.format {
  top: 1125.51px;
  font-weight: 600;
}
.libefore6 {
  position: absolute;
  top: 3.1px;
  left: -47.99px;
  border-radius: 15.48px;
  background-color: var(--color-white);
  border: 3.1px solid var(--color-darkslateblue-300);
  box-sizing: border-box;
  width: 30.96px;
  height: 30.96px;
}
.this-is-a {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 37.16px;
}
.liafter6 {
  position: absolute;
  top: 12.39px;
  left: -38.7px;
  border-radius: 6.19px;
  background-color: var(--color-darkslateblue-400);
  width: 12.39px;
  height: 12.39px;
}
.li8,
.libefore7 {
  position: absolute;
  top: 1184.34px;
  left: 57.28px;
  width: 1006.81px;
  height: 37.31px;
}
.libefore7 {
  top: 21.67px;
  left: -47.99px;
  border-radius: 15.48px;
  background-color: var(--color-white);
  border: 3.1px solid var(--color-darkslateblue-300);
  box-sizing: border-box;
  width: 30.96px;
  height: 30.96px;
}
.phase-i-is {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 37.16px;
  display: flex;
  align-items: center;
  width: 939.87px;
}
.liafter7 {
  position: absolute;
  top: 30.96px;
  left: -38.7px;
  border-radius: 6.19px;
  background-color: var(--color-darkslateblue-400);
  width: 12.39px;
  height: 12.39px;
}
.li9,
.libefore8 {
  position: absolute;
  top: 1232.48px;
  left: 57.28px;
  width: 1006.3px;
  height: 74.61px;
}
.libefore8 {
  top: 40.25px;
  left: -47.99px;
  border-radius: 15.48px;
  background-color: var(--color-white);
  border: 3.1px solid var(--color-darkslateblue-300);
  box-sizing: border-box;
  width: 30.96px;
  height: 30.96px;
}
.phase-ii-is {
  top: 0;
  left: 0;
  line-height: 37.16px;
  display: flex;
  align-items: center;
  width: 989.05px;
}
.li10,
.liafter8,
.phase-ii-is {
  position: absolute;
}
.liafter8 {
  top: 49.54px;
  left: -38.7px;
  border-radius: 6.19px;
  background-color: var(--color-darkslateblue-400);
  width: 12.39px;
  height: 12.39px;
}
.li10 {
  top: 1317.93px;
  left: 57.28px;
  width: 1006.3px;
  height: 111.92px;
}
.judging-criteria {
  position: absolute;
  top: 1467.65px;
  left: 0;
  line-height: 43.35px;
  font-weight: 600;
}
.libefore9 {
  position: absolute;
  top: 1529.58px;
  left: 9.29px;
  border-radius: 15.48px;
  background-color: var(--color-white);
  border: 3.1px solid var(--color-darkslateblue-300);
  box-sizing: border-box;
  width: 30.96px;
  height: 30.96px;
}
.inclusiveness-30 {
  position: absolute;
  top: 1526.48px;
  left: 57.28px;
  line-height: 37.16px;
}
.liafter9,
.libefore10 {
  position: absolute;
  top: 1538.87px;
  left: 18.58px;
  border-radius: 6.19px;
  background-color: var(--color-darkslateblue-400);
  width: 12.39px;
  height: 12.39px;
}
.libefore10 {
  top: 1577.72px;
  left: 9.29px;
  border-radius: 15.48px;
  background-color: var(--color-white);
  border: 3.1px solid var(--color-darkslateblue-300);
  box-sizing: border-box;
  width: 30.96px;
  height: 30.96px;
}
.simplicity-implementationapp {
  position: absolute;
  top: 1574.62px;
  left: 57.28px;
  line-height: 37.16px;
}
.liafter10,
.libefore11 {
  position: absolute;
  top: 1587.01px;
  left: 18.58px;
  border-radius: 6.19px;
  background-color: var(--color-darkslateblue-400);
  width: 12.39px;
  height: 12.39px;
}
.libefore11 {
  top: 1625.86px;
  left: 9.29px;
  border-radius: 15.48px;
  background-color: var(--color-white);
  border: 3.1px solid var(--color-darkslateblue-300);
  box-sizing: border-box;
  width: 30.96px;
  height: 30.96px;
}
.originality-20 {
  position: absolute;
  top: 1622.77px;
  left: 57.28px;
  line-height: 37.16px;
}
.liafter11,
.libefore12 {
  position: absolute;
  top: 1635.15px;
  left: 18.58px;
  border-radius: 6.19px;
  background-color: var(--color-darkslateblue-400);
  width: 12.39px;
  height: 12.39px;
}
.libefore12 {
  top: 1674.01px;
  left: 9.29px;
  border-radius: 15.48px;
  background-color: var(--color-white);
  border: 3.1px solid var(--color-darkslateblue-300);
  box-sizing: border-box;
  width: 30.96px;
  height: 30.96px;
}
.multidisciplinary-20 {
  position: absolute;
  top: 1670.91px;
  left: 57.28px;
  line-height: 37.16px;
}
.liafter12,
.libefore13 {
  position: absolute;
  top: 1683.3px;
  left: 18.58px;
  border-radius: 6.19px;
  background-color: var(--color-darkslateblue-400);
  width: 12.39px;
  height: 12.39px;
}
.libefore13 {
  top: 1722.15px;
  left: 9.29px;
  border-radius: 15.48px;
  background-color: var(--color-white);
  border: 3.1px solid var(--color-darkslateblue-300);
  box-sizing: border-box;
  width: 30.96px;
  height: 30.96px;
}
.clarity-in-presentation10 {
  position: absolute;
  top: 1719.05px;
  left: 57.28px;
  line-height: 37.16px;
}
.liafter13,
.libefore14 {
  position: absolute;
  top: 1731.44px;
  left: 18.58px;
  border-radius: 6.19px;
  background-color: var(--color-darkslateblue-400);
  width: 12.39px;
  height: 12.39px;
}
.libefore14 {
  top: 1770.29px;
  left: 9.29px;
  border-radius: 15.48px;
  background-color: var(--color-white);
  border: 3.1px solid var(--color-darkslateblue-300);
  box-sizing: border-box;
  width: 30.96px;
  height: 30.96px;
}
.total-score- {
  position: absolute;
  top: 1767.19px;
  left: 57.28px;
  line-height: 37.16px;
}
.liafter14 {
  position: absolute;
  top: 1779.58px;
  left: 18.58px;
  border-radius: 6.19px;
  background-color: var(--color-darkslateblue-400);
  width: 12.39px;
  height: 12.39px;
}
.opportunities {
  position: absolute;
  top: 1842.3px;
  left: 0;
  line-height: 43.35px;
  font-weight: 600;
}
.liafter15 {
  position: absolute;
  top: 12.38px;
  left: -38.7px;
  border-radius: 6.19px;
  background-color: var(--color-darkslateblue-400);
  width: 12.39px;
  height: 12.39px;
}
.li11,
.li12,
.li13,
.li14,
.li15 {
  position: absolute;
  top: 1901.14px;
  left: 57.28px;
  width: 1006.66px;
  height: 37.31px;
}
.li12,
.li13,
.li14,
.li15 {
  top: 1949.28px;
  width: 1005.92px;
}
.li13,
.li14,
.li15 {
  top: 1997.42px;
  width: 1005.9px;
}
.li14,
.li15 {
  top: 2045.56px;
  width: 1005.04px;
}
.li15 {
  top: 2093.71px;
  width: 1006.94px;
}
.div292,
.div293,
.div294 {
  position: absolute;
  top: 169.27px;
  left: 0;
  width: 1063.58px;
  height: 2130.26px;
}
.div292,
.div293 {
  top: 38.7px;
  left: 30.96px;
  height: 2299.54px;
}
.div292 {
  top: 80.5px;
  width: 1094.55px;
  height: 2338.24px;
  font-size: 23.22px;
}
.app-competition-about-form {
  position: absolute;
  top: 871.61px;
  left: 0;
  border-radius: 12.39px;
  background-color: var(--color-white);
  width: 1156.47px;
  height: 2472.93px;
}
.what-are-the {
  position: absolute;
  top: 0;
  left: 29.41px;
  line-height: 34.06px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 574.14px;
  height: 32.51px;
}
.h23 {
  position: absolute;
  top: 46.44px;
  left: 30.96px;
  border-left: 6.2px solid var(--color-royalblue-300);
  box-sizing: border-box;
  width: 1094.55px;
  height: 34.06px;
  font-size: 27.87px;
}
.div296 {
  position: relative;
  line-height: 30.96px;
}
.div295,
.em {
  position: absolute;
}
.em {
  top: calc(50% - 15.5px);
  left: calc(50% - 15.51px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div295 {
  top: 126.95px;
  left: 30.96px;
  border-radius: 12.39px;
  background-color: var(--color-royalblue-500);
  width: 45.99px;
  height: 49.54px;
  color: var(--color-royalblue-300);
}
.mar-23-06293,
.registration-deadline2 {
  position: absolute;
  top: 1.55px;
  left: 23.22px;
  line-height: 27.87px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 206.09px;
  height: 24.77px;
}
.mar-23-06293 {
  top: 35.61px;
  font-size: 18.58px;
  line-height: 30.96px;
  color: var(--color-darkslateblue-500);
  width: 231.71px;
  height: 23.22px;
}
.div297,
.div298 {
  position: absolute;
  top: 126.95px;
}
.div297 {
  left: 76.95px;
  width: 298.21px;
  height: 63.47px;
  font-size: 20.13px;
}
.div298 {
  left: 406.13px;
  border-radius: 12.39px;
  background-color: var(--color-royalblue-500);
  width: 45.99px;
  height: 49.54px;
  color: var(--color-royalblue-300);
}
.feb-23-1230,
.registration-begins {
  position: absolute;
  top: 1.55px;
  left: 23.22px;
  line-height: 27.87px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 187.06px;
  height: 24.77px;
}
.feb-23-1230 {
  top: 35.61px;
  font-size: 18.58px;
  line-height: 30.96px;
  color: var(--color-darkslateblue-500);
  width: 223.49px;
  height: 23.22px;
}
.div300,
.div301 {
  position: absolute;
  top: 126.95px;
}
.div300 {
  left: 452.11px;
  width: 298.21px;
  height: 63.47px;
  font-size: 20.13px;
}
.div301 {
  left: 781.29px;
  border-radius: 12.39px;
  background-color: var(--color-royalblue-500);
  width: 45.99px;
  height: 49.54px;
  color: var(--color-royalblue-300);
}
.final-onsite-round,
.mar-23-0530 {
  position: absolute;
  top: 1.55px;
  left: 23.22px;
  line-height: 27.87px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 180.28px;
  height: 24.77px;
}
.mar-23-0530 {
  top: 35.61px;
  font-size: 18.58px;
  line-height: 30.96px;
  color: var(--color-darkslateblue-500);
  width: 227.07px;
  height: 23.22px;
}
.div303 {
  position: absolute;
  top: 126.95px;
  left: 827.27px;
  width: 298.21px;
  height: 63.47px;
  font-size: 20.13px;
}
.app-competition-contacts-form {
  position: absolute;
  top: 3301.54px;
  left: 0;
  border-radius: 12.39px;
  background-color: var(--color-white);
  width: 1156.47px;
  height: 236.87px;
  font-size: 30.96px;
}
.app-competition-round-form-parent {
  position: absolute;
  top: 1100.51px;
  left: 93.26px;
  width: 1156.47px;
  height: 3538.41px;
  font-size: 27.87px;
  color: var(--color-darkslateblue-100);
}
.home1 {
  font-weight: 500;
}
.home-competition-container1 {
  position: absolute;
  top: 24.53px;
  right: 515.75px;
  line-height: 26.11px;
  display: inline-block;
  width: 761.97px;
  height: 23.68px;
  opacity: 0.7;
}
.home-competition-competiti-wrapper {
  position: absolute;
  top: 83.94px;
  left: 0;
  background-color: var(--color-aliceblue-300);
  width: 1343px;
  height: 72.75px;
  color: var(--dark-blue);
  font-family: var(--font-poppins);
}
.terms-privacy9 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 16.4px;
}
.tems-and-condition9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 49.19px;
}
.icon-11-9 {
  position: relative;
  width: 7.38px;
  height: 13.68px;
}
.linkedin-icon9,
.vector-icon33 {
  position: relative;
  width: 13.94px;
  height: 11.32px;
}
.linkedin-icon9 {
  width: 12.3px;
  height: 12.3px;
}
.btm9,
.social-icon9 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-icon9 {
  justify-content: flex-start;
  gap: 26.23px;
}
.btm9 {
  position: absolute;
  top: 427.15px;
  left: 149.22px;
  width: 1045.49px;
  justify-content: space-between;
  font-size: 13.12px;
}
.logo-icon9 {
  width: 33.85px;
  height: 26.53px;
  overflow: hidden;
  flex-shrink: 0;
}
.collegal31,
.logo-icon9 {
  position: relative;
}
.logo21 {
  text-decoration: none;
  position: absolute;
  top: 95.13px;
  left: 149.22px;
  width: 145.59px;
  height: 30.78px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    1.0602876541164485e-13px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 8.39px;
  font-size: 25.62px;
  color: inherit;
}
.sign-in9 {
  color: var(--color-khaki-100);
}
.have-and-account-container9 {
  text-decoration: none;
  position: absolute;
  top: 128.7px;
  left: 149.22px;
  font-size: 15.96px;
  font-weight: 600;
  cursor: pointer;
  color: inherit;
}
.product27 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18.65px;
}
.blog-news18,
.compitition18,
.public-notebook18,
.publications18 {
  text-decoration: none;
  position: absolute;
  top: 43.83px;
  left: 0;
  color: inherit;
  cursor: pointer;
}
.blog-news18,
.public-notebook18,
.publications18 {
  top: 72.75px;
}
.blog-news18,
.public-notebook18 {
  top: 101.66px;
}
.blog-news18 {
  top: 130.57px;
}
.legal-notice18 {
  position: absolute;
  top: 159.48px;
  left: 0;
}
.about-us-row27,
.about-us-row28 {
  position: absolute;
  top: 95.13px;
  left: 704.14px;
  width: 125.91px;
  height: 178.13px;
  font-family: var(--font-montserrat);
}
.about-us-row28 {
  left: 906.53px;
}
.discussion10 {
  text-decoration: none;
  position: absolute;
  top: 159.48px;
  left: 0;
  color: inherit;
  cursor: pointer;
}
.about-us-row29 {
  position: absolute;
  top: 95.13px;
  left: 1108.91px;
  width: 125.91px;
  height: 178.13px;
  font-family: var(--font-montserrat);
}
.fotter9 {
  position: absolute;
  top: 4677.18px;
  left: 0;
  background-color: var(--color-darkslateblue-200);
  width: 1343px;
  height: 508.29px;
  overflow: hidden;
}
.details1 {
  position: relative;
  font-size: var(--font-size-xl-7);
  line-height: 29.57px;
  font-family: var(--font-barlow);
  color: var(--color-gray-300);
  text-align: left;
  z-index: 0;
}
.pseudo-icon {
  position: absolute;
  margin: 0 !important;
  top: 44.36px;
  left: 15.81px;
  width: 59.14px;
  height: 14.79px;
  z-index: 1;
}
.awvbele2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.registrants2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-xl-7);
  line-height: 29.57px;
  font-weight: 600;
  font-family: var(--font-barlow);
  color: var(--color-dimgray-200);
  text-align: left;
}
.div304,
.span-2mibmn1 {
  position: absolute;
  height: 25.14px;
}
.div304 {
  top: 0;
  left: 11.83px;
  font-size: var(--font-size-xl-7);
  line-height: 29.57px;
  font-weight: 600;
  font-family: var(--font-barlow);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23.05px;
}
.span-2mibmn1 {
  top: 1.48px;
  left: 137.48px;
  border-radius: 73.93px;
  background-color: var(--color-steelblue-100);
  width: 46.41px;
}
.awvbele3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 183.91px;
  height: 29.57px;
}
.div-1tnoj51,
.div-2zx75h1 {
  width: 1156.47px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div-1tnoj51 {
  border-bottom: 1.5px solid var(--color-silver-200);
  box-sizing: border-box;
  padding: 14.785737991333008px 1611.82275390625px 16.264312744140625px
    14.785737991333008px;
  gap: 52.49px;
}
.div-2zx75h1 {
  position: absolute;
  top: 985.8px;
  left: 93.26px;
  background-color: var(--color-aliceblue-200);
}
.challenge-1-preview {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 5185.47px;
  overflow: hidden;
  text-align: left;
  font-size: 14.92px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
