.navigasi-login-child9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkslateblue-200);
}
.mask-group-icon11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 44.72px;
  height: 44.72px;
  object-fit: cover;
}
.frontend-developer10,
.hi-ogunfuye-segun10 {
  position: absolute;
  left: 0;
  line-height: 150%;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.hi-ogunfuye-segun10 {
  top: 0;
  font-size: 11.85px;
  font-weight: 500;
}
.frontend-developer10 {
  top: 17.78px;
  font-size: 10.16px;
  opacity: 0.7;
}
.hi-ogunfuye-segun-parent7 {
  text-decoration: none;
  position: absolute;
  top: 4.49px;
  left: 44.78px;
  width: 116px;
  height: 32.78px;
  cursor: pointer;
}
.vector-icon27 {
  position: relative;
  width: 11.85px;
  height: 6.77px;
}
.icon10 {
  position: absolute;
  top: 10.09px;
  left: 175.16px;
  width: 20.58px;
  height: 19.67px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 7.29371452331543px 5.209795951843262px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.mask-group-parent7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: -2.8px;
  left: -9.33px;
  width: 195.74px;
  height: 44.72px;
}
.navigasi-login-inner19 {
  position: absolute;
  top: 22.38px;
  left: 1061.34px;
  width: 196.67px;
  height: 35.56px;
  cursor: pointer;
}
.group-icon13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24.33px;
  height: 26.73px;
}
.collegal26,
.logo18 {
  position: absolute;
  top: 0;
  left: 28.64px;
}
.logo18 {
  text-decoration: none;
  top: 26.78px;
  left: 68.08px;
  width: 114.64px;
  height: 26.73px;
  cursor: pointer;
  color: inherit;
}
.competition12 {
  position: relative;
  line-height: 16.09px;
  font-weight: 500;
}
.products10 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: inherit;
}
.blog10 {
  position: relative;
  line-height: 16.09px;
  font-weight: 500;
  cursor: pointer;
}
.pricing10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nav-menu10,
.search10 {
  position: absolute;
  display: flex;
}
.nav-menu10 {
  top: 31.71px;
  left: 235.02px;
  width: 271.4px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22.38px;
  font-size: 12.59px;
  font-family: var(--font-dm-sans);
}
.search10 {
  border: 0;
  font-family: var(--font-arial);
  font-size: 13.06px;
  background-color: transparent;
  top: 0;
  left: 20.52px;
  color: var(--color-white);
  text-align: left;
  align-items: center;
  width: 356.27px;
  height: 26.11px;
}
.icon-search-icon10 {
  position: absolute;
  height: 57.14%;
  width: 3.96%;
  top: 21.43%;
  right: 96.04%;
  bottom: 21.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-wrapper9,
.search-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 376.79px;
  height: 26.11px;
}
.group-wrapper9 {
  top: 5.59px;
  left: 33.57px;
}
.navigasi-login-inner20 {
  position: absolute;
  top: 23.32px;
  left: 544.66px;
  border-radius: 14.66px;
  border: 0.9px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 425.28px;
  height: 37.31px;
  overflow: hidden;
}
.hamburger-iconsvg21 {
  position: relative;
  width: 17.72px;
  height: 16.79px;
  overflow: hidden;
  flex-shrink: 0;
}
.hamburger-iconsvg20 {
  position: absolute;
  top: calc(50% - 10.26px);
  left: 1284.24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigasi-login10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1343px;
  height: 83.94px;
  font-size: 21.29px;
  color: var(--color-white);
}
.f4c4fd22dc3-aarohan-logo-01pn-icon {
  position: absolute;
  top: calc(50% - 85px);
  left: calc(50% - 85px);
  width: 169.98px;
  height: 169.98px;
  object-fit: cover;
}
.div180 {
  position: relative;
  border-radius: 12.39px;
  background-color: var(--color-white);
  border: 1.5px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 191.97px;
  height: 191.97px;
}
.the-annual-business {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 37.16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 665.53px;
  height: 37.16px;
}
.b957e2059fc-orgsvg-icon {
  position: relative;
  width: 34.06px;
  height: 24.77px;
  overflow: hidden;
  flex-shrink: 0;
}
.b957e2059fc-orgsvg {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.national-institute-of {
  position: relative;
  line-height: 34.06px;
  font-weight: 500;
}
.a14,
.h1 {
  position: absolute;
}
.a14 {
  top: 49.54px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15.48px;
  font-size: 24.77px;
}
.h1 {
  top: 0;
  left: 30.96px;
  width: 871.61px;
  height: 86.7px;
}
.b9549418def-locationsvg-icon {
  position: relative;
  width: 23.22px;
  height: 24.77px;
  overflow: hidden;
  flex-shrink: 0;
}
.india-durgapur-west {
  position: relative;
  font-weight: 500;
}
.div182,
.div183 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.div183 {
  overflow: hidden;
  padding: var(--padding-0) var(--padding-0) 1.548155426979065px;
  align-items: flex-start;
}
.div182 {
  position: absolute;
  top: calc(50% + 33.77px);
  left: 30.96px;
  align-items: center;
  gap: 15.48px;
  font-size: 24.77px;
}
.div181 {
  position: relative;
  width: 902.57px;
  height: 130.05px;
}
.business-plan {
  position: relative;
  line-height: 18.58px;
  font-weight: 500;
}
.div185,
.div186 {
  flex-direction: row;
}
.div185 {
  border-radius: 77.41px;
  background-color: var(--color-whitesmoke-900);
  display: flex;
  padding: 13.933398246765137px 18.529481887817383px 13.933398246765137px
    18.577865600585938px;
  align-items: flex-start;
  justify-content: flex-start;
}
.div186 {
  padding: 13.933398246765137px 18.21501350402832px 13.933398246765137px
    18.577865600585938px;
}
.div186,
.div187,
.div188 {
  border-radius: 77.41px;
  background-color: var(--color-whitesmoke-900);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div187 {
  flex-direction: row;
  padding: 13.933398246765137px 17.36836814880371px 13.933398246765137px
    18.577865600585938px;
}
.div188 {
  padding: 13.933398246765137px 17.852169036865234px 13.933398246765137px
    18.577865600585938px;
}
.div184,
.div188,
.div189 {
  flex-direction: row;
}
.div189 {
  border-radius: 77.41px;
  background-color: var(--color-whitesmoke-900);
  display: flex;
  padding: 13.933398246765137px 17.44093894958496px 13.933398246765137px
    18.577865600585938px;
  align-items: flex-start;
  justify-content: flex-start;
}
.div184 {
  overflow: hidden;
  padding: var(--padding-0) 76.24665069580078px 4.644466400146484px
    var(--padding-0);
  gap: 18.58px;
  font-size: 18.58px;
}
.div177,
.div178,
.div184 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div178 {
  flex-direction: column;
  gap: 23.22px;
}
.div177 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1156.47px;
  height: 328.28px;
  flex-direction: row;
  padding: 30.963106155395508px;
  box-sizing: border-box;
}
.be3c2926813-watchlistsvg-icon {
  position: relative;
  width: 26.32px;
  height: 24.77px;
  overflow: hidden;
  flex-shrink: 0;
}
.div192 {
  border-radius: 12.39px;
  background-color: var(--color-white);
  border: 1.5px solid var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  padding: 20.126020431518555px 29.82617950439453px 20.126020431518555px
    30.551877975463867px;
  align-items: center;
  justify-content: flex-start;
  gap: 15.48px;
}
.be3b6f2f885-calandersvg-icon {
  position: relative;
  width: 26.32px;
  height: 29.42px;
  overflow: hidden;
  flex-shrink: 0;
}
.calendar {
  position: relative;
  font-weight: 600;
}
.div193 {
  border-radius: 12.39px;
  background-color: var(--color-white);
  border: 1.5px solid var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  padding: 17.803787231445312px 31.471097946166992px 17.803787231445312px
    32.003273010253906px;
  align-items: center;
  justify-content: flex-start;
  gap: 15.48px;
}
.div191,
.free {
  position: absolute;
}
.div191 {
  top: 26.37px;
  left: 30.96px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.48px;
}
.free {
  top: 13.43px;
  left: 0;
  font-weight: 600;
}
.join {
  top: 17.72px;
  left: 49.43px;
  font-weight: 500;
}
.a15,
.div194,
.join {
  position: absolute;
}
.a15 {
  top: 0;
  left: 187.46px;
  border-radius: 10.76px;
  background-color: var(--color-royalblue-300);
  width: 148.29px;
  height: 58.76px;
  overflow: hidden;
  font-size: 20.17px;
  color: var(--color-white);
}
.div194 {
  top: calc(50% - 28.82px);
  left: 554.92px;
  width: 287.25px;
  height: 59.26px;
  font-size: 26.89px;
}
.join-as-a {
  position: absolute;
  top: 17.72px;
  left: 25.18px;
  font-weight: 500;
}
.a16 {
  top: 30.22px;
  left: 912.12px;
  border-radius: 10.76px;
  background-color: var(--color-royalblue-300);
  width: 198.65px;
  height: 58.76px;
  overflow: hidden;
  font-size: 20.17px;
  color: var(--color-white);
}
.a16,
.div190,
.div199 {
  position: absolute;
}
.div190 {
  top: 343.76px;
  left: 0;
  border-radius: 0 0 12.39px 12.39px;
  background-color: var(--color-white);
  border-top: 1.5px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 1110.67px;
  height: 116.22px;
  font-size: 18.58px;
}
.div199 {
  top: 17.03px;
  left: 13.04px;
  line-height: 27.87px;
  display: flex;
  align-items: center;
  width: 36.16px;
  height: 27.87px;
}
.div198 {
  position: relative;
  border-radius: 12.39px;
  background-color: var(--color-white);
  border: 1.5px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 61.93px;
  height: 61.93px;
}
.div200,
.impressions {
  position: absolute;
  left: 15.48px;
  line-height: 23.84px;
  display: flex;
  align-items: center;
  height: 26.32px;
}
.impressions {
  top: calc(50% - 30.02px);
  font-weight: 500;
  width: 125.57px;
}
.div200 {
  top: 31.57px;
  font-weight: 600;
  color: var(--color-darkslateblue-100);
  width: 59.09px;
}
.span28 {
  position: relative;
  width: 277.1px;
  height: 56.94px;
  font-size: 21.67px;
  color: var(--color-steelblue-500);
}
.div197 {
  display: flex;
  flex-direction: row;
  padding: 24.891435623168945px 23.22233009338379px 24.915624618530273px;
  align-items: center;
  justify-content: flex-start;
}
.div203,
.mar-23-0629,
.registration-deadline {
  position: absolute;
  display: flex;
  align-items: center;
}
.div203 {
  top: 17.03px;
  left: 17.03px;
  line-height: 27.87px;
  width: 28.18px;
  height: 27.87px;
}
.mar-23-0629,
.registration-deadline {
  left: 15.48px;
  line-height: 23.84px;
}
.registration-deadline {
  top: calc(50% - 41.93px);
  font-weight: 500;
  width: 221.91px;
  height: 26.32px;
}
.mar-23-0629 {
  top: 31.57px;
  font-weight: 600;
  color: var(--color-darkslateblue-100);
  width: 220.46px;
  height: 50.15px;
}
.span29 {
  position: relative;
  width: 277.1px;
  height: 80.77px;
  font-size: 21.67px;
  color: var(--color-steelblue-500);
}
.div201,
.members,
.team-size {
  display: flex;
  align-items: center;
}
.div201 {
  flex-direction: row;
  padding: 15.481553077697754px 23.22233009338379px;
  justify-content: flex-start;
}
.members,
.team-size {
  position: absolute;
  left: 15.48px;
  line-height: 23.84px;
  height: 26.32px;
}
.team-size {
  top: calc(50% - 30.02px);
  font-weight: 500;
  width: 106.36px;
}
.members {
  top: 31.57px;
  font-weight: 600;
  color: var(--color-darkslateblue-100);
  width: 150.36px;
}
.div196 {
  border-radius: 12.39px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: 15.481553077697754px 0.07256978750228882px 15.481553077697754px
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.all {
  position: relative;
  font-size: 18.58px;
  line-height: 18.58px;
  font-weight: 500;
}
.div207 {
  border-radius: 12.39px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: 23.22233009338379px 1037.2640380859375px 15.481553077697754px
    23.22233009338379px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23.22px;
  font-size: 21.67px;
  color: var(--color-darkslateblue-100);
}
.div-group,
.div195 {
  position: absolute;
  width: 1156.47px;
}
.div195 {
  top: 475.47px;
  left: 0;
  height: 264.87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.48px;
  font-size: 27.87px;
  color: var(--color-royalblue-300);
}
.div-group {
  top: 191.19px;
  left: 93.26px;
  height: 740.34px;
  font-size: 30.96px;
}
.group-child23 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-aliceblue-300);
  width: 1343px;
  height: 72.75px;
}
.home {
  font-weight: 500;
}
.home-competition-container {
  position: absolute;
  top: 24.53px;
  right: 515.75px;
  line-height: 26.11px;
  display: inline-block;
  width: 761.97px;
  height: 23.68px;
  opacity: 0.7;
}
.rectangle-parent16 {
  position: absolute;
  top: 83.94px;
  left: 0;
  width: 1343px;
  height: 72.75px;
  font-size: 14.92px;
  color: var(--dark-blue);
  font-family: var(--font-poppins);
}
.terms-privacy8 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 16.4px;
}
.tems-and-condition8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 49.19px;
}
.icon-11-8 {
  position: relative;
  width: 7.38px;
  height: 13.68px;
}
.linkedin-icon8,
.vector-icon28 {
  position: relative;
  width: 13.94px;
  height: 11.32px;
}
.linkedin-icon8 {
  width: 12.3px;
  height: 12.3px;
}
.btm8,
.social-icon8 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-icon8 {
  justify-content: flex-start;
  gap: 26.23px;
}
.btm8 {
  position: absolute;
  top: 427.15px;
  left: 149.22px;
  width: 1045.49px;
  justify-content: space-between;
  font-size: 13.12px;
}
.logo-icon8 {
  width: 33.85px;
  height: 26.53px;
  overflow: hidden;
  flex-shrink: 0;
}
.collegal28,
.logo-icon8 {
  position: relative;
}
.logo19 {
  text-decoration: none;
  position: absolute;
  top: 95.13px;
  left: 149.22px;
  width: 145.59px;
  height: 30.78px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    1.0602876541164485e-13px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 8.39px;
  font-size: 25.62px;
  color: inherit;
}
.sign-in8 {
  color: var(--color-khaki-100);
}
.have-and-account-container8 {
  text-decoration: none;
  position: absolute;
  top: 128.7px;
  left: 149.22px;
  font-size: 15.96px;
  font-weight: 600;
  cursor: pointer;
  color: inherit;
}
.product24 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18.65px;
}
.blog-news16,
.compitition16,
.public-notebook16,
.publications16 {
  text-decoration: none;
  position: absolute;
  top: 43.83px;
  left: 0;
  color: inherit;
  cursor: pointer;
}
.blog-news16,
.public-notebook16,
.publications16 {
  top: 72.75px;
}
.blog-news16,
.public-notebook16 {
  top: 101.66px;
}
.blog-news16 {
  top: 130.57px;
}
.legal-notice16 {
  position: absolute;
  top: 159.48px;
  left: 0;
}
.about-us-row24,
.about-us-row25 {
  position: absolute;
  top: 95.13px;
  left: 704.14px;
  width: 125.91px;
  height: 178.13px;
  font-family: var(--font-montserrat);
}
.about-us-row25 {
  left: 906.53px;
}
.discussion9 {
  text-decoration: none;
  position: absolute;
  top: 159.48px;
  left: 0;
  color: inherit;
  cursor: pointer;
}
.about-us-row26 {
  position: absolute;
  top: 95.13px;
  left: 1108.91px;
  width: 125.91px;
  height: 178.13px;
  font-family: var(--font-montserrat);
}
.fotter8 {
  position: absolute;
  top: 2348.38px;
  left: 0;
  background-color: var(--color-darkslateblue-200);
  width: 1343px;
  height: 508.29px;
  overflow: hidden;
  font-size: 14.92px;
  color: var(--color-white);
}
.details {
  position: relative;
  line-height: 29.57px;
}
.awvbele {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.registrants {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-xl-7);
  line-height: 29.57px;
  font-weight: 700;
  font-family: var(--font-barlow);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
}
.div208,
.span-2mibmn {
  position: absolute;
  height: 25.14px;
}
.div208 {
  top: 0;
  left: 11.83px;
  line-height: 29.57px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23.05px;
}
.span-2mibmn {
  top: 1.48px;
  left: 137.48px;
  border-radius: 73.93px;
  background-color: var(--color-steelblue-100);
  width: 46.41px;
}
.awvbele1 {
  position: relative;
  width: 183.91px;
  height: 29.57px;
  text-align: center;
  color: var(--color-white);
}
.div-1tnoj5,
.div-2zx75h {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.div-1tnoj5 {
  border-bottom: 1.5px solid var(--color-silver-200);
  width: 1156.47px;
  padding: 14.785737991333008px 1611.82275390625px 16.264312744140625px
    14.785737991333008px;
  gap: 52.49px;
}
.div-2zx75h {
  position: absolute;
  top: 985.8px;
  left: 93.26px;
  background-color: var(--color-aliceblue-200);
  width: 1155.54px;
  padding: var(--padding-0) 29.844444274902344px var(--padding-0)
    var(--padding-0);
  font-size: var(--font-size-xl-7);
  color: var(--color-dimgray-200);
  font-family: var(--font-barlow);
}
.pseudo12 {
  position: absolute;
  top: 1101.73px;
  left: 294.57px;
  width: 55.72px;
  height: 13.93px;
}
.aab5ba7c0049c3e1f16ae9accsvg-icon {
  position: absolute;
  top: 1046.42px;
  left: 276.06px;
  width: 59.14px;
  height: 14.79px;
  overflow: hidden;
}
.div209,
.fajarmln,
.may-15-2023 {
  position: absolute;
  top: 16.24px;
  left: 9.03px;
  line-height: 19.86px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 50.02px;
  height: 17.15px;
}
.div209,
.may-15-2023 {
  left: 650.73px;
  width: 111.92px;
}
.div209 {
  top: 20.76px;
  left: 930.51px;
  width: 4.32px;
}
.div-2uazzl {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.div210,
.juxta {
  position: absolute;
  top: 16.24px;
  left: 9.03px;
  line-height: 19.86px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 28.33px;
  height: 17.15px;
}
.div210 {
  top: 11.73px;
  left: 930.51px;
  width: 4.32px;
}
.div-2uazzl1 {
  position: absolute;
  top: 48.74px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.gando19850304 {
  position: absolute;
  top: 16.24px;
  left: 9.03px;
  line-height: 19.86px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 94.51px;
  height: 17.15px;
}
.div-2uazzl2 {
  position: absolute;
  top: 97.47px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.may-15-20233,
.nursoltan-s {
  position: absolute;
  top: 16.25px;
  left: 9.03px;
  line-height: 19.86px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 65.02px;
  height: 17.15px;
}
.may-15-20233 {
  left: 650.73px;
  width: 111.92px;
}
.div-2uazzl3 {
  position: absolute;
  top: 146.21px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.ariefk {
  position: absolute;
  top: 16.25px;
  left: 9.03px;
  line-height: 19.86px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 33.9px;
  height: 17.15px;
}
.div-2uazzl4 {
  position: absolute;
  top: 194.95px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.kasiger {
  position: absolute;
  top: 16.25px;
  left: 9.03px;
  line-height: 19.86px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 41.74px;
  height: 17.15px;
}
.div-2uazzl5 {
  position: absolute;
  top: 243.68px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.basuki {
  position: absolute;
  top: 16.25px;
  left: 9.03px;
  line-height: 19.86px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 37.83px;
  height: 17.15px;
}
.div-2uazzl6 {
  position: absolute;
  top: 292.42px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.cardiboy {
  position: absolute;
  top: 16.25px;
  left: 9.03px;
  line-height: 19.86px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 49.12px;
  height: 17.15px;
}
.div-2uazzl7 {
  position: absolute;
  top: 341.16px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.lemonnine,
.may-15-20238 {
  position: absolute;
  top: 16.24px;
  left: 9.03px;
  line-height: 19.86px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 59.73px;
  height: 17.15px;
}
.may-15-20238 {
  top: 15.34px;
  left: 650.73px;
  width: 111.92px;
}
.div-2uazzl8 {
  position: absolute;
  top: 389.89px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.diwosuwanto {
  position: absolute;
  top: 16.25px;
  left: 9.03px;
  line-height: 19.86px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 75.97px;
  height: 17.15px;
}
.div-2uazzl9 {
  position: absolute;
  top: 438.63px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.radicatz {
  position: absolute;
  top: 16.25px;
  left: 9.03px;
  line-height: 19.86px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 46.16px;
  height: 17.15px;
}
.div-2uazzl10 {
  position: absolute;
  top: 487.37px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.y5 {
  position: absolute;
  top: 16.25px;
  left: 9.03px;
  line-height: 19.86px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 20.96px;
  height: 17.15px;
}
.div-2uazzl11 {
  position: absolute;
  top: 536.1px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.yanwarpro {
  position: absolute;
  top: 16.25px;
  left: 9.03px;
  line-height: 19.86px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 59.9px;
  height: 17.15px;
}
.div-2uazzl12 {
  position: absolute;
  top: 584.84px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.jonystorm {
  position: absolute;
  top: 16.24px;
  left: 9.03px;
  line-height: 19.86px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 62.85px;
  height: 17.15px;
}
.div-2uazzl13 {
  position: absolute;
  top: 633.58px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.div224,
.kreasindo {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.kreasindo {
  top: 16.25px;
  left: 9.03px;
  line-height: 19.86px;
  width: 56.06px;
  height: 17.15px;
}
.div224 {
  top: 14.32px;
  left: 1079.69px;
  font-family: var(--font-inter);
  color: var(--color-royalblue-300);
  text-align: center;
  justify-content: center;
  width: 41.64px;
  height: 16.94px;
}
.div-2uazzl14 {
  position: absolute;
  top: 682.32px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.div226,
.fairy-ley {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.fairy-ley {
  top: 16.25px;
  left: 9.03px;
  line-height: 19.86px;
  width: 47.66px;
  height: 17.15px;
}
.div226 {
  top: 15.47px;
  left: 1080.58px;
  font-size: 12.63px;
  font-family: var(--font-inter);
  color: var(--color-royalblue-300);
  text-align: center;
  justify-content: center;
  width: 44.23px;
  height: 16.94px;
}
.div-2uazzl15 {
  position: absolute;
  top: 731.05px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.div228,
.egislr {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.egislr {
  top: 16.25px;
  left: 9.03px;
  line-height: 19.86px;
  width: 31.53px;
  height: 17.15px;
}
.div228 {
  top: 14.83px;
  left: 1080.58px;
  font-size: 12.63px;
  font-family: var(--font-inter);
  color: var(--color-royalblue-300);
  text-align: center;
  justify-content: center;
  width: 38.89px;
  height: 16.94px;
}
.div-2uazzl16 {
  position: absolute;
  top: 779.79px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.div230,
.handiputra {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.handiputra {
  top: 16.25px;
  left: 9.03px;
  line-height: 19.86px;
  width: 61.76px;
  height: 17.15px;
}
.div230 {
  top: 15.09px;
  left: 1080.58px;
  font-size: 12.63px;
  font-family: var(--font-inter);
  color: var(--color-royalblue-300);
  text-align: center;
  justify-content: center;
  width: 43.4px;
  height: 16.94px;
}
.div-2uazzl17 {
  position: absolute;
  top: 828.53px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.iqbalhood {
  position: absolute;
  top: 16.25px;
  left: 9.03px;
  line-height: 19.86px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 56.54px;
  height: 17.15px;
}
.div-2uazzl18 {
  position: absolute;
  top: 877.26px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.gilangsandy7 {
  position: absolute;
  top: 16.25px;
  left: 9.03px;
  line-height: 19.86px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 76.43px;
  height: 17.15px;
}
.div-2uazzl19 {
  position: absolute;
  top: 926px;
  left: 0;
  border-top: 0.9px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1138.1px;
  height: 48.74px;
}
.div233,
.div235 {
  position: relative;
  font-weight: 500;
  justify-content: center;
  height: 16.94px;
  flex-shrink: 0;
}
.div233 {
  display: flex;
  align-items: center;
  width: 39.25px;
}
.div235 {
  width: 41.64px;
}
.div235,
.div237,
.div239 {
  display: flex;
  align-items: center;
}
.div237 {
  position: relative;
  font-weight: 500;
  justify-content: center;
  width: 43.15px;
  height: 16.94px;
  flex-shrink: 0;
}
.div239 {
  width: 44.23px;
}
.div239,
.div241,
.div243 {
  position: relative;
  font-weight: 500;
  justify-content: center;
  height: 16.94px;
  flex-shrink: 0;
}
.div241 {
  display: flex;
  align-items: center;
  width: 38.89px;
}
.div243 {
  width: 43.4px;
}
.div243,
.div245,
.parent3 {
  display: flex;
  align-items: center;
}
.div245 {
  position: relative;
  font-weight: 500;
  justify-content: center;
  width: 40.8px;
  height: 16.94px;
  flex-shrink: 0;
}
.parent3 {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32.07px;
}
.div-237uot-inner,
.div247,
.div248 {
  position: absolute;
  top: 16.03px;
  left: 1079.69px;
  width: 44.23px;
  height: 654.03px;
  text-align: center;
  color: var(--color-royalblue-300);
  font-family: var(--font-inter);
}
.div247,
.div248 {
  top: 892.61px;
  left: 1080.58px;
  font-size: 12.63px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41.64px;
  height: 16.94px;
}
.div248 {
  top: 937.16px;
  width: 43.15px;
}
.div-237uot,
.registrants-wrapper,
.registrants1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1138.1px;
  height: 998.2px;
}
.registrants-wrapper,
.registrants1 {
  height: 1030.69px;
}
.registrants-wrapper {
  top: 1138.62px;
  left: 110.05px;
  color: var(--color-gray-800);
  font-family: var(--font-roboto);
}
.fe8099217b-grouppointssvg-icon1 {
  position: relative;
  width: 23.17px;
  height: 23.17px;
  overflow: hidden;
  flex-shrink: 0;
}
.divvertical-align1,
.thcenter-align2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.divvertical-align1 {
  padding: var(--padding-0) 3.8124518394470215px var(--padding-0)
    3.0015153884887695px;
  align-items: center;
  gap: 4.21px;
}
.thcenter-align2 {
  position: absolute;
  top: calc(50% - 352.07px);
  left: 1155.83px;
  background-color: var(--color-white);
  border-top: 3.6px solid var(--color-mediumslateblue-200);
  padding: 11.05821418762207px 10.531633377075195px;
  align-items: flex-start;
  text-align: center;
}
.registration-date {
  position: absolute;
  top: 16.82px;
  left: 9.94px;
  line-height: 15.8px;
  font-weight: 500;
}
.vector-icon29 {
  position: absolute;
  height: 26.94%;
  width: 8.7%;
  top: 33.85%;
  right: 6.92%;
  bottom: 39.21%;
  left: 84.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.registration-date-parent {
  position: absolute;
  top: 1076.26px;
  left: 727.53px;
  background-color: var(--color-white);
  border-top: 3.1px solid var(--color-mediumslateblue-200);
  box-sizing: border-box;
  width: 171.22px;
  height: 45.86px;
  overflow: hidden;
  text-align: center;
}
.submitted-date {
  position: relative;
  line-height: 18.51px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 119.79px;
  height: 19.84px;
  flex-shrink: 0;
}
.vector-icon30 {
  position: relative;
  width: 14.9px;
  height: 12.36px;
}
.submitted-date-parent {
  position: absolute;
  top: 1076.26px;
  left: 956.47px;
  background-color: var(--color-white);
  border-top: 3.1px solid var(--color-mediumslateblue-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 11.58083724975586px;
  align-items: center;
  justify-content: flex-start;
  gap: 13.36px;
  text-align: center;
  color: #767676;
  font-family: var(--font-roboto);
}
.username {
  position: relative;
  line-height: 15.8px;
  font-weight: 500;
}
.vector-icon31 {
  position: relative;
  width: 14.9px;
  height: 13.39px;
}
.username-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3.06px;
}
.challenge-registrant-inner {
  position: absolute;
  top: 1076.26px;
  left: 113.61px;
  background-color: #f7f5ff;
  border-top: 3.1px solid var(--color-mediumslateblue-200);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 12.99467658996582px 9.937105178833008px;
  align-items: flex-start;
  justify-content: flex-start;
}
.challenge-registrant {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2856.67px;
  overflow: hidden;
  text-align: left;
  font-size: 12.64px;
  color: var(--color-darkslateblue-100);
  font-family: var(--font-inter);
}
