.frame-item {
  position: absolute;
  top: 2124.93px;
  left: -0.56px;
  border-top: 1.1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  width: 1207.89px;
  height: 1.11px;
}
.frame-inner {
  position: absolute;
  height: 29.95%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 70.05%;
  left: 0;
  border-radius: 16.28px 16.28px 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.d0a3677d03e0-iit-delhijpg-icon6 {
  position: absolute;
  top: calc(50% - 22.89px);
  left: calc(50% - 22.89px);
  width: 45.78px;
  height: 45.78px;
  object-fit: cover;
}
.div305 {
  position: absolute;
  height: 14.84%;
  width: 14.29%;
  top: 10.99%;
  right: 80.42%;
  bottom: 74.18%;
  left: 5.29%;
  border-radius: 3.66px;
  box-shadow: 0 3.6625218391418457px 3.66px rgba(0, 0, 0, 0.1);
  border: 0.9px solid var(--color-white);
  box-sizing: border-box;
}
.indian-institute-of6,
.store-sales-5 {
  position: absolute;
  display: flex;
  align-items: center;
}
.indian-institute-of6 {
  height: 31.91%;
  width: 78.53%;
  top: 68.09%;
  left: 0;
  line-height: 19.33px;
  font-weight: 500;
}
.store-sales-5 {
  width: 99.66%;
  top: 0;
  left: 0.34%;
  font-size: 16.28px;
  line-height: 24.42px;
  font-weight: 600;
}
.indian-institute-of-technology-parent3 {
  position: absolute;
  top: 0;
  left: 2.04px;
  width: 301.14px;
  height: 47.82px;
}
.case-study6 {
  position: relative;
  font-weight: 500;
}
.span34,
.span35 {
  top: calc(50% - 14.16px);
  border-radius: 9.55px;
  border: 1px solid var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.span34 {
  position: absolute;
  left: 2.86px;
  padding: 7.159755706787109px 12.02242374420166px 7.159755706787109px
    12.410242080688477px;
}
.span35 {
  left: 103.67px;
  padding: 7.159755706787109px 12.320746421813965px 7.159755706787109px
    12.410242080688477px;
}
.div306,
.span35,
.span36 {
  position: absolute;
}
.span36 {
  top: calc(50% - 14.16px);
  left: 196.18px;
  border-radius: 9.55px;
  border: 1px solid var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  padding: 7.159755706787109px 11.664435386657715px 7.159755706787109px
    12.410242080688477px;
  align-items: flex-start;
  justify-content: flex-start;
}
.div306 {
  top: calc(50% + 21.99px);
  left: 0;
  width: 356.08px;
  height: 34.37px;
  font-size: 11.46px;
  color: var(--color-darkslateblue-100);
}
.use-machine-learning5 {
  position: absolute;
  top: 53.74px;
  left: 3.25px;
  line-height: 20.35px;
  display: flex;
  align-items: center;
  width: 264.54px;
  height: 15.26px;
}
.frame-parent3 {
  position: absolute;
  top: 119.03px;
  left: 17.29px;
  width: 356.08px;
  height: 112.7px;
}
.div309,
.span37 {
  position: absolute;
  top: 18.1px;
  left: 9.05px;
}
.div309 {
  top: 0;
  left: 16.97px;
  width: 135.42px;
  height: 59.95px;
}
.day-left-iconsvg13 {
  position: relative;
  width: 22.64px;
  height: 21.38px;
  overflow: hidden;
  flex-shrink: 0;
}
.day-left-iconsvg12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.days-left5 {
  position: relative;
  line-height: 18.87px;
  font-weight: 600;
}
.div310 {
  top: calc(50% - 11.3px);
  left: 39.68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12.58px;
}
.div308,
.div310,
.teams6 {
  position: absolute;
}
.div308 {
  width: calc(100% - 182.11px);
  top: 1.02px;
  right: 182.11px;
  left: 0;
  border-bottom: 1.1px solid var(--color-whitesmoke-600);
  box-sizing: border-box;
  height: 61.04px;
}
.teams6 {
  top: 20.23px;
  left: 47.82px;
  line-height: 20.35px;
  font-weight: 600;
}
.div-child3,
.div311 {
  position: absolute;
  box-sizing: border-box;
}
.div-child3 {
  top: 59.4px;
  left: -0.51px;
  border-right: 1px solid var(--color-whitesmoke-600);
  width: 1.02px;
  height: 63.08px;
}
.div311 {
  width: calc(100% - 202.46px);
  top: 1.13px;
  right: 0;
  left: 202.45px;
  border-bottom: 1.1px solid var(--color-whitesmoke-600);
  border-left: 1.1px solid var(--color-whitesmoke-600);
  height: 61.08px;
}
.vector-icon34 {
  position: relative;
  width: 17.17px;
  height: 23.67px;
}
.price-iconsvg6 {
  top: 11.12px;
  left: 15.26px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.b35,
.div312,
.price-iconsvg6 {
  position: absolute;
}
.b35 {
  top: 11.12px;
  left: 46.8px;
  line-height: 20.35px;
}
.div312 {
  width: calc(100% - 228.91px);
  top: 66.2px;
  right: 202.46px;
  left: 26.45px;
  height: 53.1px;
}
.public7 {
  top: 12.21px;
  left: 7.12px;
  line-height: 27.14px;
  text-transform: capitalize;
  font-weight: 600;
}
.div307,
.div313,
.public7 {
  position: absolute;
}
.div313 {
  width: calc(100% - 266.55px);
  top: 62.06px;
  right: 0;
  left: 266.55px;
  height: 61.04px;
}
.div307 {
  top: 247.22px;
  left: 0;
  border-radius: 0 0 16.28px 16.28px;
  background-color: var(--color-gray-100);
  border-top: 1.1px solid var(--color-whitesmoke-600);
  box-sizing: border-box;
  width: 384.56px;
  height: 123.1px;
  font-size: 14.24px;
  color: var(--color-darkslateblue-100);
}
.frame-a {
  text-decoration: none;
  position: absolute;
  height: 100%;
  width: 31.86%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 68.14%;
  border-radius: 16.28px;
  background-color: var(--color-white);
  box-shadow: 0 4.126314640045166px 4.13px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: inherit;
}
.indian-institute-of-technology-parent4 {
  position: relative;
  width: 301.14px;
  height: 47.82px;
}
.use-machine-learning6 {
  position: relative;
  line-height: 20.35px;
  display: flex;
  align-items: center;
  width: 264.54px;
  height: 15.26px;
  flex-shrink: 0;
}
.div315 {
  position: relative;
  width: 356.08px;
  height: 34.37px;
  font-size: 11.46px;
  color: var(--color-darkslateblue-100);
}
.frame-parent4 {
  position: absolute;
  top: 119.03px;
  left: 17.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.46px;
}
.div319 {
  position: absolute;
  width: calc(100% - 202.46px);
  top: 1.13px;
  right: 0;
  left: 202.46px;
  border-bottom: 1.1px solid var(--color-whitesmoke-600);
  border-left: 1.1px solid var(--color-whitesmoke-600);
  box-sizing: border-box;
  height: 61.08px;
}
.rectangle-parent17 {
  text-decoration: none;
  position: absolute;
  height: 100%;
  width: 31.86%;
  top: 0;
  right: 68.14%;
  bottom: 0;
  left: 0;
  border-radius: 16.28px;
  background-color: var(--color-white);
  box-shadow: 0 4.126314640045166px 4.13px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: inherit;
}
.hubmap-hacking1 {
  position: absolute;
  width: 98.06%;
  top: 0;
  left: 0.9%;
  line-height: 24.42px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.div323 {
  position: absolute;
  top: calc(50% + 21.81px);
  left: 0;
  width: 356.08px;
  height: 34.37px;
  font-size: 11.46px;
  color: var(--color-darkslateblue-100);
}
.segment-instances-of1 {
  position: absolute;
  top: 44.77px;
  left: 2.3px;
  font-size: 12.21px;
  line-height: 20.35px;
  display: flex;
  align-items: center;
  width: 357.2px;
  height: 15.85px;
}
.hubmap-hacking-the-human-vas-parent {
  position: absolute;
  top: 119.38px;
  left: 17.29px;
  width: 359.5px;
  height: 112.36px;
}
.rectangle-parent18 {
  text-decoration: none;
  position: absolute;
  height: 100%;
  width: 31.86%;
  top: 0;
  right: 34.07%;
  bottom: 0;
  left: 34.07%;
  border-radius: 16.28px;
  background-color: var(--color-white);
  box-shadow: 0 4.126314640045166px 4.13px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 16.28px;
  color: inherit;
}
.frame-parent2,
.indian-institute-of8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1207.13px;
  height: 370.32px;
}
.indian-institute-of8 {
  height: 31.91%;
  width: 78.53%;
  top: 68.08%;
  line-height: 19.33px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.indian-institute-of-technology-parent6 {
  position: absolute;
  top: 0;
  left: 2.03px;
  width: 301.14px;
  height: 47.82px;
}
.use-machine-learning8 {
  position: absolute;
  top: 53.92px;
  left: 3.05px;
  line-height: 20.35px;
  display: flex;
  align-items: center;
  width: 264.54px;
  height: 15.26px;
}
.frame-parent7 {
  position: absolute;
  top: 119.03px;
  left: 17.3px;
  width: 356.08px;
  height: 112.7px;
}
.use-machine-learning9 {
  position: absolute;
  top: 53.74px;
  left: 2.3px;
  line-height: 20.35px;
  display: flex;
  align-items: center;
  width: 264.54px;
  height: 15.26px;
}
.span54 {
  position: absolute;
  top: 18.1px;
  left: 26.02px;
}
.rectangle-parent21 {
  text-decoration: none;
  position: absolute;
  height: 100%;
  width: 31.86%;
  top: 0;
  right: 34.07%;
  bottom: 0;
  left: 34.07%;
  border-radius: 16.28px;
  background-color: var(--color-white);
  box-shadow: 0 4.126314640045166px 4.13px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: inherit;
}
.frame-parent5 {
  position: absolute;
  top: 397.3px;
  left: 0;
  width: 1207.13px;
  height: 370.32px;
}
.frame-parent1 {
  top: 0;
  width: 1207.13px;
  height: 767.63px;
}
.div382,
.frame-parent1,
.frame-parent9 {
  position: absolute;
  left: 0;
}
.div382 {
  top: calc(50% + 21.98px);
  width: 356.08px;
  height: 34.37px;
  font-size: 11.46px;
  color: var(--color-darkslateblue-100);
}
.frame-parent9 {
  top: 793.44px;
  width: 1207.13px;
  height: 767.63px;
}
.frame-container,
.frame-parent18,
.line-parent {
  position: absolute;
  top: 1588.28px;
  left: 0;
  width: 1207.13px;
  height: 370.32px;
}
.frame-container,
.line-parent {
  top: 0;
  height: 1958.61px;
}
.line-parent {
  top: 115.65px;
  left: 3.73px;
  height: 2125.48px;
}
.active-competition {
  position: relative;
  line-height: 21.31px;
}
.h24 {
  width: 251.73px;
  height: 21.45px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.see-all1 {
  text-decoration: none;
  position: relative;
  line-height: 21.31px;
  font-weight: 700;
  color: inherit;
  cursor: pointer;
}
.div431 {
  position: absolute;
  top: 0;
  left: 12.12px;
  border-radius: 4.44px;
  background-color: var(--color-gray-200);
  border-top: 0.5px solid var(--color-gainsboro-600);
  border-bottom: 1.8px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 1206.83px;
  height: 47.84px;
  display: flex;
  flex-direction: row;
  padding: 11.191666603088379px 17.76062774658203px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 861.76px;
  font-size: 17.76px;
}
.frame-group {
  position: absolute;
  top: 702.28px;
  left: 69.95px;
  width: 1210.86px;
  height: 2241.13px;
  color: var(--color-gray-400);
}
.home-competition9 {
  text-decoration: none;
  position: absolute;
  top: 24.53px;
  right: 515.75px;
  line-height: 26.11px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  width: 761.97px;
  height: 23.68px;
  opacity: 0.7;
}
.home-competition-challenge-wrapper,
.navigasi-login-child11 {
  position: absolute;
  top: 83.94px;
  left: 0;
  background-color: var(--color-aliceblue-300);
  width: 1343px;
  height: 72.75px;
}
.navigasi-login-child11 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-darkslateblue-200);
}
.mask-group-icon13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 44.72px;
  height: 44.72px;
  object-fit: cover;
}
.frontend-developer12,
.hi-ogunfuye-segun12 {
  position: absolute;
  left: 0;
  line-height: 150%;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.hi-ogunfuye-segun12 {
  top: 0;
  font-size: 11.85px;
  font-weight: 500;
}
.frontend-developer12 {
  top: 17.78px;
  font-size: 10.16px;
  opacity: 0.7;
}
.hi-ogunfuye-segun-parent9 {
  text-decoration: none;
  position: absolute;
  top: 4.49px;
  left: 44.78px;
  width: 116px;
  height: 32.78px;
  cursor: pointer;
}
.vector-icon49 {
  position: relative;
  width: 11.85px;
  height: 6.77px;
}
.icon12 {
  position: absolute;
  top: 10.09px;
  left: 175.16px;
  width: 20.58px;
  height: 19.67px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 7.29371452331543px 5.209795951843262px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.mask-group-parent9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: -2.8px;
  left: -9.33px;
  width: 195.74px;
  height: 44.72px;
}
.navigasi-login-inner23 {
  position: absolute;
  top: 22.38px;
  left: 1061.34px;
  width: 196.67px;
  height: 35.56px;
  cursor: pointer;
}
.group-icon15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24.33px;
  height: 26.73px;
}
.collegal32,
.logo22 {
  position: absolute;
  top: 0;
  left: 28.64px;
}
.logo22 {
  text-decoration: none;
  top: 26.78px;
  left: 68.08px;
  width: 114.64px;
  height: 26.73px;
  cursor: pointer;
  color: inherit;
}
.competition14 {
  position: relative;
  line-height: 16.09px;
  font-weight: 500;
}
.products12 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: inherit;
}
.blog12 {
  position: relative;
  line-height: 16.09px;
  font-weight: 500;
  cursor: pointer;
}
.pricing12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nav-menu12,
.search12 {
  position: absolute;
  display: flex;
}
.nav-menu12 {
  top: 31.71px;
  left: 235.02px;
  width: 271.4px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22.38px;
  font-size: 12.59px;
  font-family: var(--font-dm-sans);
}
.search12 {
  border: 0;
  font-family: var(--font-arial);
  font-size: 13.06px;
  background-color: transparent;
  top: 0;
  left: 20.52px;
  color: var(--color-white);
  text-align: left;
  align-items: center;
  width: 356.27px;
  height: 26.11px;
}
.icon-search-icon12 {
  position: absolute;
  height: 57.14%;
  width: 3.96%;
  top: 21.43%;
  right: 96.04%;
  bottom: 21.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-wrapper11,
.search-parent10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 376.79px;
  height: 26.11px;
}
.group-wrapper11 {
  top: 5.59px;
  left: 33.57px;
}
.navigasi-login-inner24 {
  position: absolute;
  top: 23.32px;
  left: 544.66px;
  border-radius: 14.66px;
  border: 0.9px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 425.28px;
  height: 37.31px;
  overflow: hidden;
}
.hamburger-iconsvg25 {
  position: relative;
  width: 17.72px;
  height: 16.79px;
  overflow: hidden;
  flex-shrink: 0;
}
.hamburger-iconsvg24 {
  position: absolute;
  top: calc(50% - 10.26px);
  left: 1284.24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigasi-login12 {
  position: absolute;
  height: 53.57%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 46.43%;
  left: 0;
  font-size: 21.29px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-parent22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1343px;
  height: 156.68px;
  font-size: 14.92px;
  color: var(--dark-blue);
  font-family: var(--font-poppins);
}
.keyboard-arrow-down {
  position: absolute;
  top: calc(50% - 11.19px);
  left: calc(50% + 34.01px);
  font-size: 21.94px;
  line-height: 21.94px;
  font-family: var(--font-material-icons);
}
.competitions-parent {
  position: relative;
  width: 112.78px;
  height: 22.38px;
}
.div433,
.sort-by {
  position: absolute;
  left: 0;
}
.div433 {
  top: 0;
  border-radius: 24.14px;
  background-color: var(--color-royalblue-300);
  border: 1.1px solid rgba(0, 115, 230, 0.6);
  display: flex;
  flex-direction: row;
  padding: 7.680555820465088px 16.45833396911621px;
  align-items: center;
  justify-content: flex-start;
}
.sort-by {
  top: 3.26px;
  font-weight: 600;
}
.keyboard-arrow-down1 {
  position: absolute;
  top: calc(50% - 11.19px);
  left: calc(50% + 15.09px);
  font-size: 21.94px;
  line-height: 21.94px;
  font-family: var(--font-material-icons);
}
.sort-by-parent {
  position: relative;
  width: 74.94px;
  height: 22.38px;
}
.div434,
.div435 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.div435 {
  border-radius: 24.14px;
  background-color: rgba(242, 248, 254, 0.8);
  padding: 7.680555820465088px 15.361111640930176px;
  align-items: center;
}
.div434 {
  position: absolute;
  top: calc(50% - 18.87px);
  left: 157.11px;
  border-left: 1.1px solid var(--color-gainsboro-200);
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    12.069445610046387px;
  align-items: flex-start;
  color: var(--color-royalblue-300);
}
.all2,
.filter-list,
.filters1 {
  position: absolute;
  color: var(--color-darkslateblue-100);
  text-align: left;
}
.filter-list {
  top: calc(50% - 11.19px);
  left: calc(50% - 43.62px);
  font-size: 21.94px;
  line-height: 21.94px;
  font-family: var(--font-material-icons);
}
.all2,
.filters1 {
  font-size: 13.17px;
  font-weight: 600;
  font-family: var(--font-inter);
}
.all2 {
  top: calc(50% - 8.45px);
  left: calc(50% - 16.19px);
}
.filters1 {
  top: 2.74px;
  left: 47.13px;
}
.filter-list-parent {
  position: absolute;
  top: 7.68px;
  left: 16.46px;
  width: 87.23px;
  height: 22.38px;
}
.div437 {
  position: relative;
  border-radius: 24.14px;
  border: 1.1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 119.8px;
  height: 37.31px;
}
.div436 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    12.069445610046387px;
  background-color: transparent;
  border-left: 1.1px solid var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.keyboard-arrow-down2 {
  position: absolute;
  top: calc(50% - 11.19px);
  left: calc(50% + 12.37px);
  font-size: 21.94px;
  line-height: 21.94px;
  font-family: var(--font-material-icons);
}
.status-parent {
  position: relative;
  width: 69.51px;
  height: 22.38px;
}
.div438 {
  border-radius: 24.14px;
  border: 1.1px solid var(--color-darkslateblue-100);
  display: flex;
  flex-direction: row;
  padding: 7.680555820465088px 16.45833396911621px;
  align-items: center;
  justify-content: flex-start;
}
.keyboard-arrow-down3 {
  position: absolute;
  top: calc(50% - 11.19px);
  left: calc(50% + 20.25px);
  font-size: 21.94px;
  line-height: 21.94px;
  font-family: var(--font-material-icons);
}
.eligibility-parent {
  position: relative;
  width: 85.26px;
  height: 22.38px;
}
.keyboard-arrow-down4 {
  position: absolute;
  top: calc(50% - 11.19px);
  left: calc(50% + 20.91px);
  font-size: 21.94px;
  line-height: 21.94px;
  font-family: var(--font-material-icons);
}
.category-parent {
  position: relative;
  width: 86.58px;
  height: 22.38px;
}
.app-competition-panel-filter {
  position: absolute;
  top: calc(50% - 18.87px);
  left: 274.01px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    10.972223281860352px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.97px;
  color: var(--color-darkslateblue-100);
}
.div432 {
  position: absolute;
  top: calc(50% - 18.65px);
  left: 215.44px;
  width: 788.9px;
  height: 37.31px;
}
.div-frame {
  position: absolute;
  top: 91.4px;
  left: -5.6px;
  background-color: var(--color-whitesmoke-600);
  width: 1347.66px;
  height: 61.55px;
  overflow: hidden;
}
.search13 {
  border: 0;
  font-family: var(--font-poppins);
  font-size: 18.65px;
  background-color: transparent;
  position: absolute;
  top: 13.99px;
  left: calc(50% - 314.3px);
  letter-spacing: 0.01em;
  line-height: 150%;
  color: var(--dark-blue);
  text-align: left;
  display: inline-block;
  width: 600.62px;
  height: 30.78px;
  opacity: 0.8;
}
.search-wrapper {
  position: absolute;
  height: 28.83%;
  width: 51.84%;
  top: 0;
  right: 26.34%;
  bottom: 71.17%;
  left: 21.82%;
  border-radius: 7.46px;
  border: 1.4px solid rgba(40, 41, 56, 0.6);
  box-sizing: border-box;
}
.data-analytic {
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 754.22px;
  line-height: 29.84px;
  font-weight: 500;
  color: var(--royal-blue);
}
.data-analyst,
.marketing,
.network,
.programming,
.soft-skill,
.ui-design {
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 638.2px;
  line-height: 29.84px;
  font-weight: 500;
  color: inherit;
  opacity: 0.7;
}
.data-analyst,
.marketing,
.network,
.programming,
.soft-skill {
  right: 483.55px;
}
.data-analyst,
.marketing,
.network,
.soft-skill {
  right: 359.8px;
}
.data-analyst,
.network,
.soft-skill {
  right: 252.69px;
}
.data-analyst,
.network {
  right: 145.44px;
}
.data-analyst {
  right: 0.12px;
}
.work-categories {
  position: absolute;
  top: 177.2px;
  left: 233.16px;
  width: 869.22px;
  height: 29.84px;
  font-size: 16.79px;
  color: var(--dark-blue);
  font-family: var(--font-poppins);
}
.frame-parent23 {
  position: absolute;
  top: 451.4px;
  left: 5.6px;
  width: 1342.07px;
  height: 207.05px;
  font-size: 13.17px;
}
.frame-child15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1343px;
  height: 254.61px;
}
.what-challenge-will {
  position: absolute;
  top: 1.86px;
  left: 98.89px;
  letter-spacing: 1.68px;
  line-height: 37.31px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 697.73px;
  height: 33.58px;
}
.challenge-center1 {
  font-weight: 600;
}
.challenge-center {
  color: #fcce0d;
}
.visit-the-challenge-container3 {
  line-break: anywhere;
  width: 100%;
}
.visit-the-challenge-container2 {
  position: absolute;
  top: 4.66px;
  left: 247.34px;
  line-height: 26.11px;
  display: flex;
  align-items: center;
  width: 400.84px;
  height: 16.79px;
}
.divmx-auto1,
.ptext-lg {
  position: absolute;
  width: 895.33px;
}
.ptext-lg {
  top: 52.23px;
  left: 0;
  height: 26.11px;
  font-size: 16.79px;
}
.divmx-auto1 {
  top: 79.27px;
  left: calc(50% - 316.16px);
  height: 78.34px;
}
.landing-headerpng-icon {
  position: absolute;
  top: calc(50% - 121.24px);
  left: calc(50% - 579.17px);
  width: 326.42px;
  height: 242.49px;
  object-fit: cover;
}
.divmx-auto-parent,
.vector-parent {
  position: absolute;
  top: 0;
  left: 52.23px;
  width: 1158.34px;
  height: 242.49px;
}
.vector-parent {
  top: 156.68px;
  left: 0;
  width: 1343px;
  height: 254.61px;
  text-align: center;
  font-size: 33.58px;
  font-family: var(--font-epilogue);
}
.frame-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1347.66px;
  height: 2943.41px;
}
.terms-privacy10 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 16.4px;
}
.tems-and-condition10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 49.19px;
}
.icon-11-10 {
  position: relative;
  width: 7.38px;
  height: 13.68px;
}
.linkedin-icon10,
.vector-icon50 {
  position: relative;
  width: 13.94px;
  height: 11.32px;
}
.linkedin-icon10 {
  width: 12.3px;
  height: 12.3px;
}
.btm10,
.social-icon10 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-icon10 {
  justify-content: flex-start;
  gap: 26.23px;
}
.btm10 {
  position: absolute;
  top: 427.15px;
  left: 149.22px;
  width: 1045.49px;
  justify-content: space-between;
  font-size: 13.12px;
}
.logo-icon10 {
  width: 33.85px;
  height: 26.53px;
  overflow: hidden;
  flex-shrink: 0;
}
.collegal34,
.logo-icon10 {
  position: relative;
}
.logo23 {
  text-decoration: none;
  position: absolute;
  top: 95.13px;
  left: 149.22px;
  width: 145.59px;
  height: 30.78px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    1.0602876541164485e-13px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 8.39px;
  font-size: 25.62px;
  color: inherit;
}
.sign-in10 {
  color: var(--color-khaki-100);
}
.have-and-account-container10 {
  text-decoration: none;
  position: absolute;
  top: 128.7px;
  left: 149.22px;
  font-size: 15.96px;
  font-weight: 600;
  cursor: pointer;
  color: inherit;
}
.product30 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18.65px;
}
.blog-news20,
.compitition20,
.public-notebook20,
.publications20 {
  text-decoration: none;
  position: absolute;
  top: 43.83px;
  left: 0;
  color: inherit;
  cursor: pointer;
}
.blog-news20,
.public-notebook20,
.publications20 {
  top: 72.75px;
}
.blog-news20,
.public-notebook20 {
  top: 101.66px;
}
.blog-news20 {
  top: 130.57px;
}
.legal-notice20 {
  position: absolute;
  top: 159.48px;
  left: 0;
}
.about-us-row30,
.about-us-row31 {
  position: absolute;
  top: 95.13px;
  left: 704.14px;
  width: 125.91px;
  height: 178.13px;
  font-family: var(--font-montserrat);
}
.about-us-row31 {
  left: 906.53px;
}
.discussion11 {
  text-decoration: none;
  position: absolute;
  top: 159.48px;
  left: 0;
  color: inherit;
  cursor: pointer;
}
.about-us-row32 {
  position: absolute;
  top: 95.13px;
  left: 1108.91px;
  width: 125.91px;
  height: 178.13px;
  font-family: var(--font-montserrat);
}
.fotter10,
.frame3 {
  position: absolute;
  left: 0;
  width: 1343px;
  overflow: hidden;
}
.fotter10 {
  top: 4974.7px;
  background-color: var(--color-darkslateblue-200);
  height: 508.29px;
  font-size: 14.92px;
}
.frame3 {
  top: 0;
  height: 5482.98px;
}
.div441,
.div442 {
  position: absolute;
  top: 1.5px;
  left: 0;
  font-weight: 500;
}
.div442 {
  top: 0;
  left: 35.79px;
  font-size: 14.58px;
  font-weight: 600;
}
.parent4 {
  position: absolute;
  top: 21.45px;
  left: 21.45px;
  width: 99.21px;
  height: 17.72px;
}
.angle-double-left-iconsvg5 {
  position: relative;
  width: 9.72px;
  height: 9.72px;
  overflow: hidden;
  flex-shrink: 0;
}
.a20,
.angle-double-left-iconsvg4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.angle-double-left-iconsvg4 {
  opacity: 0.3;
}
.a20 {
  cursor: pointer;
  border: 1px solid var(--color-gainsboro-300);
  padding: 11.660994529724121px 12.632742881774902px;
  background-color: transparent;
  border-radius: 4.86px;
}
.angle-left-iconsvg5 {
  position: relative;
  width: 6.24px;
  height: 9.7px;
  overflow: hidden;
  flex-shrink: 0;
}
.angle-left-iconsvg4 {
  padding: 0.006478330120444298px var(--padding-0) 0.0064783175475895405px;
  opacity: 0.3;
}
.a21,
.angle-left-iconsvg4,
.ul10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.a21 {
  cursor: pointer;
  border: 1px solid var(--color-gainsboro-300);
  padding: 11.660994529724121px 14.381893157958984px 11.660994529724121px
    14.362458229064941px;
  background-color: transparent;
  border-radius: 4.86px;
}
.ul10 {
  position: absolute;
  top: calc(50% - 13.74px);
  left: calc(50% - 149.63px);
  padding: var(--padding-0) 3.886997938156128px;
  gap: 7.77px;
}
.div443 {
  position: relative;
  font-size: var(--font-size-sm-6);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.awaves-effect6 {
  cursor: pointer;
  border: 1px solid var(--color-darkslateblue-100);
  padding: 8.259870529174805px 13.866866111755371px 8.259870529174805px
    14.31386947631836px;
  background-color: var(--color-darkslateblue-100);
  border-radius: 4.86px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div444 {
  position: relative;
  font-size: var(--font-size-sm-6);
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-100);
  text-align: left;
}
.awaves-effect7,
.awaves-effect8 {
  cursor: pointer;
  border: 1px solid var(--color-darkslateblue-100);
  background-color: transparent;
  border-radius: 4.86px;
}
.awaves-effect7 {
  padding: 8.259870529174805px 12.875680923461914px 8.259870529174805px
    13.361556053161621px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.awaves-effect8 {
  padding: 8.259870529174805px 13.089466094970703px 8.259870529174805px
    13.147770881652832px;
}
.angle-right-iconsvg4,
.awaves-effect8,
.ul11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ul11 {
  position: absolute;
  top: calc(50% - 13.34px);
  left: calc(50% - 64.49px);
  padding: var(--padding-0) 3.886997938156128px;
  gap: 7.77px;
}
.angle-right-iconsvg4 {
  padding: 0.006478330120444298px var(--padding-0) 0.0064783175475895405px;
}
.a22 {
  cursor: pointer;
  border: 1px solid var(--color-darkslateblue-100);
  padding: 11.660994529724121px 14.381893157958984px 11.660994529724121px
    14.362458229064941px;
  background-color: transparent;
  border-radius: 4.86px;
}
.a22,
.a23,
.ul12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.a23 {
  cursor: pointer;
  border: 1px solid var(--color-darkslateblue-100);
  padding: 11.660994529724121px 12.632742881774902px;
  background-color: transparent;
  border-radius: 4.86px;
}
.ul12 {
  position: absolute;
  top: calc(50% - 13.74px);
  left: calc(50% + 64.11px);
  padding: var(--padding-0) 3.886997938156128px;
  gap: 7.77px;
}
.divpagination-number2 {
  position: absolute;
  top: calc(50% - 20.04px);
  left: 344.14px;
  width: 299.25px;
  height: 39.14px;
}
.divpagination2 {
  position: absolute;
  top: 0;
  left: 106.32px;
  border-radius: 7.77px;
  background-color: var(--color-white);
  box-shadow: 0.971749484539032px 0.971749484539032px 11.66px
    rgba(24, 110, 223, 0.13);
  width: 986.73px;
  height: 62.46px;
}
.div451 {
  position: absolute;
  top: calc(50% - 11.31px);
  left: 39.68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12.58px;
}
.frame-parent26 {
  position: absolute;
  top: 78.11px;
  left: 0;
  width: 1207.13px;
  height: 767.63px;
}
.recently-completed1 {
  position: absolute;
  top: calc(50% - 10.73px);
  left: 0;
  line-height: 21.31px;
}
.h25,
.see-all2 {
  position: absolute;
}
.h25 {
  top: 11.54px;
  left: 17.76px;
  width: 240.26px;
  height: 21.45px;
  overflow: hidden;
}
.see-all2 {
  top: 12.41px;
  left: 1120.1px;
  line-height: 21.31px;
}
.div496,
.frame-parent25 {
  position: absolute;
  top: 0;
  left: 0;
}
.div496 {
  border-radius: 4.44px;
  background-color: var(--color-gray-200);
  border-top: 0.5px solid var(--color-gainsboro-600);
  border-bottom: 1.8px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 1206.83px;
  height: 47.84px;
  font-size: 17.76px;
}
.frame-parent25 {
  width: 1207.13px;
  height: 845.74px;
}
.divpagination3,
.frame-parent24,
.frame-parent35 {
  position: absolute;
  top: 891.37px;
  left: 0;
  width: 1207.13px;
  height: 767.63px;
}
.divpagination3,
.frame-parent24 {
  top: 0;
  height: 1659px;
}
.divpagination3 {
  top: 1718.85px;
  left: 106.32px;
  border-radius: 7.77px;
  background-color: var(--color-white);
  box-shadow: 0.971749484539032px 0.971749484539032px 11.66px
    rgba(24, 110, 223, 0.13);
  width: 986.73px;
  height: 62.46px;
  font-size: 12.63px;
  color: var(--color-darkslateblue-100);
}
.frame4,
.frame5 {
  position: absolute;
  top: 172.54px;
  left: 0;
  width: 1207.13px;
  height: 1781.31px;
  overflow: hidden;
  font-size: 12.21px;
  color: var(--color-gray-400);
}
.frame4 {
  top: 2843.62px;
  left: 71.81px;
  height: 1953.85px;
  font-size: 12.63px;
  color: var(--color-darkslateblue-100);
}
.challenges-listing {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 5482.98px;
  overflow: hidden;
  text-align: left;
  font-size: 12.21px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
