.group-child21 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-aliceblue-300);
  width: 1343px;
  height: 72.75px;
}
.home-competition7 {
  position: absolute;
  top: 24.53px;
  right: 515.75px;
  line-height: 26.11px;
  font-weight: 500;
  display: inline-block;
  width: 761.97px;
  height: 23.68px;
  opacity: 0.7;
}
.navigasi-login-child7,
.rectangle-parent14 {
  position: absolute;
  top: 83.94px;
  left: 0;
  width: 1343px;
  height: 72.75px;
}
.navigasi-login-child7 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-darkslateblue-200);
}
.mask-group-icon8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 44.72px;
  height: 44.72px;
  object-fit: cover;
}
.frontend-developer8,
.hi-ogunfuye-segun8 {
  position: absolute;
  left: 0;
  line-height: 150%;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.hi-ogunfuye-segun8 {
  top: 0;
  font-size: 11.85px;
  font-weight: 500;
}
.frontend-developer8 {
  top: 17.78px;
  font-size: 10.16px;
  opacity: 0.7;
}
.hi-ogunfuye-segun-parent5 {
  text-decoration: none;
  position: absolute;
  top: 4.49px;
  left: 44.78px;
  width: 116px;
  height: 32.78px;
  cursor: pointer;
}
.vector-icon25 {
  position: relative;
  width: 11.85px;
  height: 6.77px;
}
.icon8 {
  position: absolute;
  top: 10.09px;
  left: 175.16px;
  width: 20.58px;
  height: 19.67px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 7.29371452331543px 5.209795951843262px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.mask-group-parent5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: -2.8px;
  left: -9.33px;
  width: 195.74px;
  height: 44.72px;
}
.navigasi-login-inner15 {
  position: absolute;
  top: 22.38px;
  left: 1061.34px;
  width: 196.67px;
  height: 35.56px;
  cursor: pointer;
}
.group-icon11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24.33px;
  height: 26.73px;
}
.collegal24,
.logo16 {
  position: absolute;
  top: 0;
  left: 28.64px;
}
.logo16 {
  text-decoration: none;
  top: 26.78px;
  left: 68.08px;
  width: 114.64px;
  height: 26.73px;
  cursor: pointer;
  color: inherit;
}
.competition10 {
  position: relative;
  line-height: 16.09px;
  font-weight: 500;
}
.products8 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: inherit;
}
.blog8 {
  position: relative;
  line-height: 16.09px;
  font-weight: 500;
  cursor: pointer;
}
.pricing8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nav-menu8,
.search8 {
  position: absolute;
  display: flex;
}
.nav-menu8 {
  top: 31.71px;
  left: 235.02px;
  width: 271.4px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22.38px;
  font-size: 12.59px;
  font-family: var(--font-dm-sans);
}
.search8 {
  border: 0;
  font-family: var(--font-arial);
  font-size: 13.06px;
  background-color: transparent;
  top: 0;
  left: 20.52px;
  color: var(--color-white);
  text-align: left;
  align-items: center;
  width: 356.27px;
  height: 26.11px;
}
.icon-search-icon8 {
  position: absolute;
  height: 57.14%;
  width: 3.96%;
  top: 21.43%;
  right: 96.04%;
  bottom: 21.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-wrapper7,
.search-parent6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 376.79px;
  height: 26.11px;
}
.group-wrapper7 {
  top: 5.59px;
  left: 33.57px;
}
.navigasi-login-inner16 {
  position: absolute;
  top: 23.32px;
  left: 544.66px;
  border-radius: 14.66px;
  border: 0.9px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 425.28px;
  height: 37.31px;
  overflow: hidden;
}
.hamburger-iconsvg17 {
  position: relative;
  width: 17.72px;
  height: 16.79px;
  overflow: hidden;
  flex-shrink: 0;
}
.hamburger-iconsvg16 {
  position: absolute;
  top: calc(50% - 10.26px);
  left: 1284.24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent15,
.navigasi-login8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1343px;
}
.navigasi-login8 {
  height: 83.94px;
  font-size: 21.29px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.group-parent15 {
  height: 156.68px;
  color: var(--dark-blue);
  font-family: var(--font-poppins);
}
.basic-information,
.pronouns {
  position: absolute;
  top: 17.72px;
  left: 13.99px;
  line-height: 17.72px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 124.27px;
  height: 18.65px;
}
.pronouns {
  top: 0;
  left: 0;
  line-height: 13.99px;
  width: 50.93px;
  height: 13.99px;
}
.hehimhis {
  position: relative;
  font-size: 11.19px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-100);
  text-align: center;
}
.labelng-tns-c163-3,
.labelng-tns-c163-31,
.labelng-tns-c163-32 {
  cursor: pointer;
  border: 0.9px solid var(--color-gainsboro-200);
  padding: 10.259027481079102px 14.847609519958496px 10.259027481079102px
    14.922222137451172px;
  background-color: transparent;
  position: absolute;
  top: 4.66px;
  left: 9.33px;
  border-radius: 44.77px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.labelng-tns-c163-31,
.labelng-tns-c163-32 {
  padding: 10.259027481079102px 14.894244194030762px 10.259027481079102px
    14.922222137451172px;
  left: 117.44px;
}
.labelng-tns-c163-32 {
  padding: 10.259027481079102px 14.735696792602539px 10.259027481079102px
    14.922222137451172px;
  left: 209.74px;
}
.check2,
.do-not-want {
  position: relative;
  font-size: 11.19px;
  color: var(--color-white);
  text-align: center;
}
.check2 {
  line-height: 11.19px;
  font-family: var(--font-material-icons);
}
.do-not-want {
  font-weight: 500;
  font-family: var(--font-inter);
}
.labelng-tns-c163-33 {
  cursor: pointer;
  border: 0.9px solid var(--color-royalblue-300);
  padding: 10.259027481079102px 14.017560958862305px 10.259027481079102px
    8.393750190734863px;
  background-color: var(--color-royalblue-300);
  position: absolute;
  top: 4.66px;
  left: 319.61px;
  border-radius: 44.77px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4.66px;
}
.divitems,
.divradio-box {
  position: absolute;
  top: 18.65px;
  left: -9.33px;
  width: 714.4px;
  height: 43.83px;
}
.divradio-box {
  top: 0;
  left: 0;
  width: 695.75px;
  height: 62.49px;
}
.inputorganisation-organisatio {
  border: 0.9px solid var(--color-gainsboro-1000);
  background-color: var(--color-white);
  position: absolute;
  width: calc(100% - 387.98px);
  top: 140.83px;
  right: 12.12px;
  left: 375.85px;
  border-radius: 7.46px;
  box-sizing: border-box;
  height: 44.77px;
}
.div156,
.first-name {
  position: absolute;
  top: 3.73px;
  left: 0;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 61.12px;
  height: 13.99px;
}
.div156 {
  top: 0.93px;
  left: 60.93px;
  font-size: 9.33px;
  color: var(--color-red-100);
  width: 5.05px;
  height: 11.19px;
}
.labelng-tns-c163-34 {
  position: absolute;
  top: 13.99px;
  left: 13.99px;
  width: 333.88px;
  height: 17.72px;
}
.div157,
.last-name,
.user-name {
  position: absolute;
  top: 13.99px;
  left: 375.85px;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 57.2px;
  height: 13.99px;
}
.div157,
.user-name {
  top: 3.73px;
  left: 0;
  width: 62.44px;
}
.div157 {
  top: 0.93px;
  left: 62.25px;
  font-size: 9.33px;
  color: var(--color-red-100);
  width: 5.05px;
  height: 11.19px;
}
.div158,
.email,
.labelng-tns-c163-35 {
  position: absolute;
  top: 113.78px;
  left: 13.99px;
  width: 333.88px;
  height: 17.72px;
}
.div158,
.email {
  top: 3.73px;
  left: 0;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 31.74px;
  height: 13.99px;
}
.div158 {
  top: 0.93px;
  left: 31.55px;
  font-size: 9.33px;
  color: var(--color-red-100);
  width: 5.05px;
  height: 11.19px;
}
.labelng-tns-c163-36 {
  position: absolute;
  top: 113.78px;
  left: 375.85px;
  width: 333.88px;
  height: 17.72px;
}
.verified,
.verified-user {
  position: absolute;
  top: 5.6px;
  left: 0;
  line-height: 16.79px;
  display: flex;
  align-items: center;
  width: 16.97px;
  height: 16.79px;
}
.verified {
  top: 6.53px;
  left: 21.45px;
  font-size: 11.19px;
  line-height: 27.98px;
  font-family: var(--font-inter);
  width: 40.68px;
  height: 13.99px;
}
.divverify-icon {
  position: absolute;
  height: calc(100% - 545.59px);
  top: 151.09px;
  right: 23.32px;
  bottom: 394.51px;
  width: 93.26px;
  font-size: 16.79px;
  color: var(--color-mediumseagreen-100);
  font-family: var(--font-material-icons);
}
.please-consider-selecting,
.what-best-describes {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  height: 13.99px;
}
.what-best-describes {
  left: 0;
  line-height: 13.99px;
  font-weight: 500;
  width: 169.1px;
}
.please-consider-selecting {
  left: 448.67px;
  width: 234.2px;
}
.divjustify-space-between {
  position: absolute;
  top: 0;
  left: 0;
  width: 695.75px;
  height: 23.32px;
}
.labelinfo,
.labelinfo1,
.labelinfo2 {
  cursor: pointer;
  border: 0.9px solid var(--color-gainsboro-200);
  padding: 10.259027481079102px 14.399946212768555px 10.259027481079102px
    14.922222137451172px;
  background-color: transparent;
  position: absolute;
  top: 4.66px;
  left: 9.33px;
  border-radius: 44.77px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.labelinfo:active {
  background-color: #2a2fb0;
  align-items: center;
  justify-content: center;
}
.labelinfo1,
.labelinfo2 {
  padding: 10.259027481079102px 17.720138549804688px 10.259027481079102px
    14.922222137451172px;
  left: 130.98px;
}
.labelinfo2 {
  padding: 10.259027481079102px 14.968856811523438px 10.259027481079102px
    13.989583015441895px;
  left: 214.92px;
}
.divradio-box1 {
  position: absolute;
  width: calc(100% - 27.98px);
  top: 213.57px;
  right: 13.99px;
  left: 13.99px;
  height: 57.82px;
  color: var(--color-coral-200);
}
.divinline {
  border: 0;
  font-family: var(--font-inter);
  font-size: 13.99px;
  background-color: transparent;
  position: absolute;
  top: 12.12px;
  left: 0;
  width: 333.88px;
  height: 44.77px;
}
.div159,
.divposition-relative,
.mobile {
  position: absolute;
  top: 305.91px;
  left: 13.99px;
  width: 348.81px;
  height: 69.02px;
}
.div159,
.mobile {
  top: 3.73px;
  left: 0;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 39.1px;
  height: 13.99px;
}
.div159 {
  top: 0.93px;
  left: 38.91px;
  font-size: 9.33px;
  color: var(--color-red-100);
  width: 5.05px;
  height: 11.19px;
}
.divinput-field,
.labelng-tns-c163-37 {
  position: absolute;
  top: 0;
  left: 0;
  width: 333.88px;
  height: 17.72px;
}
.divinput-field {
  top: 296.58px;
  left: 28.91px;
  width: 48.5px;
}
.div160,
.organisationcollege {
  position: absolute;
  top: 3.73px;
  left: 0;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 116.04px;
  height: 13.99px;
}
.div160 {
  top: 0.93px;
  left: 115.85px;
  font-size: 9.33px;
  color: var(--color-red-100);
  width: 5.05px;
  height: 11.19px;
}
.labelng-tns-c163-38 {
  position: absolute;
  top: 0;
  left: 0;
  width: 695.75px;
  height: 17.72px;
}
.inputorganisation-organisatio1 {
  border: 0.9px solid var(--color-gainsboro-1000);
  background-color: var(--color-white);
  position: absolute;
  width: 100%;
  top: 27.05px;
  right: 0;
  left: 0;
  border-radius: 7.46px;
  box-sizing: border-box;
  height: 44.77px;
}
.divorg-sect {
  position: absolute;
  top: 399.17px;
  left: 13.99px;
  width: 695.75px;
  height: 71.81px;
}
.country,
.please-consider-selecting1 {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  height: 13.99px;
}
.country {
  left: 0;
  line-height: 13.99px;
  font-weight: 500;
  width: 43.5px;
}
.please-consider-selecting1 {
  left: 491.58px;
  width: 191.3px;
}
.inputng-untouched {
  border: 0.9px solid var(--color-gainsboro-1000);
  background-color: var(--color-white);
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 7.46px;
  box-sizing: border-box;
  height: 44.77px;
}
.divsuggestions-history {
  position: absolute;
  height: calc(100% - 36.37px);
  width: 100%;
  top: 44.77px;
  right: 0;
  bottom: -8.39px;
  left: 0;
  background-color: var(--color-gray-1100);
  box-shadow: 0 1.8652777671813965px 4.66px rgba(0, 0, 0, 0.25);
}
.divautocomplete-container,
.divcountry-input {
  position: absolute;
  top: 23.32px;
  left: 0;
  width: 695.75px;
  height: 37.31px;
}
.divcountry-input {
  top: 498.96px;
  left: 13.99px;
  height: 60.62px;
  color: var(--color-coral-200);
}
.inputorganisation-organisatio2,
.inputorganisation-organisatio3,
.inputorganisation-organisatio4 {
  border: 0.9px solid var(--color-gainsboro-1000);
  background-color: var(--color-white);
  position: absolute;
  width: calc(100% - 387.98px);
  top: 40.1px;
  right: 377.72px;
  left: 10.26px;
  border-radius: 7.46px;
  box-sizing: border-box;
  height: 44.77px;
}
.inputorganisation-organisatio3,
.inputorganisation-organisatio4 {
  top: 140.83px;
}
.inputorganisation-organisatio4 {
  top: 40.1px;
  right: 12.12px;
  left: 375.85px;
}
.divm-pdng {
  position: absolute;
  top: 76.48px;
  left: -13.99px;
  width: 723.73px;
  height: 573.57px;
}
.gender {
  top: 3.73px;
  left: 0;
  line-height: 13.99px;
  font-weight: 500;
  align-items: center;
  width: 42.68px;
  height: 13.99px;
}
.div161,
.gender,
.labelng-tns-c163-39 {
  position: absolute;
  display: flex;
}
.div161 {
  top: 0.93px;
  left: 42.49px;
  font-size: 9.33px;
  line-height: 13.99px;
  font-weight: 500;
  color: var(--color-red-100);
  align-items: center;
  width: 5.05px;
  height: 11.19px;
}
.labelng-tns-c163-39 {
  cursor: pointer;
  border: 0.9px solid var(--color-gainsboro-200);
  padding: 10.259027481079102px 14.996834754943848px 10.259027481079102px
    13.989583015441895px;
  background-color: transparent;
  top: 27.05px;
  left: 0;
  border-radius: 44.77px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.check3,
.male {
  position: absolute;
  font-size: 11.19px;
  color: var(--color-white);
  text-align: center;
}
.check3 {
  top: 11.66px;
  left: 12.12px;
  line-height: 11.19px;
  font-family: var(--font-material-icons);
}
.male {
  top: 10.26px;
  left: 27.2px;
  font-weight: 500;
  font-family: var(--font-inter);
}
.check-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-royalblue-300);
  position: absolute;
  top: 27.05px;
  left: 86.74px;
  border-radius: 44.77px;
  width: 65.28px;
  height: 34.51px;
  overflow: hidden;
}
.labelng-tns-c163-310,
.labelng-tns-c163-311,
.labelng-tns-c163-312,
.labelng-tns-c163-313,
.labelng-tns-c163-314 {
  cursor: pointer;
  border: 0.9px solid var(--color-gainsboro-200);
  padding: 10.259027481079102px 14.894244194030762px 10.259027481079102px
    14.922222137451172px;
  background-color: transparent;
  position: absolute;
  top: 27.05px;
  left: 170.75px;
  border-radius: 44.77px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.labelng-tns-c163-311,
.labelng-tns-c163-312,
.labelng-tns-c163-313,
.labelng-tns-c163-314 {
  padding: 10.259027481079102px 14.371968269348145px 10.259027481079102px
    14.922222137451172px;
  left: 287.3px;
}
.labelng-tns-c163-312,
.labelng-tns-c163-313,
.labelng-tns-c163-314 {
  padding: 10.259027481079102px 14.950200080871582px 10.259027481079102px
    13.989583015441895px;
  left: 379.07px;
}
.labelng-tns-c163-313,
.labelng-tns-c163-314 {
  padding: 10.259027481079102px 14.707712173461914px 10.259027481079102px
    14.922222137451172px;
  left: 488.22px;
}
.labelng-tns-c163-314 {
  padding: 10.259027481079102px 14.194765090942383px 10.259027481079102px
    14.922222137451172px;
  top: 70.88px;
  left: 0;
}
.divradio-box2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 695.75px;
  height: 110.05px;
}
.user-type {
  top: 3.73px;
  left: 0;
  line-height: 13.99px;
  font-weight: 500;
  width: 54.7px;
  height: 13.99px;
}
.div162,
.labelng-tns-c163-315,
.user-type {
  position: absolute;
  display: flex;
  align-items: center;
}
.div162 {
  top: 0.93px;
  left: 54.51px;
  font-size: 9.33px;
  line-height: 13.99px;
  font-weight: 500;
  color: var(--color-red-100);
  width: 5.05px;
  height: 11.19px;
}
.labelng-tns-c163-315 {
  cursor: pointer;
  border: 0.9px solid var(--color-royalblue-300);
  padding: 10.259027481079102px 14.194765090942383px 10.259027481079102px
    8.393750190734863px;
  background-color: var(--color-royalblue-300);
  top: 4.66px;
  left: 9.33px;
  border-radius: 44.77px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 4.66px;
}
.labelng-tns-c163-316,
.labelng-tns-c163-317,
.labelng-tns-c163-318,
.labelng-tns-c163-319,
.labelng-tns-c163-320 {
  cursor: pointer;
  border: 0.9px solid var(--color-gainsboro-200);
  padding: 10.259027481079102px 14.819631576538086px 10.259027481079102px
    14.922222137451172px;
  background-color: transparent;
  position: absolute;
  top: 4.66px;
  left: 153.16px;
  border-radius: 44.77px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.labelng-tns-c163-317,
.labelng-tns-c163-318,
.labelng-tns-c163-319,
.labelng-tns-c163-320 {
  padding: 10.259027481079102px 14.511858940124512px 10.259027481079102px
    14.922222137451172px;
  left: 283.62px;
}
.labelng-tns-c163-318,
.labelng-tns-c163-319,
.labelng-tns-c163-320 {
  padding: 10.259027481079102px 15.56574535369873px 10.259027481079102px
    13.989583015441895px;
  left: 397.93px;
}
.labelng-tns-c163-319,
.labelng-tns-c163-320 {
  padding: 10.259027481079102px 14.278698921203613px 10.259027481079102px
    14.922222137451172px;
  left: 487.17px;
}
.labelng-tns-c163-320 {
  padding: 10.259027481079102px 15.052790641784668px 10.259027481079102px
    13.989583015441895px;
  left: 584.46px;
}
.divitems2 {
  position: absolute;
  top: 22.38px;
  left: -9.33px;
  width: 714.4px;
  height: 43.83px;
}
.divradio-box3,
.domain {
  position: absolute;
  top: 133.37px;
  left: 0;
  width: 695.75px;
  height: 66.22px;
}
.domain {
  top: 0;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 40.74px;
  height: 13.99px;
}
.labelng-tns-c163-321,
.labelng-tns-c163-322 {
  border: 0.9px solid var(--color-gainsboro-200);
  background-color: transparent;
  align-items: flex-start;
}
.labelng-tns-c163-321 {
  cursor: pointer;
  padding: 10.259027481079102px 15.2393159866333px 10.259027481079102px
    13.989583015441895px;
  position: absolute;
  top: 4.66px;
  left: 9.33px;
  border-radius: 44.77px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.labelng-tns-c163-322 {
  padding: 10.259027481079102px 14.204092979431152px 10.259027481079102px
    14.922222137451172px;
  left: 128.09px;
}
.labelng-tns-c163-322,
.labelng-tns-c163-323,
.labelng-tns-c163-324 {
  cursor: pointer;
  position: absolute;
  top: 4.66px;
  border-radius: 44.77px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.labelng-tns-c163-323 {
  border: 0.9px solid var(--color-gainsboro-200);
  padding: 10.259027481079102px 14.875587463378906px 10.259027481079102px
    14.922222137451172px;
  background-color: transparent;
  left: 240.23px;
  align-items: flex-start;
}
.labelng-tns-c163-324 {
  border: 0.9px solid var(--color-royalblue-300);
  padding: 10.259027481079102px 15.052790641784668px 10.259027481079102px
    8.393750190734863px;
  background-color: var(--color-royalblue-300);
  left: 367.02px;
  align-items: center;
  gap: 3.73px;
}
.course-programme,
.divradio-box4 {
  position: absolute;
  top: 222.9px;
  left: 0;
  width: 695.75px;
  height: 130.57px;
}
.course-programme {
  top: 0;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 103.55px;
  height: 13.99px;
}
.labelng-tns-c163-325,
.labelng-tns-c163-326,
.labelng-tns-c163-327 {
  cursor: pointer;
  position: absolute;
  top: 4.66px;
  border-radius: 44.77px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.labelng-tns-c163-325 {
  border: 0.9px solid var(--color-royalblue-300);
  padding: 10.259027481079102px 15.257972717285156px 10.259027481079102px
    8.393750190734863px;
  background-color: var(--color-royalblue-300);
  left: 9.33px;
  align-items: center;
  gap: 3.73px;
}
.labelng-tns-c163-326,
.labelng-tns-c163-327 {
  border: 0.9px solid var(--color-gainsboro-200);
  padding: 10.259027481079102px 15.416519165039062px 10.259027481079102px
    13.989583015441895px;
  background-color: transparent;
  left: 115.05px;
  align-items: flex-start;
}
.labelng-tns-c163-327 {
  padding: 10.259027481079102px 15.463154792785645px 10.259027481079102px
    13.989583015441895px;
  left: 215.34px;
}
.divradio-box5 {
  position: absolute;
  top: 381.45px;
  left: 0;
  width: 695.75px;
  height: 62.49px;
}
.please-consider-selecting2,
.year-of-study {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  height: 13.99px;
}
.year-of-study {
  left: 0;
  line-height: 13.99px;
  font-weight: 500;
  width: 72.28px;
}
.please-consider-selecting2 {
  left: 472.05px;
  width: 210.83px;
}
.labelng-tns-c163-328,
.labelng-tns-c163-329,
.labelng-tns-c163-330,
.labelng-tns-c163-331,
.labelng-tns-c163-332 {
  cursor: pointer;
  border: 0.9px solid var(--color-gainsboro-200);
  padding: 10.259027481079102px 15.285950660705566px 10.259027481079102px
    13.989583015441895px;
  background-color: transparent;
  position: absolute;
  top: 4.66px;
  left: 9.33px;
  border-radius: 44.77px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.labelng-tns-c163-329,
.labelng-tns-c163-330,
.labelng-tns-c163-331,
.labelng-tns-c163-332 {
  padding: 10.259027481079102px 14.791653633117676px 10.259027481079102px
    14.922222137451172px;
  left: 100.16px;
}
.labelng-tns-c163-330,
.labelng-tns-c163-331,
.labelng-tns-c163-332 {
  left: 196.09px;
}
.labelng-tns-c163-331,
.labelng-tns-c163-332 {
  padding: 10.259027481079102px 14.847609519958496px 10.259027481079102px
    14.922222137451172px;
  left: 289.22px;
}
.labelng-tns-c163-332 {
  padding: 10.259027481079102px 15.407191276550293px 10.259027481079102px
    13.989583015441895px;
  left: 382.41px;
}
.divradio-box6 {
  position: absolute;
  top: 467.25px;
  left: 0;
  width: 695.75px;
  height: 62.49px;
  color: var(--color-coral-200);
}
.year-of-graduation {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 100.36px;
  height: 13.99px;
}
.labelng-tns-c163-333,
.labelng-tns-c163-334 {
  border: 0.9px solid var(--color-gainsboro-200);
  background-color: transparent;
  align-items: flex-start;
}
.labelng-tns-c163-333 {
  cursor: pointer;
  padding: 10.259027481079102px 18.727388381958008px 10.259027481079102px
    19.510805130004883px;
  position: absolute;
  top: 4.66px;
  left: 9.33px;
  border-radius: 44.77px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.labelng-tns-c163-334 {
  padding: 10.259027481079102px 18.578166961669922px 10.259027481079102px
    18.727388381958008px;
  left: 93.26px;
}
.labelng-tns-c163-334,
.labelng-tns-c163-335,
.labelng-tns-c163-336,
.labelng-tns-c163-337,
.labelng-tns-c163-338,
.labelng-tns-c163-339 {
  cursor: pointer;
  position: absolute;
  top: 4.66px;
  border-radius: 44.77px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.labelng-tns-c163-335 {
  border: 0.9px solid var(--color-royalblue-300);
  padding: 10.259027481079102px 14.176108360290527px 10.259027481079102px
    8.393750190734863px;
  background-color: var(--color-royalblue-300);
  left: 177.2px;
  align-items: center;
  gap: 4.66px;
}
.labelng-tns-c163-336,
.labelng-tns-c163-337,
.labelng-tns-c163-338,
.labelng-tns-c163-339 {
  border: 0.9px solid var(--color-gainsboro-200);
  padding: 10.259027481079102px 17.785423278808594px 10.259027481079102px
    18.587493896484375px;
  background-color: transparent;
  left: 263.19px;
  align-items: flex-start;
}
.labelng-tns-c163-337,
.labelng-tns-c163-338,
.labelng-tns-c163-339 {
  padding: 10.259027481079102px 18.624797821044922px 10.259027481079102px
    18.680757522583008px;
  left: 347.13px;
}
.labelng-tns-c163-338,
.labelng-tns-c163-339 {
  padding: 10.259027481079102px 17.77609634399414px 10.259027481079102px
    18.596818923950195px;
  left: 431.07px;
}
.labelng-tns-c163-339 {
  padding: 10.259027481079102px 19.324277877807617px 10.259027481079102px
    17.981277465820312px;
  left: 515px;
}
.divm-bg,
.divradio-box7 {
  position: absolute;
  top: 553.06px;
  left: 0;
  width: 695.75px;
  height: 62.49px;
}
.divm-bg {
  top: 664.04px;
  height: 615.54px;
}
.divwhite-box3,
.formng-tns-c163-3 {
  position: absolute;
  top: 50.36px;
  left: 13.99px;
  width: 695.75px;
  height: 1279.58px;
  font-size: 11.19px;
}
.divwhite-box3 {
  top: 0;
  left: 0;
  border-radius: 7.46px;
  background-color: var(--color-white);
  width: 723.73px;
  height: 1371.91px;
  font-size: 14.92px;
}
.please-consider-adding,
.summary {
  position: absolute;
  display: flex;
  align-items: center;
}
.summary {
  top: 0;
  left: 0;
  font-weight: 500;
  width: 59.51px;
  height: 15.85px;
}
.please-consider-adding {
  top: 0.93px;
  left: 495.16px;
  font-size: 11.19px;
  width: 187.72px;
  height: 13.99px;
}
.divjustify-space-between3 {
  position: absolute;
  top: 18.65px;
  left: 13.99px;
  width: 695.75px;
  height: 25.18px;
}
.divsummary,
.inputorganisation-organisatio5 {
  position: absolute;
  border-radius: 7.46px;
  background-color: var(--color-white);
}
.inputorganisation-organisatio5 {
  border: 0.9px solid var(--color-gainsboro-1000);
  width: calc(100% - 47.56px);
  top: 54.09px;
  right: 27.05px;
  left: 20.52px;
  box-sizing: border-box;
  height: 115.65px;
}
.divsummary {
  top: 1381.24px;
  left: 0;
  width: 723.73px;
  height: 196.79px;
  color: var(--color-coral-200);
}
.skills2 {
  position: absolute;
  top: 18.65px;
  left: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 32.61px;
  height: 15.85px;
}
.close,
.uiux-design {
  position: relative;
  color: var(--color-royalblue-300);
  text-align: left;
}
.uiux-design {
  font-size: 11.19px;
  line-height: 14.92px;
  font-weight: 500;
  font-family: var(--font-inter);
}
.close {
  font-size: 13.99px;
  line-height: 13.99px;
  font-family: var(--font-material-icons);
}
.divchip,
.divchip1 {
  cursor: pointer;
  border: 0;
  padding: 7.461111068725586px 9.792708396911621px 7.461111068725586px
    14.922222137451172px;
  background-color: var(--color-aliceblue-400);
  position: absolute;
  top: 4.66px;
  border-radius: 46.63px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.divchip {
  left: 4.66px;
  gap: 7.2px;
}
.divchip1 {
  left: 131.71px;
  gap: var(--gap-5xs-1);
}
.divactive-chip {
  position: absolute;
  top: 127.77px;
  left: 9.33px;
  width: 705.08px;
  height: 39.17px;
}
.divskills,
.inputorganisation-organisatio6 {
  position: absolute;
  border-radius: 7.46px;
  background-color: var(--color-white);
}
.inputorganisation-organisatio6 {
  border: 0.9px solid var(--color-gainsboro-1000);
  width: calc(100% - 47.56px);
  top: 41.04px;
  right: 33.57px;
  left: 13.99px;
  box-sizing: border-box;
  height: 79.27px;
}
.divskills {
  top: 1587.35px;
  left: 0;
  width: 723.73px;
  height: 199.58px;
  color: var(--color-darkslategray-100);
}
.add,
.add-work-experience,
.work-experience {
  position: absolute;
  display: flex;
  align-items: center;
}
.work-experience {
  top: 18.65px;
  left: 13.99px;
  line-height: 15.85px;
  font-weight: 500;
  width: 105.49px;
  height: 15.85px;
}
.add,
.add-work-experience {
  top: 0;
  left: 0;
  line-height: 18.65px;
  width: 18.84px;
  height: 18.65px;
}
.add-work-experience {
  top: 2.33px;
  left: 27.98px;
  font-size: 11.19px;
  line-height: 13.99px;
  font-weight: 500;
  font-family: var(--font-inter);
  width: 115.15px;
  height: 13.99px;
}
.spanview {
  position: absolute;
  top: 48.5px;
  left: 13.99px;
  width: 695.75px;
  height: 18.65px;
  font-size: 18.65px;
  color: var(--color-royalblue-300);
  font-family: var(--font-material-icons);
}
.divwork-ex {
  position: absolute;
  top: 1796.26px;
  left: 0;
  border-radius: 7.46px;
  background-color: var(--color-white);
  width: 723.73px;
  height: 85.8px;
}
.add-education,
.education {
  position: absolute;
  top: 18.65px;
  left: 13.99px;
  line-height: 15.85px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 62.62px;
  height: 15.85px;
}
.add-education {
  top: 2.33px;
  left: 27.98px;
  font-size: 11.19px;
  line-height: 13.99px;
  font-family: var(--font-inter);
  width: 78.4px;
  height: 13.99px;
}
.divedu {
  position: absolute;
  top: 1891.39px;
  left: 0;
  border-radius: 7.46px;
  background-color: var(--color-white);
  width: 723.73px;
  height: 85.8px;
}
.linkedin1,
.social-links-portfolio {
  position: absolute;
  top: 18.65px;
  left: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 135.37px;
  height: 15.85px;
}
.linkedin1 {
  top: 0;
  left: 9.33px;
  line-height: 13.99px;
  width: 45px;
  height: 13.99px;
}
.inputlinkedinlink {
  border: 0.9px solid var(--color-gainsboro-1000);
  background-color: var(--color-white);
  position: absolute;
  width: 100%;
  top: 23.32px;
  right: 0;
  left: 0;
  border-radius: 7.46px;
  box-sizing: border-box;
  height: 44.77px;
}
.divinput-field1,
.facebook1 {
  position: absolute;
  top: 7.46px;
  left: 13.99px;
  width: 333.88px;
  height: 68.08px;
}
.facebook1 {
  top: 0;
  left: 9.33px;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 52.73px;
  height: 13.99px;
}
.divinput-field2,
.instagram {
  position: absolute;
  top: 7.46px;
  left: 375.85px;
  width: 333.88px;
  height: 68.08px;
}
.instagram {
  top: 0;
  left: 9.33px;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 53.89px;
  height: 13.99px;
}
.divinput-field3,
.twitter {
  position: absolute;
  top: 90.47px;
  left: 13.99px;
  width: 333.88px;
  height: 68.08px;
}
.twitter {
  top: 0;
  left: 9.33px;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 37.93px;
  height: 13.99px;
}
.divinput-field4,
.git {
  position: absolute;
  top: 90.47px;
  left: 375.85px;
  width: 333.88px;
  height: 68.08px;
}
.git {
  top: 0;
  left: 9.33px;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 15.91px;
  height: 13.99px;
}
.divinput-field5,
.medium {
  position: absolute;
  top: 173.47px;
  left: 13.99px;
  width: 333.88px;
  height: 68.08px;
}
.medium {
  top: 0;
  left: 9.33px;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 43.14px;
  height: 13.99px;
}
.divinput-field6,
.reddit {
  position: absolute;
  top: 173.47px;
  left: 375.85px;
  width: 333.88px;
  height: 68.08px;
}
.reddit {
  top: 0;
  left: 9.33px;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 34.85px;
  height: 13.99px;
}
.divinput-field7,
.slack {
  position: absolute;
  top: 256.48px;
  left: 13.99px;
  width: 333.88px;
  height: 68.08px;
}
.slack {
  top: 0;
  left: 9.33px;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 29.13px;
  height: 13.99px;
}
.divinput-field8,
.dribbble {
  position: absolute;
  top: 256.48px;
  left: 375.85px;
  width: 333.88px;
  height: 68.08px;
}
.dribbble {
  top: 0;
  left: 9.33px;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 45.73px;
  height: 13.99px;
}
.behance,
.divinput-field9 {
  position: absolute;
  top: 339.48px;
  left: 13.99px;
  width: 333.88px;
  height: 68.08px;
}
.behance {
  top: 0;
  left: 9.33px;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 46.8px;
  height: 13.99px;
}
.codepen,
.divinput-field10 {
  position: absolute;
  top: 339.48px;
  left: 375.85px;
  width: 333.88px;
  height: 68.08px;
}
.codepen {
  top: 0;
  left: 9.33px;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 49.08px;
  height: 13.99px;
}
.divinput-field11,
.figma {
  position: absolute;
  top: 422.49px;
  left: 13.99px;
  width: 333.88px;
  height: 68.08px;
}
.figma {
  top: 0;
  left: 9.33px;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 32.7px;
  height: 13.99px;
}
.divinput-field12 {
  position: absolute;
  top: 422.49px;
  left: 375.85px;
  width: 333.88px;
  height: 68.08px;
}
.divm-pdng1,
.divuser-education {
  position: absolute;
  left: 0;
  width: 723.73px;
}
.divm-pdng1 {
  top: 57.82px;
  height: 498.03px;
  font-size: 11.19px;
  color: var(--color-darkslateblue-100);
}
.divuser-education {
  top: 1986.52px;
  border-radius: 7.46px;
  background-color: var(--color-white);
  box-shadow: 0.7971721887588501px 0.7971721887588501px 9.57px
    rgba(203, 209, 216, 0.13);
  height: 560.52px;
  color: var(--color-darkslategray-100);
}
.basic-information1,
.divright-profile {
  position: absolute;
  top: 172.54px;
  left: 590.36px;
  width: 723.73px;
  height: 2556.36px;
  font-size: 13.06px;
}
.basic-information1 {
  top: 13.99px;
  left: 17.72px;
  line-height: 15.85px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-royalblue-300);
  text-align: left;
  display: flex;
  align-items: center;
  width: 108.76px;
  height: 15.85px;
}
.ling-tns-c163-3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 279.79px;
  height: 44.77px;
}
.about1 {
  position: absolute;
  top: 13.99px;
  left: 17.72px;
  font-size: 13.06px;
  line-height: 15.85px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-100);
  text-align: left;
  display: flex;
  align-items: center;
  width: 37.99px;
  height: 15.85px;
}
.ling-tns-c163-31 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 44.77px;
  left: 0;
  width: 279.79px;
  height: 44.77px;
}
.skills3 {
  position: absolute;
  top: 13.99px;
  left: 17.72px;
  font-size: 13.06px;
  line-height: 15.85px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-100);
  text-align: left;
  display: flex;
  align-items: center;
  width: 32.61px;
  height: 15.85px;
}
.ling-tns-c163-32 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 89.53px;
  left: 0;
  width: 279.79px;
  height: 44.77px;
}
.work-experience1 {
  position: absolute;
  top: 13.99px;
  left: 17.72px;
  font-size: 13.06px;
  line-height: 15.85px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-royalblue-300);
  text-align: left;
  display: flex;
  align-items: center;
  width: 105.49px;
  height: 15.85px;
}
.ling-tns-c163-33 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 134.3px;
  left: 0;
  width: 279.79px;
  height: 44.77px;
}
.education1 {
  position: absolute;
  top: 13.99px;
  left: 17.72px;
  font-size: 13.06px;
  line-height: 15.85px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-100);
  text-align: left;
  display: flex;
  align-items: center;
  width: 62.62px;
  height: 15.85px;
}
.ling-tns-c163-34 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 179.07px;
  left: 0;
  width: 279.79px;
  height: 44.77px;
}
.social-links {
  position: absolute;
  top: 13.99px;
  left: 17.72px;
  font-size: 13.06px;
  line-height: 15.85px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-100);
  text-align: left;
  display: flex;
  align-items: center;
  width: 73.94px;
  height: 15.85px;
}
.ling-tns-c163-35 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 223.83px;
  left: 0;
  width: 279.79px;
  height: 44.77px;
}
.divwhite-box4,
.ulsteps {
  position: absolute;
  top: 0;
  left: 0;
  width: 279.79px;
  height: 268.6px;
}
.divwhite-box4 {
  border-radius: 7.46px;
  background-color: var(--color-white);
}
.back-to-profile,
.chevron-left1 {
  position: absolute;
  color: var(--color-darkslateblue-100);
  text-align: left;
  display: flex;
  align-items: center;
}
.chevron-left1 {
  top: 18.65px;
  left: 13.99px;
  font-size: 22.38px;
  line-height: 22.38px;
  font-family: var(--font-material-icons);
  width: 22.57px;
  height: 22.38px;
}
.back-to-profile {
  top: 20.98px;
  left: 36.37px;
  font-size: 13.99px;
  font-family: var(--font-inter);
  width: 95.49px;
  height: 17.72px;
}
.divwhite-box5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 277.93px;
  left: 0;
  border-radius: 7.46px;
  width: 279.79px;
  height: 59.69px;
}
.divleft-navigate {
  position: absolute;
  top: 172.54px;
  left: 288.19px;
  width: 279.79px;
  height: 337.62px;
}
.segun-elijah {
  margin: 0;
}
.segun-elijah-ogunfuye-container1 {
  line-break: anywhere;
  width: 100%;
}
.segun-elijah-ogunfuye-container {
  position: absolute;
  top: -0.93px;
  left: 0;
  line-height: 17.72px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 88.4px;
  height: 36.37px;
}
.h2h2d-c8a0427d,
.segunelijhagmailcom {
  position: absolute;
  top: 0;
  left: 0;
  width: 138.03px;
  height: 35.44px;
}
.segunelijhagmailcom {
  top: 35.44px;
  font-size: 11.19px;
  line-height: 13.99px;
  font-weight: 500;
  color: var(--color-steelblue-500);
  display: flex;
  align-items: center;
  width: 126.76px;
  height: 13.99px;
}
.divcontent5,
.divuser-dtls {
  position: absolute;
  height: 49.43px;
}
.divcontent5 {
  top: calc(50% - 24.71px);
  left: 55.96px;
  width: 138.03px;
}
.divuser-dtls {
  top: 9.33px;
  left: 13.99px;
  width: 193.99px;
  font-size: 14.92px;
}
.complete-your-profile,
.div170 {
  position: absolute;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 13.99px;
}
.complete-your-profile {
  top: 72.75px;
  left: 13.99px;
  color: var(--color-steelblue-200);
  width: 115.99px;
}
.div170 {
  top: 0;
  left: 171.17px;
  width: 23.01px;
}
.divbar,
.divbar-bg {
  position: absolute;
  left: 0;
  border-radius: 7.46px;
}
.divbar {
  width: calc(100% - 21.04px);
  top: 0.93px;
  right: 21.04px;
  background: linear-gradient(90deg, #62a886 0.02%, #2bff26);
  height: 8.39px;
}
.divbar-bg {
  width: calc(100% - 32.15px);
  top: calc(50% - 5.13px);
  right: 32.15px;
  background-color: var(--color-whitesmoke-400);
  height: 10.26px;
}
.complete-profile,
.divalign-center8 {
  position: absolute;
  top: 93.26px;
  left: 13.99px;
  width: 193.99px;
  height: 13.99px;
  color: var(--color-steelblue-500);
}
.complete-profile {
  top: 9.33px;
  left: 52.49px;
  font-size: 11.19px;
  line-height: 13.99px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89.2px;
}
.acomplete-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-aliceblue-100);
  position: absolute;
  width: calc(100% - 27.98px);
  top: 121.24px;
  right: 13.99px;
  left: 13.99px;
  border-radius: 11.19px;
  height: 32.64px;
}
.divfield-child {
  position: absolute;
  top: 4.66px;
  left: 7.46px;
  width: 58.84px;
  height: 58.84px;
  object-fit: cover;
}
.divfield7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7.46px;
  background-color: var(--color-white);
  width: 221.97px;
  height: 163.21px;
}
.for-users {
  position: absolute;
  top: 6.53px;
  left: 22.38px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 56.2px;
  height: 14.92px;
}
.divmenu-title {
  position: absolute;
  top: 172.54px;
  left: 0;
  background-color: var(--color-whitesmoke-1000);
  width: 221.97px;
  height: 27.98px;
  font-size: 12.12px;
  color: var(--color-steelblue-500);
}
.emp-icons {
  position: absolute;
  top: calc(50% - 10.26px);
  left: 18.65px;
  width: 20.52px;
  height: 20.52px;
}
.registrationsapplications {
  position: absolute;
  top: 12.59px;
  left: 50.36px;
  font-size: 11.19px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-900);
  text-align: left;
  display: flex;
  align-items: center;
  width: 144.13px;
  height: 13.99px;
}
.ah2d-c1806c33 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 39.17px;
}
.emp-icons1 {
  position: absolute;
  top: calc(50% - 10.26px);
  left: 18.65px;
  width: 20.46px;
  height: 20.52px;
}
.collegal-awards,
.nominations {
  position: absolute;
  top: 9.33px;
  left: 50.36px;
  font-size: 11.19px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-900);
  text-align: left;
  display: flex;
  align-items: center;
  width: 89.53px;
  height: 13.99px;
}
.nominations {
  top: 23.32px;
  left: 50.31px;
  width: 68.45px;
}
.clip-path-group {
  position: absolute;
  height: 44%;
  width: 9.24%;
  top: 28%;
  right: 82.35%;
  bottom: 28%;
  left: 8.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ah2d-75ff3f9c {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 39.17px;
  right: 0;
  left: 0;
  height: 46.63px;
}
.watchlist {
  position: absolute;
  top: 12.59px;
  left: 50.36px;
  font-size: 11.19px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-900);
  text-align: left;
  display: flex;
  align-items: center;
  width: 51px;
  height: 13.99px;
}
.ah2d-d9ce11c1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 85.8px;
  right: 0;
  left: 0;
  height: 39.17px;
}
.recently-viewed {
  position: absolute;
  top: 12.59px;
  left: 50.36px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 90.97px;
  height: 13.99px;
}
.ah2d-c0921eb6 {
  position: absolute;
  width: 100%;
  top: 124.97px;
  right: 0;
  left: 0;
  height: 39.17px;
}
.mentor-sessions {
  position: absolute;
  top: 12.59px;
  left: 50.36px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 90.89px;
  height: 13.99px;
}
.ah2d-6f2f9398 {
  position: absolute;
  width: 100%;
  top: 164.14px;
  right: 0;
  left: 0;
  height: 39.17px;
}
.courses {
  position: absolute;
  top: 12.59px;
  left: 50.36px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 45.49px;
  height: 13.99px;
}
.ah2d-6283573d {
  position: absolute;
  width: 100%;
  top: 203.32px;
  right: 0;
  left: 0;
  height: 39.17px;
}
.logout {
  position: absolute;
  top: 10.28px;
  left: 87.05px;
  font-weight: 600;
}
.logout-wrapper {
  position: absolute;
  top: 301.24px;
  left: 8.39px;
  border-radius: 6.85px;
  background-color: var(--color-white);
  border: 0.7px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 204.25px;
  height: 30.84px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: 8.58px;
  color: #174a80;
}
.ulmenu-list {
  position: absolute;
  top: 209.84px;
  left: 0;
  width: 221.97px;
  height: 360px;
  color: var(--color-darkslateblue-900);
}
.divsidebar {
  position: absolute;
  top: 172.54px;
  left: 41.97px;
  background-color: var(--color-white);
  box-shadow: 1.868905782699585px -1.868905782699585px 3.74px rgba(134, 160, 191, 0.06);
  width: 223.83px;
  height: 855.23px;
  overflow: hidden;
  font-size: 11.19px;
}
.edit-profile-page {
  position: relative;
  background-color: var(--color-whitesmoke-300);
  width: 100%;
  height: 2920.09px;
  overflow: hidden;
  text-align: left;
  font-size: 14.92px;
  color: var(--color-darkslateblue-100);
  font-family: var(--font-inter);
}
