body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-montserrat: Montserrat;
  --font-arial: Arial;
  --font-dm-sans: "DM Sans";
  --font-poppins: Poppins;
  --font-roboto: Roboto;
  --font-material-icons: "Material Icons";
  --font-mixed: Mixed;
  --font-segoe-ui: "Segoe UI";
  --font-ubuntu: Ubuntu;
  --font-epilogue: Epilogue;
  --font-raleway: Raleway;
  --font-open-sans: "Open Sans";
  --font-barlow: Barlow;

  /* font sizes */
  --font-size-sm-6: 13.6px;
  --font-size-mini-6: 14.6px;
  --font-size-smi-6: 12.6px;
  --font-size-3xs-7: 9.7px;
  --font-size-xs-7: 11.7px;
  --font-size-10xl-3: 29.3px;
  --font-size-sm-7: 13.7px;
  --font-size-base-7: 15.7px;
  --font-size-mini-9: 14.9px;
  --font-size-lg-7: 18.7px;
  --font-size-base: 16px;
  --font-size-6xl-6: 25.6px;
  --font-size-sm-1: 13.1px;
  --font-size-2xl-3: 21.3px;
  --font-size-2xs-2: 10.2px;
  --font-size-xs-9: 11.9px;
  --font-size-xs-2: 11.2px;
  --font-size-3xs-4: 9.4px;
  --font-size-3xs-3: 9.3px;
  --font-size-sm-3: 13.3px;
  --font-size-base-2: 15.2px;
  --font-size-25xl-8: 44.8px;
  --font-size-mini: 15px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-lg: 18px;
  --font-size-3xl-4: 22.4px;
  --font-size-10xl-8: 29.8px;
  --font-size-mini-2: 14.2px;
  --font-size-2xs-7: 10.7px;
  --font-size-xs-6: 11.6px;
  --font-size-mid-8: 17.8px;
  --font-size-23xl-6: 42.6px;
  --font-size-lg-5: 18.5px;
  --font-size-17xl-1: 36.1px;
  --font-size-smi-2: 12.2px;
  --font-size-xs-5: 11.5px;
  --font-size-base-3: 16.3px;
  --font-size-16xl-5: 35.5px;
  --font-size-smi-4: 12.4px;
  --font-size-mid: 17px;
  --font-size-12xl-3: 31.3px;
  --font-size-base-8: 15.8px;
  --font-size-11xl-8: 30.8px;
  --font-size-base-4: 15.4px;
  --font-size-14xl-6: 33.6px;
  --font-size-base-9: 16.9px;
  --font-size-mid-3: 17.3px;
  --font-size-31xl-6: 50.6px;
  --font-size-9xl: 28px;
  --font-size-12xl-7: 31.7px;
  --font-size-sm-8: 13.8px;
  --font-size-smi-1: 12.1px;
  --font-size-7xl-1: 26.1px;
  --font-size-lg-3: 18.3px;
  --font-size-sm-2: 13.2px;
  --font-size-mini-3: 14.3px;
  --font-size-9xl-5: 28.5px;
  --font-size-2xs-3: 10.3px;
  --font-size-xl-7: 20.7px;
  --font-size-lg-6: 18.6px;
  --font-size-2xl-7: 21.7px;
  --font-size-8xl-9: 27.9px;
  --font-size-xl-2: 20.2px;
  --font-size-7xl-9: 26.9px;
  --font-size-5xl-8: 24.8px;
  --font-size-12xl: 31px;
  --font-size-xl-1: 20.1px;
  --font-size-4xl-2: 23.2px;
  --font-size-2xl-9: 21.9px;
  --font-size-lgi-7: 19.7px;
  --font-size-mini-8: 14.8px;
  --font-size-smi-8: 12.8px;

  /* Colors */
  --color-white: #fff;
  --color-darkslateblue-100: #1c4980;
  --color-darkslateblue-200: #1c1e53;
  --color-darkslateblue-300: rgba(39, 73, 125, 0.24);
  --color-darkslateblue-400: rgba(39, 73, 125, 0.5);
  --color-darkslateblue-500: rgba(39, 73, 125, 0.85);
  --color-darkslateblue-600: rgba(28, 73, 128, 0.9);
  --color-darkslateblue-700: rgba(28, 73, 128, 0.6);
  --color-darkslateblue-800: rgba(28, 73, 128, 0.5);
  --color-darkslateblue-900: rgba(28, 73, 128, 0.8);
  --color-darkslateblue-1000: rgba(28, 73, 128, 0.7);
  --color-darkslateblue-1100: rgba(28, 73, 128, 0.2);
  --color-aliceblue-100: #f2f8fe;
  --color-aliceblue-200: #eaf6fd;
  --color-aliceblue-300: #eef4fa;
  --color-aliceblue-400: #e8f1fc;
  --color-aliceblue-500: #e5f1fc;
  --color-royalblue-100: #1a73e8;
  --color-royalblue-200: #0075e6;
  --color-royalblue-300: #0073e6;
  --color-royalblue-400: rgba(0, 115, 230, 0.9);
  --color-royalblue-500: rgba(0, 115, 230, 0.1);
  --color-gainsboro-100: #e5e7eb;
  --color-gainsboro-200: #dde5ea;
  --color-gainsboro-300: #e3e3e3;
  --color-gainsboro-400: #e5e1da;
  --color-gainsboro-500: #dfdfdf;
  --color-gainsboro-600: #ddd;
  --color-gainsboro-700: #dadce0;
  --color-gainsboro-800: #d9d9d9;
  --color-gainsboro-900: rgba(221, 229, 234, 0.4);
  --color-gainsboro-1000: rgba(221, 229, 234, 0.8);
  --color-steelblue-100: #2c95d7;
  --color-steelblue-200: #5577a0;
  --color-steelblue-300: #496d99;
  --color-steelblue-400: #476b97;
  --color-steelblue-500: #3e6493;
  --color-steelblue-600: #4a5f83;
  --color-mediumseagreen-100: #05c165;
  --color-mediumseagreen-200: #01a768;
  --color-lavender-100: #e6e6f1;
  --color-lavender-200: #e4e4f2;
  --color-lavender-300: rgba(235, 232, 253, 0.3);
  --color-lavender-400: rgba(240, 236, 255, 0.5);
  --color-blueviolet-100: #6548ee;
  --color-mediumslateblue-100: #795cff;
  --color-mediumslateblue-200: #7256f5;
  --color-gray-100: #fffffd;
  --color-gray-200: #f9fbfa;
  --dark-blue: #282938;
  --color-gray-300: #2a2a2a;
  --color-gray-400: #202124;
  --color-gray-500: #111439;
  --color-gray-600: #111827;
  --color-gray-700: #05192d;
  --color-gray-800: #151516;
  --color-gray-900: #080927;
  --color-gray-1000: rgba(0, 0, 0, 0.1);
  --color-gray-1100: rgba(255, 255, 255, 0);
  --color-gray-1200: rgba(255, 255, 255, 0.9);
  --color-gray-1300: rgba(5, 25, 45, 0.6);
  --color-gray-1400: rgba(5, 25, 45, 0.5);
  --color-gray-1500: rgba(0, 0, 0, 0.6);
  --color-gray-1600: rgba(255, 255, 255, 0.5);
  --color-gray-1700: rgba(255, 255, 255, 0.2);
  --color-coral-100: #ff824d;
  --color-coral-200: #fc6d26;
  --color-olive: #989a30;
  --color-khaki-100: #ffe492;
  --color-khaki-200: #fcd980;
  --color-darkslategray-100: #455368;
  --color-darkslategray-200: #425466;
  --color-darkslategray-300: #3c4043;
  --color-silver-100: #bdc1c6;
  --color-silver-200: #c0c0c0;
  --color-dimgray-100: #5f6368;
  --color-dimgray-200: #555;
  --color-dimgray-300: #4a5568;
  --color-whitesmoke-100: #f6f8fa;
  --color-whitesmoke-200: #f5f8fb;
  --color-whitesmoke-300: #f5f8fa;
  --color-whitesmoke-400: #f4f6f9;
  --color-whitesmoke-500: #eff2f6;
  --color-whitesmoke-600: #eee;
  --color-whitesmoke-700: #ececef;
  --color-whitesmoke-800: #ebeaeb;
  --color-whitesmoke-900: rgba(244, 246, 249, 0.7);
  --color-whitesmoke-1000: rgba(244, 246, 249, 0.6);
  --color-black: #000;
  --color-darkgray-100: #9aa0a6;
  --color-darkgray-200: #9d9d9d;
  --color-tomato: #f44336;
  --color-red-100: #ff0000;
  --color-lightslategray: #8da4bf;
  --color-springgreen: #03ef62;
  --color-aquamarine: #87f4b3;
  --color-indigo: #5c0f8b;
  --color-hotpink-100: #ff6ea9;
  --color-slategray-100: #6b7280;
  --color-midnightblue: #001e61;
  --color-papayawhip: #fcf0d6;
  --color-orange-100: rgba(255, 164, 11, 0.06);
  --color-lightskyblue-100: #68d6ff;
  --color-lightskyblue-200: #55caf6;
  --color-lightblue: #bfeeff;
  --color-lightgray-100: #d5d5d5;
  --royal-blue: #2405f2;

  /* Gaps */
  --gap-5xs-8: 7.8px;
  --gap-9xs-9: 3.9px;
  --gap-4xs-4: 8.4px;
  --gap-7xl-2: 26.2px;
  --gap-30xl-2: 49.2px;
  --gap-3xl-4: 22.4px;
  --gap-8xs: 5px;
  --gap-mini: 15px;
  --gap-5xs-1: 7.1px;
  --gap-smi-6: 12.6px;
  --gap-2xs-4: 10.4px;
  --gap-3xs-3: 9.3px;
  --gap-lgi: 19px;
  --gap-mini-9: 14.9px;
  --gap-10xs: 3px;
  --gap-9xs: 4px;
  --gap-10xs-8: 2.8px;
  --gap-9xs-1: 3.1px;
  --gap-7xl-1: 26.1px;
  --gap-7xs-1: 5.1px;
  --gap-6xs-1: 6.1px;
  --gap-8xs-1: 4.1px;
  --gap-8xs-7: 4.7px;
  --gap-9xs-7: 3.7px;
  --gap-lg-7: 18.7px;
  --gap-33xl-5: 52.5px;
  --gap-base-5: 15.5px;
  --gap-4xl-2: 23.2px;
  --gap-lg-6: 18.6px;
  --gap-12xl: 31px;
  --gap-5xs-7: 7.7px;
  --gap-842xl-8: 861.8px;
  --gap-xs: 12px;
  --gap-5xs-9: 7.9px;
  --gap-base-9: 15.9px;
  --gap-6xs-5: 6.5px;
  --gap-2xs-3: 10.3px;
  --gap-2xl-5: 21.5px;

  /* Paddings */
  --padding-9xs-9: 3.9px;
  --padding-xs-7: 11.7px;
  --padding-smi-6: 12.6px;
  --padding-mini-4: 14.4px;
  --padding-0: 0px;
  --padding-4xs-3: 8.3px;
  --padding-sm-1: 13.1px;
  --padding-smi-9: 12.9px;
  --padding-sm-4: 13.4px;
  --padding-sm-9: 13.9px;
  --padding-mini-3: 14.3px;
  --padding-lg-9: 18.9px;
  --padding-lgi-2: 19.2px;
  --padding-mid-7: 17.7px;
  --padding-3xs-7: 9.7px;
  --padding-sm-6: 13.6px;
  --padding-5xs-3: 7.3px;
  --padding-7xs-2: 5.2px;
  --padding-7xs-5: 5.5px;
  --padding-6xs-4: 6.4px;
  --padding-2xs-3: 10.3px;
  --padding-12xs-4: 0.4px;
  --padding-11xs: 2px;
  --padding-9xs: 4px;
  --padding-10xs: 3px;
  --padding-base: 16px;
  --padding-2xl: 21px;
  --padding-smi-5: 12.5px;
  --padding-12xs-9: 0.9px;
  --padding-148xl-4: 167.4px;
  --padding-148xl-3: 167.3px;
  --padding-11xs-8: 1.8px;
  --padding-base-1: 15.1px;
  --padding-4xl-7: 23.7px;
  --padding-2xl-2: 21.2px;
  --padding-55xl-6: 74.6px;
  --padding-60xl-3: 79.3px;
  --padding-8xl: 27px;
  --padding-7xl-7: 26.7px;
  --padding-5xs-2: 7.2px;
  --padding-smi-4: 12.4px;
  --padding-smi-3: 12.3px;
  --padding-xs: 12px;
  --padding-3xs-3: 9.3px;
  --padding-base-8: 16.8px;
  --padding-base-6: 15.6px;
  --padding-lg-7: 18.7px;
  --padding-17xl-6: 36.6px;
  --padding-mid-9: 17.9px;
  --padding-18xl-3: 37.3px;
  --padding-lg: 18px;
  --padding-base-2: 15.2px;
  --padding-11xs-9: 1.9px;
  --padding-9xs-7: 3.7px;
  --padding-339xl-1: 358.1px;
  --padding-3xl-4: 22.4px;
  --padding-12xs: 1px;
  --padding-xs-9: 11.9px;
  --padding-4xs-9: 8.9px;
  --padding-smi-2: 12.2px;
  --padding-sm-5: 13.5px;
  --padding-5xs-9: 7.9px;
  --padding-smi: 13px;
  --padding-smi-1: 12.1px;
  --padding-smi-7: 12.7px;
  --padding-7xs-9: 5.9px;
  --padding-smi-8: 12.8px;
  --padding-xs-8: 11.8px;
  --padding-12xs-2: 0.2px;
  --padding-9xs-1: 3.1px;
  --padding-7xs-1: 5.1px;
  --padding-lgi-3: 19.3px;
  --padding-base-3: 15.3px;
  --padding-mini-2: 14.2px;
  --padding-5xs-5: 7.5px;
  --padding-3xs-8: 9.8px;
  --padding-mini-9: 14.9px;
  --padding-4xs-4: 8.4px;
  --padding-sm: 14px;
  --padding-mini-8: 14.8px;
  --padding-10xs-8: 2.8px;
  --padding-xs-2: 11.2px;
  --padding-6xs-5: 6.5px;
  --padding-8xs-7: 4.7px;
  --padding-1592xl-8: 1611.8px;
  --padding-4xl-2: 23.2px;
  --padding-1018xl-3: 1037.3px;
  --padding-base-5: 16.5px;
  --padding-12xs-1: 0.1px;
  --padding-5xl-9: 24.9px;
  --padding-mid-8: 17.8px;
  --padding-12xl-5: 31.5px;
  --padding-13xl: 32px;
  --padding-xl-1: 20.1px;
  --padding-10xl-8: 29.8px;
  --padding-11xl-6: 30.6px;
  --padding-12xl: 31px;
  --padding-57xl-2: 76.2px;
  --padding-8xs-6: 4.6px;
  --padding-mid-4: 17.4px;
  --padding-lg-6: 18.6px;
  --padding-lg-2: 18.2px;
  --padding-lg-5: 18.5px;
  --padding-11xs-5: 1.5px;
  --padding-66xl-1: 85.1px;
  --padding-5xs-7: 7.7px;
  --padding-21xl: 40px;
  --padding-3xs-9: 9.9px;
  --padding-5xs-1: 7.1px;
  --padding-xs-1: 11.1px;
  --padding-31xl-1: 50.1px;
  --padding-11xs-1: 1.1px;
  --padding-mid: 17px;
  --padding-10xs-9: 2.9px;
  --padding-20xl-7: 39.7px;
  --padding-11xl-8: 30.8px;

  /* border radiuses */
  --br-5xs-8: 7.8px;
  --br-8xs-9: 4.9px;
  --br-mid-5: 17.5px;
  --br-lgi-7: 19.7px;
  --br-5xl-5: 24.5px;
  --br-9xs-9: 3.9px;
  --br-2xl-5: 21.5px;
  --br-mini-7: 14.7px;
  --br-5xs-5: 7.5px;
  --br-lg-7: 18.7px;
  --br-3xl-8: 22.8px;
  --br-lgi: 19px;
  --br-9xs-7: 3.7px;
  --br-11xl: 30px;
  --br-smi-5: 12.5px;
  --br-31xl: 50px;
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-10xs: 3px;
  --br-3xs: 10px;
  --br-2xs: 11px;
  --br-9xs-6: 3.6px;
  --br-3xs-3: 9.3px;
  --br-base-3: 16.3px;
  --br-3xs-6: 9.6px;
  --br-7xs-6: 5.6px;
  --br-8xs-4: 4.4px;
  --br-9306xl-5: 9325.5px;
  --br-5xs-7: 7.7px;
  --br-5xs-6: 7.6px;
  --br-xs-2: 11.2px;
  --br-xs-9: 11.9px;
  --br-lg-8: 18.8px;
  --br-base-8: 15.8px;
  --br-4xl-7: 23.7px;
  --br-mini-9: 14.9px;
  --br-sm: 14px;
  --br-4xs-1: 8.1px;
  --br-9xs-1: 3.1px;
  --br-6xl-4: 25.4px;
  --br-2xs-2: 10.2px;
  --br-8xs-1: 4.1px;
  --br-17xl-6: 36.6px;
  --br-27xl-6: 46.6px;
  --br-25xl-8: 44.8px;
  --br-10xs-8: 2.8px;
  --br-4xl-3: 23.3px;
  --br-10xl-8: 29.8px;
  --br-mid-2: 17.2px;
  --br-18xl-3: 37.3px;
  --br-23xl: 42px;
  --br-54xl-9: 73.9px;
  --br-smi-4: 12.4px;
  --br-2xs-8: 10.8px;
  --br-58xl-4: 77.4px;
  --br-6xs-2: 6.2px;
  --br-base-5: 15.5px;
  --br-5xl-8: 24.8px;
  --br-5xl-1: 24.1px;
}
