.group-child22 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-aliceblue-300);
  width: 1343px;
  height: 72.75px;
}
.home-competition8 {
  position: absolute;
  top: 24.53px;
  right: 515.75px;
  line-height: 26.11px;
  font-weight: 500;
  display: inline-block;
  width: 761.97px;
  height: 23.68px;
  opacity: 0.7;
}
.navigasi-login-child8,
.rectangle-parent15 {
  position: absolute;
  top: 83.94px;
  left: 0;
  width: 1343px;
  height: 72.75px;
}
.navigasi-login-child8 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-darkslateblue-200);
}
.mask-group-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 44.72px;
  height: 44.72px;
  object-fit: cover;
}
.frontend-developer9,
.hi-ogunfuye-segun9 {
  position: absolute;
  left: 0;
  line-height: 150%;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.hi-ogunfuye-segun9 {
  top: 0;
  font-size: 11.85px;
  font-weight: 500;
}
.frontend-developer9 {
  top: 17.78px;
  font-size: 10.16px;
  opacity: 0.7;
}
.hi-ogunfuye-segun-parent6 {
  text-decoration: none;
  position: absolute;
  top: 4.49px;
  left: 44.78px;
  width: 116px;
  height: 32.78px;
  cursor: pointer;
}
.vector-icon26 {
  position: relative;
  width: 11.85px;
  height: 6.77px;
}
.icon9 {
  position: absolute;
  top: 10.09px;
  left: 175.16px;
  width: 20.58px;
  height: 19.67px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 7.29371452331543px 5.209795951843262px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.mask-group-parent6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: -2.8px;
  left: -9.33px;
  width: 195.74px;
  height: 44.72px;
}
.navigasi-login-inner17 {
  position: absolute;
  top: 22.38px;
  left: 1061.34px;
  width: 196.67px;
  height: 35.56px;
  cursor: pointer;
}
.group-icon12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24.33px;
  height: 26.73px;
}
.collegal25,
.logo17 {
  position: absolute;
  top: 0;
  left: 28.64px;
}
.logo17 {
  text-decoration: none;
  top: 26.78px;
  left: 68.08px;
  width: 114.64px;
  height: 26.73px;
  cursor: pointer;
  color: inherit;
}
.competition11 {
  position: relative;
  line-height: 16.09px;
  font-weight: 500;
}
.products9 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: inherit;
}
.blog9 {
  position: relative;
  line-height: 16.09px;
  font-weight: 500;
  cursor: pointer;
}
.pricing9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nav-menu9,
.search9 {
  position: absolute;
  display: flex;
}
.nav-menu9 {
  top: 31.71px;
  left: 235.02px;
  width: 271.4px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22.38px;
  font-size: 12.59px;
  font-family: var(--font-dm-sans);
}
.search9 {
  border: 0;
  font-family: var(--font-arial);
  font-size: 13.06px;
  background-color: transparent;
  top: 0;
  left: 20.52px;
  color: var(--color-white);
  text-align: left;
  align-items: center;
  width: 356.27px;
  height: 26.11px;
}
.icon-search-icon9 {
  position: absolute;
  height: 57.14%;
  width: 3.96%;
  top: 21.43%;
  right: 96.04%;
  bottom: 21.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-wrapper8,
.search-parent7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 376.79px;
  height: 26.11px;
}
.group-wrapper8 {
  top: 5.59px;
  left: 33.57px;
}
.navigasi-login-inner18 {
  position: absolute;
  top: 23.32px;
  left: 544.66px;
  border-radius: 14.66px;
  border: 0.9px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 425.28px;
  height: 37.31px;
  overflow: hidden;
}
.hamburger-iconsvg19 {
  position: relative;
  width: 17.72px;
  height: 16.79px;
  overflow: hidden;
  flex-shrink: 0;
}
.hamburger-iconsvg18 {
  position: absolute;
  top: calc(50% - 10.26px);
  left: 1284.24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent16,
.navigasi-login9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1343px;
}
.navigasi-login9 {
  height: 83.94px;
  font-size: 21.29px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.group-parent16 {
  height: 156.68px;
  color: var(--dark-blue);
  font-family: var(--font-poppins);
}
.education2 {
  top: 0;
  left: 0;
  line-height: 16.79px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 63.61px;
  height: 15.85px;
}
.add2,
.divhdng6,
.education2 {
  position: absolute;
}
.add2 {
  top: 0;
  left: 233.16px;
  font-size: 16.79px;
  line-height: 16.79px;
  font-family: var(--font-material-icons);
  display: flex;
  align-items: center;
  width: 16.97px;
  height: 16.79px;
}
.divhdng6 {
  width: calc(100% - 29.84px);
  top: 14.92px;
  right: 14.92px;
  left: 14.92px;
  background-color: var(--color-white);
  height: 26.11px;
}
.c784a2ab1de-sksvg-icon1 {
  position: absolute;
  bottom: 52.23px;
  left: calc(50% - 41.97px);
  border-radius: 41.97px;
  width: 83.94px;
  height: 83.94px;
  overflow: hidden;
}
.showcase-your-education {
  margin: 0;
}
.showcase-your-education-container1 {
  line-break: anywhere;
  width: 100%;
}
.showcase-your-education-container {
  position: absolute;
  top: 0.93px;
  left: 7.01px;
  line-height: 16.79px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 161.12px;
  height: 30.78px;
}
.spanng-tns-c169-7 {
  position: absolute;
  top: calc(50% + 34.51px);
  left: calc(50% - 87.48px);
  width: 174.95px;
  height: 33.58px;
}
.divblank-21 {
  position: absolute;
  top: 55.03px;
  left: 14.92px;
  border-radius: 9.33px;
  width: 249.95px;
  height: 136.17px;
  text-align: center;
  font-size: 11.19px;
}
.divfield8 {
  position: absolute;
  top: 394.51px;
  left: 0;
  border-radius: 7.46px;
  background-color: var(--color-white);
  width: 279.79px;
  height: 206.11px;
}
.share-your-work-container,
.work-experience2 {
  position: absolute;
  line-height: 16.79px;
  display: flex;
  align-items: center;
}
.work-experience2 {
  top: 0;
  left: 0;
  text-transform: capitalize;
  font-weight: 600;
  width: 107.12px;
  height: 15.85px;
}
.share-your-work-container {
  top: 0.93px;
  left: 1.29px;
  font-weight: 500;
  width: 172.57px;
  height: 30.78px;
}
.divfield9 {
  position: absolute;
  top: 605.28px;
  left: 0;
  border-radius: 7.46px;
  background-color: var(--color-white);
  width: 279.79px;
  height: 206.11px;
}
.seguneli5693 {
  position: absolute;
  top: 28.91px;
  left: 165.78px;
  line-height: 15.85px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 84.36px;
  height: 13.99px;
}
.divj-between1 {
  position: absolute;
  top: 14.92px;
  left: 14.92px;
  width: 249.95px;
  height: 67.15px;
  text-align: right;
  font-size: 11.19px;
  color: var(--color-darkslateblue-600);
}
.segun-elijah-ogunfuye {
  position: absolute;
  top: 98.86px;
  left: 14.92px;
  font-size: 22.38px;
  line-height: 27.05px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 240.73px;
  height: 27.05px;
}
.computer-science-and,
.segunelijhagmailcom1 {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.computer-science-and {
  top: 130.57px;
  left: 14.92px;
  line-height: 15.85px;
  color: var(--color-steelblue-500);
  width: 218.71px;
  height: 15.85px;
}
.segunelijhagmailcom1 {
  top: 0.93px;
  left: 0;
  line-height: 13.99px;
  width: 129.74px;
  height: 13.99px;
}
.edit,
.pemail {
  position: absolute;
}
.edit {
  top: 0.93px;
  left: 143.54px;
  line-height: 13.99px;
  font-family: var(--font-material-icons);
  display: flex;
  align-items: center;
  width: 11.38px;
  height: 11.19px;
}
.pemail {
  top: 155.75px;
  left: 14.92px;
  width: 249.95px;
  height: 14.92px;
  font-size: 11.19px;
  color: var(--color-steelblue-500);
}
.mask-group-icon10 {
  position: absolute;
  top: 6.53px;
  left: 5.6px;
  width: 84.73px;
  height: 84.73px;
  object-fit: cover;
}
.divhdng8,
.portfolio1 {
  position: absolute;
  top: 0;
  left: 0;
}
.portfolio1 {
  line-height: 16.79px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 54.3px;
  height: 15.85px;
}
.divhdng8 {
  width: 100%;
  right: 0;
  background-color: var(--color-white);
  height: 26.11px;
}
.c784a2ab1de-sksvg-icon3 {
  position: absolute;
  bottom: 52.23px;
  left: calc(50% - 17.54px);
  border-radius: 17.16px;
  width: 35.08px;
  height: 33.58px;
  overflow: hidden;
}
.share-your-portfolio-container {
  position: absolute;
  top: 0.93px;
  left: 0.31px;
  line-height: 16.79px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 174.53px;
  height: 30.78px;
}
.spanng-tns-c169-72 {
  position: absolute;
  top: calc(50% + 9.33px);
  left: calc(50% - 87.48px);
  width: 174.95px;
  height: 33.58px;
}
.divblank-23 {
  position: absolute;
  top: 26.11px;
  left: 0;
  border-radius: 9.33px;
  width: 249.95px;
  height: 85.8px;
  text-align: center;
  font-size: 11.19px;
}
.divfield10,
.divfield11 {
  position: absolute;
  top: 14.92px;
  left: 14.92px;
  width: 249.95px;
  height: 111.92px;
}
.divfield10 {
  top: 243.42px;
  left: 0;
  border-radius: 7.46px;
  background-color: var(--color-white);
  width: 279.79px;
  height: 146.42px;
}
.share,
.share-profile {
  position: absolute;
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.share {
  top: 11.19px;
  left: 13.06px;
  font-size: 16.79px;
  line-height: 16.79px;
  font-family: var(--font-material-icons);
  width: 16.97px;
  height: 16.79px;
}
.share-profile {
  top: 12.59px;
  left: 39.17px;
  font-size: 11.19px;
  font-weight: 600;
  font-family: var(--font-inter);
  width: 69.22px;
  height: 13.99px;
}
.share-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-royalblue-300);
  position: absolute;
  top: 184.66px;
  left: 14.92px;
  border-radius: 37.31px;
  width: 120.31px;
  height: 39.17px;
  overflow: hidden;
}
.edit-profile,
.edit1 {
  position: absolute;
  top: 11.19px;
  left: 17.75px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.97px;
  height: 16.79px;
}
.edit-profile {
  top: 12.59px;
  left: 43.86px;
  font-size: 11.19px;
  font-weight: 600;
  font-family: var(--font-inter);
  width: 58.87px;
  height: 13.99px;
}
.buttonbtn-outline {
  position: absolute;
  width: calc(100% - 159.48px);
  top: calc(50% - 263px);
  right: 14.92px;
  left: 144.56px;
  border-radius: 37.31px;
  border: 0.9px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  height: 39.17px;
  cursor: pointer;
  text-align: center;
  font-size: 16.79px;
  font-family: var(--font-material-icons);
}
.divwidth-3002 {
  position: relative;
  border-radius: 7.46px;
  width: 279.79px;
  height: 895.33px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.global-ranking2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13.06px;
  line-height: 16.79px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-100);
  text-align: left;
  display: flex;
  align-items: center;
  width: 94.69px;
  height: 15.85px;
}
.chevron-right3,
.view-leaderboard1 {
  position: absolute;
  color: var(--color-darkslateblue-900);
  text-align: left;
}
.view-leaderboard1 {
  top: -0.47px;
  left: 0;
  font-size: 12.12px;
  line-height: 15.85px;
  font-weight: 500;
  font-family: var(--font-inter);
}
.chevron-right3 {
  top: 0;
  left: 105.85px;
  font-size: 16.79px;
  line-height: 16.79px;
  font-family: var(--font-material-icons);
}
.divalign-center9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% - 13.06px);
  left: 291.45px;
  width: 122.64px;
  height: 16.79px;
}
.not-ranked-currently {
  position: absolute;
  top: 10.26px;
  left: 9.33px;
  line-height: 16.79px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 369.87px;
  height: 13.99px;
}
.divno-rank {
  border-radius: var(--br-7xs-6);
  background-color: #f9f8ff;
  width: 414.09px;
  height: 35.44px;
}
.divno-rank,
.top1 {
  position: absolute;
  top: 0;
  left: 0;
}
.div172,
.divvalue1 {
  position: absolute;
  top: 4.66px;
  left: 24.07px;
  font-size: 13.06px;
}
.divvalue1 {
  top: 15.86px;
  left: 0;
  width: 83px;
  height: 22.38px;
  font-size: 18.65px;
}
.global2 {
  font-weight: 600;
  color: var(--color-darkslateblue-600);
}
.in-global,
.ranking {
  position: relative;
  text-transform: capitalize;
}
.ranking {
  font-weight: 600;
  color: var(--color-darkslateblue-600);
}
.divtext1 {
  position: absolute;
  top: 41.04px;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 35.440277099609375px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 11.19px;
}
.divpercentile1 {
  position: absolute;
  top: 13.99px;
  left: 16.79px;
  width: 83px;
  height: 69.02px;
}
.div173,
.segment,
.users {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.div173,
.users {
  top: 13.99px;
}
.div173 {
  top: 32.64px;
  font-size: 13.99px;
  font-weight: 600;
}
.divall-users1 {
  position: absolute;
  top: 83px;
  left: 16.79px;
  width: 83px;
  height: 49.43px;
  font-size: 11.19px;
}
.divr-data1 {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 9.33px;
  background-color: var(--color-lavender-300);
  width: 116.58px;
  height: 139.9px;
}
.divrank-height10,
.divrank-height11,
.divrank-height12 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 133.88px);
  border-radius: 3.73px 3.73px 0 0;
  background-color: var(--color-lavender-100);
  width: 16.79px;
  height: 127.31px;
}
.divrank-height11,
.divrank-height12 {
  left: calc(50% - 105.99px);
  height: 63.47px;
}
.divrank-height12 {
  left: calc(50% - 78.09px);
  height: 77.35px;
}
.divrank-height13,
.divrank-height14,
.divrank-height15,
.divrank-height16,
.divrank-height17,
.divrank-height18,
.divrank-height19 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 50.2px);
  border-radius: 3.73px 3.73px 0 0;
  background-color: var(--color-lavender-100);
  width: 16.79px;
  height: 59.64px;
}
.divrank-height14,
.divrank-height15,
.divrank-height16,
.divrank-height17,
.divrank-height18,
.divrank-height19 {
  left: calc(50% - 22.31px);
  height: 23.87px;
}
.divrank-height15,
.divrank-height16,
.divrank-height17,
.divrank-height18,
.divrank-height19 {
  left: calc(50% + 5.58px);
  height: 24.45px;
}
.divrank-height16,
.divrank-height17,
.divrank-height18,
.divrank-height19 {
  left: calc(50% + 33.47px);
  height: 16.22px;
}
.divrank-height17,
.divrank-height18,
.divrank-height19 {
  left: calc(50% + 61.37px);
  height: 9.63px;
}
.divrank-height18,
.divrank-height19 {
  left: calc(50% + 89.25px);
  height: 9.27px;
}
.divrank-height19 {
  bottom: -0.01px;
  left: calc(50% + 117.15px);
  height: 6.42px;
}
.divr-chart1 {
  position: absolute;
  bottom: 0;
  left: 116.58px;
  width: 278.86px;
  height: 121.24px;
}
.divrank-chart1 {
  position: absolute;
  top: 49.43px;
  left: 0;
  width: 414.09px;
  height: 139.9px;
  font-size: 13.06px;
  color: var(--color-darkslateblue-100);
}
.divrank-design1,
.divwhite-box6 {
  position: absolute;
  top: 31.71px;
  left: 14.92px;
  width: 414.09px;
  height: 189.33px;
}
.divwhite-box6 {
  top: 0;
  left: 284.45px;
  border-radius: 7.46px;
  background-color: var(--color-white);
  width: 443.94px;
  height: 240.91px;
}
.about2 {
  position: absolute;
  top: 2.42px;
  left: 0;
  line-height: 15.85px;
  font-weight: 500;
}
.editsvg-icon {
  position: relative;
  width: 16.79px;
  height: 16.79px;
  overflow: hidden;
  flex-shrink: 0;
}
.editsvg {
  position: absolute;
  top: 0;
  left: 233.16px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divhdng-edit {
  position: relative;
  width: 249.95px;
  height: 20.7px;
}
.c784a2ab1de-sksvg-icon4 {
  position: relative;
  width: 35.08px;
  height: 33.57px;
  overflow: hidden;
  flex-shrink: 0;
}
.c784a2ab1de-sksvg {
  border-radius: 17.16px;
  background-color: #fbfbfb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0.0008660218445584178px var(--padding-0) 0.0008665951318107545px;
  align-items: flex-start;
  justify-content: flex-start;
}
.craft-a-compelling-container {
  position: relative;
  line-height: 16.79px;
  font-weight: 500;
}
.spanng-tns-c169-73 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 4.597906589508057px var(--padding-0)
    5.278736114501953px;
  align-items: flex-start;
  justify-content: flex-start;
}
.divblank-24,
.divsummery1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.divblank-24 {
  border-radius: 9.33px;
  padding: var(--padding-0) 37.50141143798828px var(--padding-0)
    37.49208450317383px;
  align-items: center;
  gap: 18.65px;
  text-align: center;
  font-size: 11.19px;
}
.divsummery1 {
  position: absolute;
  height: calc(100% - 77.82px);
  top: -0.32px;
  bottom: 78.13px;
  left: 0;
  border-radius: 7.46px;
  background-color: var(--color-white);
  padding: 14.922222137451172px 14.922222137451172px 14.922225952148438px;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 13.99px;
}
.points-iconsvg1 {
  position: absolute;
  top: calc(50% - 12.18px);
  left: 0;
  width: 23.32px;
  height: 24.37px;
  overflow: hidden;
}
.points2 {
  font-weight: 500;
}
.span27 {
  font-weight: 600;
}
.points-0 {
  position: relative;
  line-height: 15.85px;
}
.spanng-tns-c169-74 {
  position: absolute;
  top: calc(50% - 8.94px);
  left: 27.98px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-0) 0.9326388835906982px;
  align-items: flex-start;
  justify-content: flex-start;
}
.divalign-center10 {
  position: relative;
  width: 78.84px;
  height: 24.37px;
}
.divpoints-stat1,
.divwhite-box7 {
  border-radius: 14.92px;
  background-color: var(--color-orange-100);
  display: flex;
  flex-direction: row;
  padding: 17.720138549804688px 173.9091796875px 17.720136642456055px
    17.720138549804688px;
  align-items: flex-start;
  justify-content: flex-start;
}
.divwhite-box7 {
  position: absolute;
  width: 100%;
  top: calc(50% + 49px);
  right: 0;
  left: 0;
  border-radius: 7.46px;
  background-color: var(--color-white);
  padding: 4.66319465637207px;
  box-sizing: border-box;
  font-size: 12.12px;
}
.divsummery-wrap1,
.divwidth-3003 {
  position: absolute;
  top: 0;
  left: 0;
  width: 279.79px;
  height: 245.57px;
  font-size: 13.06px;
  color: var(--color-darkslateblue-100);
}
.divsummery-wrap1 {
  width: 728.39px;
  font-size: 11.19px;
  color: var(--color-darkslateblue-600);
}
.add5,
.skills4 {
  position: absolute;
  line-height: 16.79px;
  display: flex;
  align-items: center;
}
.skills4 {
  top: 1.4px;
  left: 0;
  text-transform: capitalize;
  font-weight: 600;
  width: 33.47px;
  height: 15.85px;
}
.add5 {
  top: 0;
  left: 315.23px;
  font-size: 16.79px;
  font-family: var(--font-material-icons);
  width: 16.97px;
  height: 16.79px;
}
.divhdng10 {
  position: absolute;
  width: calc(100% - 29.84px);
  top: 14.92px;
  right: 14.92px;
  left: 14.92px;
  background-color: var(--color-white);
  height: 28.91px;
}
.uiux-design1 {
  position: relative;
  line-height: 15.85px;
  font-weight: 500;
}
.liskill-tag,
.liskill-tag1 {
  position: absolute;
  top: 4.66px;
  left: 4.66px;
  border-radius: 29.75px;
  background-color: var(--color-lavender-300);
  display: flex;
  flex-direction: row;
  padding: 6.528471946716309px 13.262125968933105px 6.528471946716309px
    13.989583015441895px;
  align-items: flex-start;
  justify-content: flex-start;
}
.liskill-tag1 {
  left: 113.05px;
  padding: 6.528471946716309px 13.15953540802002px 6.528471946716309px
    13.989583015441895px;
}
.ulflex-wrap {
  position: absolute;
  top: 57.82px;
  left: 14.92px;
  width: 332.02px;
  height: 38.24px;
  overflow: hidden;
  font-size: 11.19px;
}
.divhalf-box2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7.46px;
  background-color: var(--color-white);
  width: 361.86px;
  height: 246.22px;
}
.div174 {
  position: relative;
  font-size: 26.11px;
  line-height: 31.71px;
  font-weight: 500;
}
.divcerti-title2,
.today {
  position: absolute;
  display: flex;
}
.divcerti-title2 {
  top: calc(50% - 30.53px);
  left: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.73px;
}
.today {
  top: 17.72px;
  left: 275.61px;
  line-height: 15.85px;
  font-weight: 500;
  align-items: center;
  width: 56.59px;
  height: 15.85px;
}
.divhdng11 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  height: 60.62px;
}
.newbie,
.pf-weight-7003 {
  position: absolute;
  overflow: hidden;
}
.newbie {
  top: 0;
  left: 24.95px;
  line-height: 14.92px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 41.06px;
  height: 13.99px;
}
.pf-weight-7003 {
  top: 68.08px;
  left: 4.66px;
  width: 90.77px;
  height: 14.92px;
}
.may-2023 {
  position: absolute;
  top: 84.87px;
  left: 20.14px;
  font-size: 9.33px;
  line-height: 11.19px;
  font-weight: 600;
  color: var(--color-darkslateblue-700);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60.01px;
  height: 11.19px;
}
.divbadge-img-icon3,
.divbadge3 {
  position: absolute;
  width: 46.63px;
  height: 46.63px;
}
.divbadge-img-icon3 {
  top: 0;
  left: 0;
  object-fit: cover;
}
.divbadge3 {
  top: calc(50% - 41.04px);
  left: calc(50% - 24.25px);
  border-radius: 23.32px;
  background-color: var(--color-whitesmoke-100);
  box-shadow: 0 5.5958333015441895px 60.62px rgba(39, 73, 125, 0.09);
}
.divbadge-box3 {
  position: relative;
  background-color: var(--color-white);
  border-right: 1.9px solid var(--color-gainsboro-900);
  box-sizing: border-box;
  width: 101.97px;
  height: 110.05px;
}
.apr-2023,
.welcome-badge {
  position: absolute;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-badge {
  top: 0;
  left: 1.69px;
  line-height: 14.92px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 87.57px;
  height: 13.99px;
}
.apr-2023 {
  top: 84.87px;
  left: 21.51px;
  font-size: 9.33px;
  line-height: 11.19px;
  color: var(--color-darkslateblue-700);
  width: 57.25px;
  height: 11.19px;
}
.divbadge4 {
  position: absolute;
  top: calc(50% - 41.04px);
  left: calc(50% - 24.26px);
  border-radius: 23.32px;
  background-color: var(--color-whitesmoke-100);
  box-shadow: 0 5.5958333015441895px 60.62px rgba(39, 73, 125, 0.09);
  width: 46.63px;
  height: 46.63px;
}
.member,
.pf-weight-7005 {
  position: absolute;
  overflow: hidden;
}
.member {
  top: 0;
  left: 23.84px;
  line-height: 14.92px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 45.14px;
  height: 13.99px;
}
.pf-weight-7005 {
  top: 68.08px;
  left: 4.66px;
  width: 92.64px;
  height: 14.92px;
}
.may-20231 {
  position: absolute;
  top: 84.87px;
  left: 21.07px;
  font-size: 9.33px;
  line-height: 11.19px;
  font-weight: 600;
  color: var(--color-darkslateblue-700);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60.01px;
  height: 11.19px;
}
.divbadge5 {
  position: absolute;
  top: calc(50% - 41.04px);
  left: calc(50% - 23.33px);
  border-radius: 23.32px;
  background-color: var(--color-whitesmoke-100);
  box-shadow: 0 5.5958333015441895px 60.62px rgba(39, 73, 125, 0.09);
  width: 46.63px;
  height: 46.63px;
}
.divbadge-box5 {
  position: relative;
  background-color: var(--color-white);
  width: 101.97px;
  height: 110.05px;
}
.divbadges-list1 {
  position: absolute;
  top: 68.08px;
  left: -6.53px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 6.5377936363220215px var(--padding-0)
    6.528471946716309px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13.06px;
  text-align: center;
  font-size: 11.19px;
  color: var(--color-steelblue-500);
}
.view-all-badges1 {
  position: absolute;
  top: 0.93px;
  left: 0;
  display: flex;
  align-items: center;
  width: 90.62px;
  height: 14.92px;
}
.chevron-right4,
.divcerti-btn2 {
  position: absolute;
  height: 16.79px;
}
.chevron-right4 {
  top: 0;
  left: 90.44px;
  font-size: 16.79px;
  line-height: 16.79px;
  font-family: var(--font-material-icons);
  display: flex;
  align-items: center;
  width: 16.97px;
}
.divcerti-btn2 {
  top: 199.58px;
  left: 0;
  width: 332.02px;
  font-size: 12.12px;
  color: var(--color-darkslateblue-900);
}
.divfield12,
.divhalf-box3 {
  position: absolute;
  top: 14.92px;
  left: 14.92px;
  width: 332.02px;
  height: 216.37px;
}
.divhalf-box3 {
  top: 0;
  left: 366.53px;
  border-radius: 7.46px;
  background-color: var(--color-white);
  width: 361.86px;
  height: 246.22px;
}
.divhalf-box-wrap2,
.streaks1 {
  position: absolute;
  top: 245.57px;
  left: 0;
  width: 728.39px;
  height: 246.22px;
}
.streaks1 {
  top: 0;
  line-height: 16.79px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 48.35px;
  height: 15.85px;
}
.nov1 {
  position: relative;
  line-height: 17.72px;
  font-weight: 600;
}
.divday365,
.divday366,
.divday367,
.divday368,
.divday369,
.divday370,
.divday371,
.divday372,
.divday373 {
  position: absolute;
  top: calc(50% - 43.37px);
  left: 1.4px;
  background-color: var(--color-whitesmoke-700);
  width: 8.39px;
  height: 8.39px;
}
.divday366,
.divday367,
.divday368,
.divday369,
.divday370,
.divday371,
.divday372,
.divday373 {
  left: 12.59px;
}
.divday367,
.divday368,
.divday369,
.divday370,
.divday371,
.divday372,
.divday373 {
  left: 23.78px;
}
.divday368,
.divday369,
.divday370,
.divday371,
.divday372,
.divday373 {
  left: 34.97px;
}
.divday369,
.divday370,
.divday371,
.divday372,
.divday373 {
  top: calc(50% - 32.18px);
  left: 1.4px;
}
.divday370,
.divday371,
.divday372,
.divday373 {
  left: 12.59px;
}
.divday371,
.divday372,
.divday373 {
  left: 23.78px;
}
.divday372,
.divday373 {
  left: 34.97px;
}
.divday373 {
  top: calc(50% - 20.98px);
  left: 1.4px;
}
.divday374,
.divday375,
.divday376,
.divday377,
.divday378,
.divday379,
.divday380,
.divday381,
.divday382,
.divday383,
.divday384 {
  position: absolute;
  top: calc(50% - 20.98px);
  left: 12.59px;
  background-color: var(--color-whitesmoke-700);
  width: 8.39px;
  height: 8.39px;
}
.divday375,
.divday376,
.divday377,
.divday378,
.divday379,
.divday380,
.divday381,
.divday382,
.divday383,
.divday384 {
  left: 23.78px;
}
.divday376,
.divday377,
.divday378,
.divday379,
.divday380,
.divday381,
.divday382,
.divday383,
.divday384 {
  left: 34.97px;
}
.divday377,
.divday378,
.divday379,
.divday380,
.divday381,
.divday382,
.divday383,
.divday384 {
  top: calc(50% - 9.79px);
  left: 1.4px;
}
.divday378,
.divday379,
.divday380,
.divday381,
.divday382,
.divday383,
.divday384 {
  left: 12.59px;
}
.divday379,
.divday380,
.divday381,
.divday382,
.divday383,
.divday384 {
  left: 23.78px;
}
.divday380,
.divday381,
.divday382,
.divday383,
.divday384 {
  left: 34.97px;
}
.divday381,
.divday382,
.divday383,
.divday384 {
  top: calc(50% + 1.4px);
  left: 1.4px;
}
.divday382,
.divday383,
.divday384 {
  left: 12.59px;
}
.divday383,
.divday384 {
  left: 23.78px;
}
.divday384 {
  left: 34.97px;
}
.divday385,
.divday386,
.divday387,
.divday388,
.divday389,
.divday390,
.divday391,
.divday392,
.divday393,
.divday394 {
  position: absolute;
  top: calc(50% + 12.59px);
  left: 1.4px;
  background-color: var(--color-whitesmoke-700);
  width: 8.39px;
  height: 8.39px;
}
.divday386,
.divday387,
.divday388,
.divday389,
.divday390,
.divday391,
.divday392,
.divday393,
.divday394 {
  left: 12.59px;
}
.divday387,
.divday388,
.divday389,
.divday390,
.divday391,
.divday392,
.divday393,
.divday394 {
  left: 23.78px;
}
.divday388,
.divday389,
.divday390,
.divday391,
.divday392,
.divday393,
.divday394 {
  left: 34.97px;
}
.divday389,
.divday390,
.divday391,
.divday392,
.divday393,
.divday394 {
  top: calc(50% + 23.78px);
  left: 1.4px;
}
.divday390,
.divday391,
.divday392,
.divday393,
.divday394 {
  left: 12.59px;
}
.divday391,
.divday392,
.divday393,
.divday394 {
  left: 23.78px;
}
.divday392,
.divday393,
.divday394 {
  left: 34.97px;
}
.divday393,
.divday394 {
  top: calc(50% + 34.97px);
  left: 1.4px;
}
.divday394 {
  left: 12.59px;
}
.divdays12 {
  position: relative;
  width: 55.33px;
  height: 89.53px;
}
.divmonth12 {
  position: absolute;
  top: 0;
  left: calc(50% - 165.99px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.73px;
}
.divday425 {
  position: absolute;
  top: calc(50% + 34.97px);
  left: 23.78px;
  background-color: var(--color-whitesmoke-700);
  width: 8.39px;
  height: 8.39px;
}
.divmonth13,
.divmonth14 {
  position: absolute;
  top: 0;
  left: calc(50% - 110.67px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.73px;
}
.divmonth14 {
  left: calc(50% - 55.33px);
}
.divday457,
.divday458,
.divday459,
.divday460,
.divday461,
.divday462,
.divday463,
.divday464 {
  position: absolute;
  top: calc(50% - 37.77px);
  left: 1.4px;
  background-color: var(--color-whitesmoke-700);
  width: 8.39px;
  height: 8.39px;
}
.divday458,
.divday459,
.divday460,
.divday461,
.divday462,
.divday463,
.divday464 {
  left: 12.59px;
}
.divday459,
.divday460,
.divday461,
.divday462,
.divday463,
.divday464 {
  left: 23.78px;
}
.divday460,
.divday461,
.divday462,
.divday463,
.divday464 {
  left: 34.97px;
}
.divday461,
.divday462,
.divday463,
.divday464 {
  top: calc(50% - 26.58px);
  left: 1.4px;
}
.divday462,
.divday463,
.divday464 {
  left: 12.59px;
}
.divday463,
.divday464 {
  left: 23.78px;
}
.divday464 {
  left: 34.97px;
}
.divday465,
.divday466,
.divday467,
.divday468,
.divday469,
.divday470,
.divday471,
.divday472,
.divday473,
.divday474 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 1.4px;
  background-color: var(--color-whitesmoke-700);
  width: 8.39px;
  height: 8.39px;
}
.divday466,
.divday467,
.divday468,
.divday469,
.divday470,
.divday471,
.divday472,
.divday473,
.divday474 {
  left: 12.59px;
}
.divday467,
.divday468,
.divday469,
.divday470,
.divday471,
.divday472,
.divday473,
.divday474 {
  left: 23.78px;
}
.divday468,
.divday469,
.divday470,
.divday471,
.divday472,
.divday473,
.divday474 {
  left: 34.97px;
}
.divday469,
.divday470,
.divday471,
.divday472,
.divday473,
.divday474 {
  top: calc(50% - 4.2px);
  left: 1.4px;
}
.divday470,
.divday471,
.divday472,
.divday473,
.divday474 {
  left: 12.59px;
}
.divday471,
.divday472,
.divday473,
.divday474 {
  left: 23.78px;
}
.divday472,
.divday473,
.divday474 {
  left: 34.97px;
}
.divday473,
.divday474 {
  top: calc(50% + 7px);
  left: 1.4px;
}
.divday474 {
  left: 12.59px;
}
.divday475,
.divday476,
.divday477,
.divday478,
.divday479,
.divday480,
.divday481,
.divday482,
.divday483,
.divday484 {
  position: absolute;
  top: calc(50% + 7px);
  left: 23.78px;
  background-color: var(--color-whitesmoke-700);
  width: 8.39px;
  height: 8.39px;
}
.divday476,
.divday477,
.divday478,
.divday479,
.divday480,
.divday481,
.divday482,
.divday483,
.divday484 {
  left: 34.97px;
}
.divday477,
.divday478,
.divday479,
.divday480,
.divday481,
.divday482,
.divday483,
.divday484 {
  top: calc(50% + 18.19px);
  left: 1.4px;
}
.divday478,
.divday479,
.divday480,
.divday481,
.divday482,
.divday483,
.divday484 {
  left: 12.59px;
}
.divday479,
.divday480,
.divday481,
.divday482,
.divday483,
.divday484 {
  left: 23.78px;
}
.divday480,
.divday481,
.divday482,
.divday483,
.divday484 {
  left: 34.97px;
}
.divday481,
.divday482,
.divday483,
.divday484 {
  top: calc(50% + 29.38px);
  left: 1.4px;
}
.divday482,
.divday483,
.divday484 {
  left: 12.59px;
}
.divday483,
.divday484 {
  left: 23.78px;
}
.divday484 {
  left: 34.97px;
}
.divdays15 {
  position: relative;
  width: 55.33px;
  height: 78.34px;
}
.divmonth15,
.divmonth16 {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.73px;
}
.divmonth15 {
  left: calc(50% - 0px);
  padding: var(--padding-0) var(--padding-0) 11.191666603088379px;
}
.divmonth16 {
  left: calc(50% + 55.33px);
}
.divday521,
.divday528,
.divday533,
.divday534,
.divday537,
.divday539,
.divday541,
.divday542 {
  position: absolute;
  top: calc(50% - 32.18px);
  left: 12.59px;
  background-color: var(--color-lightblue);
  width: 8.39px;
  height: 8.39px;
}
.divday528,
.divday533,
.divday534,
.divday537,
.divday539,
.divday541,
.divday542 {
  top: calc(50% - 9.79px);
  left: 1.4px;
}
.divday533,
.divday534,
.divday537,
.divday539,
.divday541,
.divday542 {
  top: calc(50% + 1.4px);
  left: 12.59px;
}
.divday534,
.divday537,
.divday539,
.divday541,
.divday542 {
  left: 23.78px;
}
.divday537,
.divday539,
.divday541,
.divday542 {
  top: calc(50% + 12.59px);
  left: 12.59px;
}
.divday539,
.divday541,
.divday542 {
  left: 34.97px;
}
.divday541,
.divday542 {
  top: calc(50% + 23.78px);
  left: 12.59px;
}
.divday542 {
  left: 23.78px;
}
.divmonth17 {
  position: absolute;
  top: 0;
  left: calc(50% + 110.67px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.73px;
}
.divday546,
.divday547,
.divday548,
.divday554,
.divday555,
.divday556,
.divday557 {
  position: absolute;
  top: calc(50% - 43.37px);
  left: 1.4px;
  background-color: var(--color-lightblue);
  width: 8.39px;
  height: 8.39px;
}
.divday547,
.divday548,
.divday554,
.divday555,
.divday556,
.divday557 {
  left: 12.59px;
}
.divday548,
.divday554,
.divday555,
.divday556,
.divday557 {
  left: 23.78px;
}
.divday554,
.divday555,
.divday556,
.divday557 {
  top: calc(50% - 20.99px);
  left: 1.4px;
  background-color: var(--color-whitesmoke-700);
}
.divday555,
.divday556,
.divday557 {
  left: 12.59px;
}
.divday556,
.divday557 {
  left: 23.78px;
}
.divday557 {
  left: 34.97px;
}
.divmonth18,
.divmonth19,
.divmonth20,
.divmonth21,
.divmonth22,
.divmonth23 {
  position: absolute;
  top: 120.31px;
  left: calc(50% - 165.99px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.73px;
}
.divmonth19,
.divmonth20,
.divmonth21,
.divmonth22,
.divmonth23 {
  left: calc(50% - 110.67px);
}
.divmonth20,
.divmonth21,
.divmonth22,
.divmonth23 {
  left: calc(50% - 55.33px);
}
.divmonth21,
.divmonth22,
.divmonth23 {
  left: calc(50% - 0px);
}
.divmonth22,
.divmonth23 {
  left: calc(50% + 55.33px);
}
.divmonth23 {
  left: calc(50% + 110.67px);
}
.current-streak1 {
  position: relative;
  line-height: 13.99px;
  font-weight: 600;
}
.ph2d-67ace02 {
  position: absolute;
  top: calc(50% - 14px);
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 32.204017639160156px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.div175 {
  position: relative;
  font-weight: 500;
}
.spanblue-text {
  position: absolute;
  top: calc(50% - 12.93px);
  left: 75.11px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 7.433133125305176px 0.9326388835906982px
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.93px;
  color: var(--color-royalblue-300);
}
.divalign-center11 {
  position: absolute;
  width: calc(100% - 107.72px);
  top: calc(50% - 13.99px);
  right: 107.72px;
  left: 0;
  height: 27.98px;
}
.days3,
.max-streak1 {
  position: absolute;
  display: flex;
  align-items: center;
  height: 13.06px;
}
.max-streak1 {
  top: 0;
  left: 0;
  line-height: 13.99px;
  font-weight: 600;
  width: 55.91px;
}
.days3 {
  top: 0.47px;
  left: 60.39px;
  font-weight: 500;
  color: var(--color-royalblue-300);
  width: 33.88px;
}
.divalign-center12 {
  position: absolute;
  width: calc(100% - 107.72px);
  top: calc(50% - 6.99px);
  right: 0;
  left: 107.72px;
  height: 13.99px;
}
.divinfo2 {
  position: relative;
  width: 215.44px;
  height: 27.98px;
}
.activity1,
.divbox4 {
  position: absolute;
  left: 0;
  height: 13.06px;
}
.activity1 {
  top: 0.93px;
  line-height: 14.92px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 40.37px;
}
.divbox4 {
  top: calc(50% - 6.53px);
  background-color: var(--color-lightblue);
}
.divbox4,
.divbox5,
.divbox6 {
  border-radius: var(--br-10xs-8);
  border: 0.9px solid var(--color-whitesmoke-500);
  box-sizing: border-box;
  width: 13.06px;
}
.divbox5 {
  position: absolute;
  top: calc(50% - 6.53px);
  left: 15.85px;
  background-color: var(--color-lightskyblue-100);
  height: 13.06px;
}
.divbox6 {
  left: 31.71px;
  background-color: var(--color-lightskyblue-200);
}
.divactivity1,
.divbox6,
.divbox7 {
  position: absolute;
  top: calc(50% - 6.53px);
  height: 13.06px;
}
.divbox7 {
  left: 47.56px;
  border-radius: var(--br-10xs-8);
  background-color: var(--color-lightskyblue-200);
  border: 0.9px solid var(--color-whitesmoke-500);
  box-sizing: border-box;
  width: 13.06px;
}
.divactivity1 {
  left: 49.51px;
  width: 63.42px;
}
.divinfo3 {
  position: relative;
  width: 113.78px;
  height: 14.92px;
  color: var(--color-darkslateblue-100);
}
.divstreaks-info1 {
  position: absolute;
  top: 254.61px;
  left: calc(50% - 166.01px);
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 2.7979166507720947px var(--padding-0)
    var(--padding-0);
  align-items: center;
  justify-content: flex-start;
  font-size: 10.26px;
  color: var(--color-darkslateblue-1000);
}
.divfield13,
.divflex-wrap1 {
  position: absolute;
  width: 332.02px;
}
.divflex-wrap1 {
  top: 40.1px;
  left: 0;
  height: 282.59px;
  font-size: 11.19px;
  color: var(--color-darkslateblue-800);
}
.divfield13 {
  top: 14.63px;
  left: 14.92px;
  height: 322.69px;
}
.divstreaks1 {
  border-radius: 7.46px;
  background-color: var(--color-white);
  width: 361.86px;
  height: 352.54px;
  overflow: hidden;
}
.certificate1,
.divhdng13,
.divstreaks1 {
  position: absolute;
  top: 0;
  left: 0;
}
.certificate1 {
  line-height: 15.85px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 66.36px;
  height: 15.85px;
}
.divhdng13 {
  width: 100%;
  right: 0;
  background-color: var(--color-white);
  height: 25.18px;
}
.c77d28cdd9d-certsvg-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 60.62px);
  border-radius: 60.62px;
  width: 121.24px;
  height: 121.24px;
  overflow: hidden;
}
.compete-get-certificates,
.recruiters {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.recruiters {
  top: 17.72px;
  left: 119.44px;
}
.strongng-tns-c169-7 {
  position: absolute;
  top: 141.76px;
  left: calc(50% - 150.87px);
  width: 301.74px;
  height: 32.64px;
}
.divblank-25 {
  position: absolute;
  height: calc(100% - 39.17px);
  top: 39.17px;
  bottom: 0;
  left: 0;
  border-radius: 9.33px;
  width: 332.02px;
  text-align: center;
  font-size: 12.12px;
}
.divfield14,
.divwhite-box8 {
  position: absolute;
  top: 14.92px;
  left: 14.92px;
  width: 332.02px;
  height: 214.51px;
}
.divwhite-box8 {
  top: 0;
  left: 366.53px;
  border-radius: 7.46px;
  background-color: var(--color-white);
  width: 361.86px;
  height: 352.54px;
  overflow: hidden;
}
.divhalf-box-wrap3 {
  position: absolute;
  top: 496.45px;
  left: 0;
  width: 728.39px;
  height: 352.54px;
}
.divleft-side1 {
  position: relative;
  width: 728.39px;
  height: 848.99px;
  z-index: 0;
}
.divbox-wrap1 {
  position: absolute;
  top: 207.98px;
  left: 297.51px;
  height: 859.89px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.66px;
  font-size: 13.06px;
}
.segun-elijah-ogunfuye-container2 {
  position: absolute;
  top: -0.93px;
  left: 0;
  line-height: 17.72px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 88.4px;
  height: 36.37px;
}
.h2h2d-c8a0427d1,
.segunelijhagmailcom2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 138.03px;
  height: 35.44px;
}
.segunelijhagmailcom2 {
  top: 35.44px;
  font-size: 11.19px;
  line-height: 13.99px;
  font-weight: 500;
  color: var(--color-steelblue-500);
  display: flex;
  align-items: center;
  width: 126.76px;
  height: 13.99px;
}
.divcontent6,
.divuser-dtls1 {
  position: absolute;
  height: 49.43px;
}
.divcontent6 {
  top: calc(50% - 24.71px);
  left: 55.96px;
  width: 138.03px;
}
.divuser-dtls1 {
  top: 9.33px;
  left: 13.99px;
  width: 193.99px;
  font-size: 14.92px;
}
.complete-your-profile1,
.div176 {
  position: absolute;
  line-height: 13.99px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 13.99px;
}
.complete-your-profile1 {
  top: 72.75px;
  left: 13.99px;
  color: var(--color-steelblue-200);
  width: 115.99px;
}
.div176 {
  top: 0;
  left: 171.17px;
  width: 23.01px;
}
.divbar-bg1,
.divbar1 {
  position: absolute;
  left: 0;
  border-radius: 7.46px;
}
.divbar1 {
  width: calc(100% - 21.04px);
  top: 0.93px;
  right: 21.04px;
  background: linear-gradient(90deg, #62a886 0.02%, #2bff26);
  height: 8.39px;
}
.divbar-bg1 {
  width: calc(100% - 32.15px);
  top: calc(50% - 5.13px);
  right: 32.15px;
  background-color: var(--color-whitesmoke-400);
  height: 10.26px;
}
.complete-profile1,
.divalign-center13 {
  position: absolute;
  top: 93.26px;
  left: 13.99px;
  width: 193.99px;
  height: 13.99px;
  color: var(--color-steelblue-500);
}
.complete-profile1 {
  top: 9.33px;
  left: 52.49px;
  font-size: 11.19px;
  line-height: 13.99px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89.2px;
}
.acomplete-btn1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-aliceblue-100);
  position: absolute;
  width: calc(100% - 27.98px);
  top: 121.24px;
  right: 13.99px;
  left: 13.99px;
  border-radius: 11.19px;
  height: 32.64px;
}
.divfield-item {
  position: absolute;
  top: 4.66px;
  left: 7.46px;
  width: 58.84px;
  height: 58.84px;
  object-fit: cover;
}
.divfield15 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7.46px;
  background-color: var(--color-white);
  width: 221.97px;
  height: 163.21px;
}
.for-users1 {
  position: absolute;
  top: 6.53px;
  left: 22.38px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 56.2px;
  height: 14.92px;
}
.divmenu-title1 {
  position: absolute;
  top: 172.54px;
  left: 0;
  background-color: var(--color-whitesmoke-1000);
  width: 221.97px;
  height: 27.98px;
  font-size: 12.12px;
  color: var(--color-steelblue-500);
}
.emp-icons6 {
  position: absolute;
  top: calc(50% - 10.26px);
  left: 18.65px;
  width: 20.52px;
  height: 20.52px;
}
.registrationsapplications1 {
  position: absolute;
  top: 12.59px;
  left: 50.36px;
  font-size: 11.19px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-900);
  text-align: left;
  display: flex;
  align-items: center;
  width: 144.13px;
  height: 13.99px;
}
.ah2d-c1806c331 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 39.17px;
}
.emp-icons7 {
  position: absolute;
  top: calc(50% - 10.26px);
  left: 18.65px;
  width: 20.46px;
  height: 20.52px;
}
.collegal-awards1,
.nominations1 {
  position: absolute;
  top: 9.33px;
  left: 50.36px;
  font-size: 11.19px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-900);
  text-align: left;
  display: flex;
  align-items: center;
  width: 90.47px;
  height: 13.99px;
}
.nominations1 {
  top: 23.32px;
  left: 50.31px;
  width: 68.45px;
}
.clip-path-group1 {
  position: absolute;
  height: 44%;
  width: 9.24%;
  top: 28%;
  right: 82.35%;
  bottom: 28%;
  left: 8.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ah2d-75ff3f9c1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 39.17px;
  right: 0;
  left: 0;
  height: 46.63px;
}
.watchlist1 {
  position: absolute;
  top: 12.59px;
  left: 50.36px;
  font-size: 11.19px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-900);
  text-align: left;
  display: flex;
  align-items: center;
  width: 51px;
  height: 13.99px;
}
.ah2d-d9ce11c11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 85.8px;
  right: 0;
  left: 0;
  height: 39.17px;
}
.recently-viewed1 {
  position: absolute;
  top: 12.59px;
  left: 50.36px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 90.97px;
  height: 13.99px;
}
.ah2d-c0921eb61 {
  position: absolute;
  width: 100%;
  top: 124.97px;
  right: 0;
  left: 0;
  height: 39.17px;
}
.mentor-sessions1 {
  position: absolute;
  top: 12.59px;
  left: 50.36px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 90.89px;
  height: 13.99px;
}
.ah2d-6f2f93981 {
  position: absolute;
  width: 100%;
  top: 164.14px;
  right: 0;
  left: 0;
  height: 39.17px;
}
.courses1 {
  position: absolute;
  top: 12.59px;
  left: 50.36px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 45.49px;
  height: 13.99px;
}
.ah2d-6283573d1 {
  position: absolute;
  width: 100%;
  top: 203.32px;
  right: 0;
  left: 0;
  height: 39.17px;
}
.ulmenu-list1 {
  position: absolute;
  top: 209.84px;
  left: 0;
  width: 221.97px;
  height: 360px;
  color: var(--color-darkslateblue-900);
}
.divsidebar1 {
  position: absolute;
  top: 207.98px;
  left: 42.9px;
  background-color: var(--color-white);
  box-shadow: 1.868905782699585px -1.868905782699585px 3.74px rgba(134, 160, 191, 0.06);
  width: 223.83px;
  height: 855.23px;
  overflow: hidden;
  font-size: 11.19px;
}
.user-profile {
  position: relative;
  background-color: var(--color-whitesmoke-300);
  width: 100%;
  height: 1120.1px;
  overflow: hidden;
  text-align: left;
  font-size: 14.92px;
  color: var(--color-darkslateblue-100);
  font-family: var(--font-inter);
}
